<section>
  <div class="programmes_main_page">
    <div class="banner_content">
      <img src="../../../assets/img/MLZS/banner/Locate-Us.png" class="w-100" alt="">
    </div>
    <div class="subMenu_content">
      <app-sub-menu></app-sub-menu>
    </div>

    <div class="box mt-3">
      <div class="text-center mt-5">
        <h1 class="text-center"><b>Locate Us</b></h1>
        <img src="../../../../assets/img/MLZS/prg_text_bg.png" alt="" class="text_bg">
      </div>
      <p class="text-center">Discover a Mount Litera Zee School near you and take the first step towards excellence.</p>
      <div class="dropDownList">
        <form action="" [formGroup]="searchForm">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <select name="" id="" class="form-control  dropdown-toggle" formControlName="zone"
                  (change)="selectZone($any($event.target).value)">
                  <option value="">Zone</option>
                  <option value="{{z.zone}}" *ngFor="let z of zoneList">
                    {{z.zone}}</option>
                </select>
                <img src="../../../assets/img/MLZS/down_arrow_icon.png" class="select-arrow" alt="down_arrow_icon">
              </div>
            </div>
            <div class="col-md-3 res_input">
              <div class="form-group">
                <select name="" id="" class="form-control  dropdown-toggle" formControlName="state"
                  (change)="selectState($any($event.target).value)">
                  <option value="">State/District</option>
                  <option value="{{state.State_Id}}" *ngFor="let state of stateList">
                    {{state.State_Name}}</option>
                </select>
                <img src="../../../assets/img/MLZS/down_arrow_icon.png" class="select-arrow" alt="down_arrow_icon">
              </div>
            </div>
            <div class="col-md-3 res_input">
              <div class="form-group">
                <select name="" id="" class="form-control  dropdown-toggle" formControlName="city"
                  (change)="selectCity($any($event.target).value)">
                  <option value="">Select City</option>
                  <option value="{{city.City_Id}}" *ngFor="let city of cityList">{{city.City_Name}}
                  </option>
                </select>
                <img src="../../../assets/img/MLZS/down_arrow_icon.png" class="select-arrow" alt="down_arrow_icon">
              </div>
            </div>
            <div class="col-md-3 res_input">
              <div class="form-group">
                <select name="" id="" class="form-control  dropdown-toggle" formControlName="location"
                  (change)="selectLocation($any($event.target).value)">
                  <option value="">Location</option>
                  <option value="{{location.Franchisee_Code}}" *ngFor="let location of franchiseeList">
                    {{location.Franchisee_Name}}</option>
                </select>
                <img src="../../../assets/img/MLZS/down_arrow_icon.png" class="select-arrow" alt="down_arrow_icon">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="row g-4 mb-5">

        <!-- Card Template -->
        <div class="col-md-4 mt-5" *ngFor="let a of centerList">
          <div class="school-card h-100">
            <div class="subcard_content">
              <div class="row title_content_locate">
                <div class="col-2 d-flex justify-content-center">
                  <img src="../../../assets/img/MLZS/home_white.png" alt="School" class="hover-img">
                  <img src="../../../assets/img/MLZS/home.png" alt="School Hover" class="default-img">
                </div>

                <div class="col-10 p-0"><strong> {{a.Franchisee_Name}}</strong></div>
              </div>
              <div class="sub_para row">
                <div class="col-2"></div>
                <div class="col-10 p-1">
                  <p class="address p-0 m-0">{{a.full_address}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-2 d-flex justify-content-center">
                  <img src="../../../assets/img/MLZS/phone.png" alt="School" class="phone_white-img">
                  <img src="../../../assets/img/MLZS/phone_white.png" alt="School Hover" class="phone-img">
                </div>
                <div class="col-3 p-0">
                  <a href="tel:{{a.Mobile_No}}" *ngIf="a.Mobile_No != ''">
                    <label class="">{{a.Mobile_No}}</label>
                  </a>
                </div>
                <div class="col-2 d-flex justify-content-center">
                  <img src="../../../assets/img/MLZS/phone.png" alt="School" class="phone_white-img">
                  <img src="../../../assets/img/MLZS/phone_white.png" alt="School Hover" class="phone-img">
                </div>
                <div class="col-5 p-0">
                  <a href="tel:{{a.Mobile_No}}" *ngIf="a.Mobile_No != ''">
                    <label class="">{{a.Phone_No1}}</label>
                  </a>
                </div>
                <div class="col-2 d-flex justify-content-center mt-3">
                  <img src="../../../assets/img/MLZS/email.png" alt="School" class="email_white-img">
                  <img src="../../../assets/img/MLZS/email_white.png" alt="School Hover" class="email-img">
                </div>
                <div class="col-10 p-0 mt-3">
                  <p class="p-0 m-0">{{a.Email_Id}}</p>
                </div>
              </div>
            </div>
            <div class="d-flex gap-2 justify-content-center px-4 mt-3">
              <a href="https://www.google.com/maps/search/?api=1&query={{a.Latitude}},{{a.Longitude}}" target="_blank">
                <button class="btn btn-light btn-sm btn-style rounded-2">Map Direction <span
                    class="material-symbols-outlined">
                    arrow_forward
                  </span></button>
              </a>
              <button class="btn btn-light btn-sm btn-style rounded-2" (click)="setaddress(a)">Enquire Now
                <!-- ➜ -->
                <span class="material-symbols-outlined">
                  arrow_forward
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>