.text_bg {
    width: 11%;
    position: relative;
    bottom: 1.8rem;
    z-index: 1;
    height: 20px;
}
/* section{
  background: url("../../../assets/img/MLZS/bg_svg/Convert-to-an.svg") no-repeat center center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  } */
h1 {
    position: relative;
    z-index: 9;
}
.school-card {
    border-radius: 10px;
    border: 1px solid#eee;
    padding: 20px;
    background: #fff;
    color: rgba(1, 72, 118, 1);
    transition: 0.3s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    text-align: left;
}

.school-card:hover {
    background:rgba(60, 185, 233, 1);
    cursor: pointer;;
    color: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

.school-card:hover i,
.school-card:hover p,
.school-card:hover span {
  color: #fff;
}
.school-card:hover .btn-style{
 border:1px solid#fff;
 background-color:transparent;
 color: #fff;
}

.school-card h6{
font-weight: 600;
}
.school-card p,a{
    font-size: 14px;
    color: rgba(1, 72, 118, 1);
    text-decoration: none;
}
.btn-style{
     color: rgba(0, 72, 119, 1);
     background: rgba(72, 199, 244, 1);
}
select{
    font-size: 13px;
    height: 30px;
}
.subcard_content{
  min-height: clamp(170px, 15vw, 250px);
  overflow: hidden;
}
.select-arrow {
  position: relative;
  bottom: 1.6rem;
  left: 14.3rem;
  pointer-events: none;
  color: #888;
  font-weight: 100;
}