.about_content {
  width: 100%;
  padding: 55px 0px;
  background-color: #004878;
}
.title_content h2 {
  position: relative;
  z-index: 9;
}

.title_content p {
  margin: 0;
}

.text_bg {
  width: 242px;
  position: relative;
  bottom: 1.8rem;
  z-index: 1;
  height: 35px;
}

a {
  text-decoration: none;
}
.text_bg{
    width: 15%;
    position: relative;
    bottom: 1.7rem;
    z-index: 1;
    left: 0rem;
    height: 26px;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media screen and (max-width: 600px) {

}
.item_white_bg{
  background: #fff;
  width: 95%;
  margin: auto;
  min-height: 200px;
  height: clamp(325px, 40vh, 400px);
  border-radius: 5px;
  padding: 1rem 1rem;
  box-shadow: 0 -9px 10px -1px #ccc;
}
.item_white_bg:hover {
    background:rgba(60, 185, 233, 1);
    cursor: pointer;
    color: #fff;
    border: none;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

.item_white_bg:hover i,
.item_white_bg:hover p,
.item_white_bg:hover h6,
.item_white_bg:hover label {
  /* color: #fff; */
color:#fff
}
h3{
    font-weight: 600;
    overflow: hidden;
}
.item h3{
    color: #FFF;
    text-align: left;

}
.item_white_bg h3{
    color: #004878;
    text-align: left;
    font-size: 1rem;
}
.item_text p{
    font-size: 13px;
    color: #fff;
    text-align: left;
}

.item_img_content{
    width: 100%;
    height: clamp(165px, 25vh, 165px) !important;
    overflow: hidden;
    margin-top: 1rem;
}

.item_img_content img{
    width: 100%;
    height: clamp(165px, 25vh, 165px) !important;
    overflow: hidden;
    margin-top: 1rem;
}
.item_text img{
    width: 25px;
}

hr{
    margin: 0px 0px 0px 0px;
}

.item_white_bg{
    cursor: pointer;
    overflow: hidden;
}
.item_white_bg p{
color:rgba(72, 199, 244, 1)
}
.item{
    cursor: pointer;
    overflow: hidden;
}