.about_content {
  width: 100%;
  padding: 55px 0px;
  background-color: #004878;
}
.title_content h2 {
  position: relative;
  z-index: 9;
}

.title_content p {
  margin: 0;
}

.text_bg {
  width: 242px;
  position: relative;
  bottom: 1.8rem;
  z-index: 1;
  height: 35px;
}

a {
  text-decoration: none;
}

/* .home-demo .item {
  background: transparent;
  width: 95%;
  margin: auto;
  height: clamp(335px, 40vh, 460px);
  border-radius: 5px;
  padding: clamp(8px, 1vw, 20px) clamp(10px, 1vw, 30px);
  overflow: hidden;
}

.home-demo h2 {
  color: #FFF;
  text-align: center;
  margin: 0;
  font-style: italic;
  font-weight: 300;
}

.news ::ng-deep.owl-carousel .owl-stage {
  position: relative;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  height: clamp(340px, 40vh, 470px);
  overflow: hidden;
}


.item_text h6 {
  color: #014876;
}

.item_text p {
  font-size: 13px;
  color: #014876;
}

.item_text {
  height: 100px;
  overflow-y: scroll;
}

hr {
  margin: 15px 0px 0px 0px;
  height: 2px;
  background-color: #fff;
}

::ng-deep .owl-item.active.center .item hr {
  background-color: #212529;
  height: 2px;
}

::ng-deep .owl-item.active.center .item h6,
::ng-deep .owl-item.active.center .item h6 {
  color: #004877 !important;
}

::ng-deep .news_owl .item h6 {
  color: #fff !important;
}

::ng-deep .owl-item.active.center .item p,
::ng-deep .owl-item.active.center .item p {
  color: #004877 !important;
  font-size: 14px;
  font-weight:500;
}

::ng-deep .news_owl .item p {
  color: #fff !important;
  font-size: 14px;
  font-weight: 600;
}

.short_para {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px !important;
}

.item {
  cursor: pointer;
}

::ng-deep .center {
  background-color: #FFF !important;
  box-shadow: 0px 0px 10px 0px #0000003b !important;
  color: #000 !important;
}

::ng-deep .owl-item {
  background-color: #44C8F5;
  color: #fff;
}

@media screen and (max-width: 600px) {
  ::ng-deep .news .owl-carousel .owl-stage {
    position: relative;
    touch-action: manipulation;
    height: auto !important;
    overflow: hidden;
  }
}

@media screen and (min-width: 1920px) {}

input::placeholder {
  color: rgba(34, 17, 34, 1)
}

input:-ms-input-placeholder {
  color: rgba(34, 17, 34, 1)
}

input::-ms-input-placeholder {
  color: rgba(34, 17, 34, 1)
} */

.text_bg{
    width: 15%;
    position: relative;
    bottom: 1.7rem;
    z-index: 1;
    left: 0rem;
    height: 26px;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media screen and (max-width: 600px) {

}
.item_white_bg{
  background: #fff;
  width: 95%;
  margin: auto;
  min-height: 200px;
  height: clamp(325px, 40vh, 400px);
  border-radius: 5px;
  padding: 1rem 1rem;
  box-shadow: 0 -9px 10px -1px #ccc;
}
.item_white_bg:hover {
    background:rgba(60, 185, 233, 1);
    cursor: pointer;
    color: #fff;
    border: none;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

.item_white_bg:hover i,
.item_white_bg:hover p,
.item_white_bg:hover h6,
.item_white_bg:hover label {
  /* color: #fff; */
color:#fff
}
/* .item_white_bg:hover .btn-style{
 border:1px solid#fff;
 background-color:#fff;
 color: rgba(1, 72, 118, 1);
}

.item_white_bg .btn-style:hover {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
} */
h3{
    font-weight: 600;
    overflow: hidden;
}
.item h3{
    color: #FFF;
    text-align: left;

}
.item_white_bg h3{
    color: #004878;
    text-align: left;
    font-size: 1rem;
}
.item_text p{
    font-size: 13px;
    color: #fff;
    text-align: left;
}

.item_img_content{
    width: 100%;
    height: clamp(165px, 25vh, 165px) !important;
    overflow: hidden;
    margin-top: 1rem;
}

.item_img_content img{
    width: 100%;
    height: clamp(165px, 25vh, 165px) !important;
    overflow: hidden;
    margin-top: 1rem;
}
.item_text img{
    width: 25px;
}

hr{
    margin: 0px 0px 0px 0px;
}

.item_white_bg{
    cursor: pointer;
    overflow: hidden;
}
.item_white_bg p{
color:rgba(72, 199, 244, 1)
}
.item{
    cursor: pointer;
    overflow: hidden;
}