<section>
  <div class="about_content news">
    <div class="box">
      <div class="row">
        <div class="title_content text-center">
          <h2 class="text-white"><b>Discover More</b></h2>
          <img src="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/text-bg.png" class="text_bg" alt="">
          <div class="text-white">
            <p>Want to know about the exciting events at Mount Litera Zee School?</p>
            <p>From academic milestones to vibrant extracurriculars, discover all about the latest updates and
              celebrations within our school community.</p>
          </div>
        </div>
        <div class="col-md-4 mt-5">
          <div class="item_white_bg" routerLink="/news">
            <div class="item_img_content">
              <img class="text_bg" src="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/news2.png">
            </div>
            <hr>
            <div class="item_text mt-2">
              <h3 class="mt-2">News</h3>
              <p class="text-left shortPara">Stay updated with the latest happenings and announcements.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-5">
          <div class="item_white_bg"><!-- routerLink="/events" -->
            <div class="item_img_content">
              <img class="text_bg" src="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/news1.png">
            </div>
            <hr>
            <div class="item_text mt-2">
              <h3 class="mt-2">Event</h3>
              <p class="text-left shortPara">Discover upcoming and past events that shape our vibrant community.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-5">
          <div class="item_white_bg" routerLink="/blogs">
            <div class="item_img_content">
              <img class="text_bg" src="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/news3.png">
            </div>
            <hr>
            <div class="item_text mt-2">
              <h3 class="mt-2">Blogs</h3>
              <p class="shortPara">Explore insightful articles and stories that inspire learning and growth.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>