section {
  background-image: url('https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/programm_bg.png');
  background-size: cover;
  width: 100%;
  padding: 25px 0px 50px 0px;
}

h1 {
  font-family: 'Montserrat_bold';
  overflow: hidden;
}

.text_bg {
  width: 28%;
  height: 25px;
  position: relative;
  bottom: 1.8rem;
  left: 2rem;
}

.fr_img_content img {
  width: 75%;
}

@media screen and (max-width: 600px) {
  .about-section{
    background-size: cover;
    width: 100%;
    height: auto !important;
    min-height: 400px;
    max-height: 755px;
}
  #about_content_bg .text_bg {
    width: 20%;
    bottom: 2em;
    height: 28px;
    z-index: 1;
    left: 0rem !important;
    position: relative;
}
  .overlay-box {
    max-width: 100% !important;
  }

  .fr_img_content {
    margin-top: 20px;
  }

}

h2 {
  position: relative;
  z-index: 9;
}

.about-section {
  background: url('https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/partner-bg.png') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 40vw; /* makes height relative to screen width */
  min-height: 400px; 
  max-height: 755px;
  /* margin-top: 8rem; */
}

.overlay-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  max-width: 55%;
  margin: 3rem 0;
}

.overlay-box h1 {
  font-weight: 800;
}

.stats-bar {
  background-color: rgba(255, 255, 255, 0.8);
}

.stat-number {
  font-weight: 800;
  font-size: 1.5rem;
}

.stat-text {
  font-size: 0.9rem;
  color: #555;
}
.btn-custom {
   display: flex;
    padding: clamp(10px, 1.2vw, 10px) clamp(25px, 3vw, 44px);
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
     background: rgba(72, 199, 244, 1);
    color: #004877;
    font-family: Poppins, sans-serif;
    font-size: clamp(14px, 1.5vw, 14px);
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: -0.36px;
}
.programm_text_content h1{
    font-size: 1.5rem !important;
    font-family: 'Poppins' !important;
}

.btn-custom:hover {
  background: rgba(72, 199, 244, 2);
  color: rgba(0, 72, 119, 1)#fff;
}

h1 {
  overflow: hidden;
}

#about_content_bg h1 {
  position: relative;
  z-index: 2;
}

#about_content_bg .text_bg {
    width: 78px;
    bottom: 2em;
    height: 28px;
    z-index: 1;
    left: 14rem;
    position: relative;
}

.container {
  display: flex;
  justify-content: flex-end;
}