<section class="about-section" id="about_content_bg">
  <div class="container">
    <div class="overlay-box">
      <h2>Reasons to partner with<br> Mount Litera Zee School</h2>
      <img src="../../../assets/img/MLZS/prg_text_bg.png" class="text_bg" alt="prg_text_bg">
      <p class="mt-0">
      Mount Litera Zee School is one of the leading and fastest-growing chains of K-12 schools in India. Started under the pioneering leadership of Zee Learn Ltd., an education A powered by the Essel Group, Mount Litera Zee School is on a mission to redefine the education landscape in the country.
      </p>
      <button routerLink="/partner-with-us" class="btn btn-custom mt-3">Know More →</button>
    </div>
  </div>
</section>