<section class="about-section" id="about_content_bg">
  <div class="container">
    <div class="overlay-box">
      <h2>Reasons to partner with<br> Mount Litera Zee School</h2>
      <img src="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/prg_text_bg.png" class="text_bg" alt="prg_text_bg">
      <p class="mt-0">
        Mount Litera Zee School operates under Zee Learn Ltd., a trailblazer in Indian education, backed by the trusted
        Zee Network and the robust support of the Essel Group. As one of the fastest-growing school networks in the
        country, we have a strong presence with over 130 schools across India.
      </p>
      <button routerLink="/partner-with-us" class="btn btn-custom mt-3">Enquire Now <span class="material-symbols-outlined">
                arrow_forward
            </span></button>
    </div>
  </div>
</section>