<section>
    <div class="blogs py-4">
        <div class="box mt-5">
            <div class="row">
                <div class="col-md-6">
                    <div class="blog_text_content">
                        <div class="title_content">
                        <h2><b>Blogs</b></h2>
                        <img src="../../../assets/img/MLZS/prg_text_bg.png" class="text_bg" alt="">
                        <p>
                            Read up engaging stories and articles, helpful tips, and updates, offering a unique glimpse into the exciting events and experiences that define life at Mount Litera Zee School.
                        </p>
                    </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="image-container" routerLink="/blog/{{top_blog_img?.slug}}">
                        <div>
                        <img src="{{top_blog_img}}" alt="Image with overlay" />
                    </div>
                    
                        <div class="text-overlay">
                            <div class="sub_text_content">
                            <div class="date">{{top_blog?.FromDate}}</div>
                            <div class="sub_text">{{top_blog?.Title}}</div>
                        </div>
                        </div>
                      </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4" *ngFor="let a of blogdata">
                    <div class="image-container" routerLink="/blog/{{a.slug}}">
                        <div *ngFor="let img of a.OtherFiles">
                        <img src="{{img?.value}}" alt="Image with overlay" />
                    </div>
                    
                        <div class="text-overlay">
                            <div class="sub_text_content">
                            <div class="date">{{a?.FromDate}}</div>
                            <div class="sub_text">{{a?.Title}}</div>
                        </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>