<section>
    <div class="programmes_main_page">
        <div class="d-none d-md-block">
            <img src="../../../assets/img/MLZS/banner/terms-conditions.png" class="img-fluid w-100" alt="about banner">
            <h1 class="banner-text">Disclaimer</h1>
        </div>
        <div class="d-block d-md-none">
            <img src="../../../assets/img/MLZS/banner/terms-conditions.png" class="img-fluid w-100" alt="Mobile banner">
            <h1 class="banner-text">Disclaimer</h1>
        </div>
        <div class="subMenu_content">
            <app-sub-menu></app-sub-menu>
        </div>

        <div class="programmes_content">

            <div class="box">
                <h5 class="mt-4"><strong>Disclaimer</strong></h5>
                <p>As provided above, all information, technology and service provided shall, at all times, be on a "as is" and "as available" basis and ZLL hereby states that any representation or warranty of any kind, express or implied, as to the website or its operation is not undertaken by ZLL. To the maximum extent permitted by applicable law, ZLL disclaim all warranties, including without limitation, any implied warranties of merchantability, fitness for a particular purpose, and no infringement. ZLL makes no warranty that the website will meet your requirements, or that the website shall be uninterrupted, timely, secure, or error free.</p>
            </div>
        </div>
    </div>
</section>