<section>
    <div class="main_content">
        <div class="start_school_banner desktop_content" id='desktop_content'>
            <div class="row">
                <!-- <div class="col-md-7">
            </div> -->
                <!-- <div class="col-md-12 d-flex justify-content-end justify-align-center"> -->
                <div class="francine_form">
                    <h2 class="text-left title">Fill out the form to get started!</h2>
                    <div class="form">
                        <form [formGroup]="admissionForm">
                            <div class="col-md-row">
                                <div class="col-md-12">
                                    <input type="text" placeholder="Name*" class="form-control" formControlName="name"
                                        [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                        <span class="text-danger msg_txt"
                                            *ngIf="(f.name.touched || submitted) && f.name.errors?.required">
                                            name is required
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-12 mt-1">
                                    <input type="text" placeholder="Email*" class="form-control" formControlName="email"
                                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <span class="text-danger msg_txt"
                                            *ngIf="(f.email.touched || submitted) && f.email.errors?.required">
                                            Email is required
                                        </span>
                                        <span class="text-danger msg_txt"
                                            *ngIf="f.email.touched && f.email.errors?.email">
                                            Enter a valid email address
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-12 mt-1">
                                    <!-- <input type="text" placeholder="Mobile no*" class="form-control" formControlName="mobileNo"
                                [ngClass]="{ 'is-invalid': submitted && f.mobileNo.errors }">
                                 <div *ngIf="submitted && f.mobileNo.errors" class="invalid-feedback msg_txt">
                                    <span *ngIf="f.mobileNo.errors?.required">Mobile is required.</span>
                                    <span *ngIf="f.mobileNo.errors?.pattern">Please, Enter 10 digit Mobile.</span>
                                </div>
                                <button class="btn btn-sm read_mode verify_otp_btn">Verify OTP</button>
                                <input type="text" placeholder="OTP" class="form-control mt-2" formControlName="otp"> -->
                                    <input type="text" placeholder="Mobile no*" class="form-control"
                                        formControlName="mobileNo" (keyup)="getMobileNO();"
                                        [ngClass]="{ 'is-invalid': submitted && f.mobileNo.errors }">
                                    <div *ngIf="submitted && f.mobileNo.errors" class="invalid-feedback msg_txt">
                                        <span *ngIf="f.mobileNo.errors?.required">Mobile is required.</span>
                                        <span *ngIf="f.mobileNo.errors?.pattern">Please, Enter 10 digit Mobile.</span>
                                    </div>
                                    <div *ngIf="otpInput" class="validMsg">OTP sent successfully</div>
                                    <input type="text" placeholder="OTP" class="form-control mt-2"
                                        (keyup)="verifyOTP();" [ngClass]="{ 'is-invalid': submitted && f.otp.errors }"
                                        formControlName="otp">
                                    <div *ngIf="submitted && f.otp.errors" class="invalid-feedback">
                                        <span *ngIf="f.otp.errors?.required" class="msg_txt">OTP is required.</span>
                                    </div>

                                    <div *ngIf="otp_ValidMsg" class="validMsg">OTP verified successfully</div>
                                    <div *ngIf="otp_inValidMsg" class="inValidMsg">please enter valid otp</div>
                                </div>
                                <div class="col-md-12 mt-1">
                                    <select name="" id="" class="form-select form-control custom-dropdown"
                                        formControlName="state" (change)="onChangeState($event.target)"
                                        [ngClass]="{ 'is-invalid': submitted && f.state.errors }">
                                        <option value="">State</option>
                                        <option value="{{a.State_ID}}" *ngFor="let a of stateContentDataList">
                                            {{a.StateName}}</option>
                                    </select>
                                    <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                                        <span class="text-danger msg_txt"
                                            *ngIf="(f.state.touched || submitted) && f.state.errors?.required">
                                            State is required
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-12 mt-1">
                                    <select name="" id="" class="form-select form-control custom-dropdown" (change)="onchangeCity($event.target)"
                                        formControlName="city" [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
                                        <option value="">City</option>
                                        <option value="{{city.CityID}}" *ngFor="let city of cityList">{{city.CityName}}
                                        </option>
                                    </select>
                                    <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                                        <span class="text-danger msg_txt"
                                            *ngIf="(f.city.touched || submitted) && f.city.errors?.required">
                                            City is required
                                        </span>
                                    </div>
                                </div>

                                <div class="col-md-12 mt-1">
                                    <input type="text" placeholder="School Name" class="form-control"
                                        formControlName="schoolName"
                                        [ngClass]="{ 'is-invalid': submitted && f.schoolName.errors }">
                                    <div *ngIf="submitted && f.schoolName.errors" class="invalid-feedback">
                                        <span class="text-danger msg_txt"
                                            *ngIf="(f.schoolName.touched || submitted) && f.schoolName.errors?.required">
                                            School Name is required
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-12 mt-1">
                                    <input type="text" placeholder="School Website URL" class="form-control"
                                        formControlName="schoolURL"
                                        [ngClass]="{ 'is-invalid': submitted && f.schoolURL.errors }">
                                    <div *ngIf="submitted && f.schoolURL.errors" class="invalid-feedback">
                                        <span class="text-danger msg_txt"
                                            *ngIf="(f.schoolURL.touched || submitted) && f.schoolURL.errors?.required">
                                            School URL is required
                                        </span>
                                    </div>
                                    <!-- <select name="" id="" class="form-control" formControlName="class"
                                 (change)="onchangeClass($event.target)"  [ngClass]="{ 'is-invalid': submitted && f.class.errors }">
                                 <option value="">Admission for which class?</option>
                                 <option value="{{class.SchoolClassID}}" *ngFor="let class of selectClasslist">{{class.ClassName}}</option>
                                </select>
                                <div *ngIf="submitted && f.class.errors" class="invalid-feedback">
                                    <span class="text-danger msg_txt"
                                        *ngIf="(f.class.touched || submitted) && f.class.errors?.required">
                                        Class is required
                                    </span>
                                </div> -->
                                </div>
                                <div class="col-md-12 mt-1">
                                    <input type="text" placeholder="School City" class="form-control"
                                        formControlName="schoolCity"
                                        [ngClass]="{ 'is-invalid': submitted && f.schoolCity.errors }">
                                    <div *ngIf="submitted && f.schoolCity.errors" class="invalid-feedback">
                                        <span class="text-danger msg_txt"
                                            *ngIf="(f.schoolCity.touched || submitted) && f.schoolCity.errors?.required">
                                            School City is required
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-12 mt-1">
                                    <input type="text" placeholder="School Locality" class="form-control"
                                        formControlName="schoolLocality"
                                        [ngClass]="{ 'is-invalid': submitted && f.schoolLocality.errors }">
                                    <div *ngIf="submitted && f.schoolLocality.errors" class="invalid-feedback">
                                        <span class="text-danger msg_txt"
                                            *ngIf="(f.schoolLocality.touched || submitted) && f.schoolLocality.errors?.required">
                                            School Locality is required
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-12 mt-1">
                                    <label for="captchaInput" class="form-label">Enter Captcha</label>
                                    <div class="d-flex align-items-center gap-3">
                                        <div class="captcha-text">{{ captchaText }}</div>
                                        <input type="text" id="captchaInput" class="form-control"
                                            placeholder="Enter Captcha" formControlName="captchaInput">
                                        <button type="button" class="btn btn-outline-secondary btn-sm"
                                            (click)="generateCaptcha()">↻</button>
                                    </div>
                                    <!-- <button type="submit" class="btn btn-primary mt-3">Verify</button> -->
                                    <div *ngIf="captchaValid === true" class="text-success mt-2">✅ Captcha Verified
                                    </div>
                                    <div *ngIf="captchaValid === false" class="text-danger mt-2">❌ Incorrect Captcha
                                    </div>
                                </div>
                                <div class="col-md-12 mt-1">
                                    <button class="btn read_mode w-100" (click)="validationForm();">Submit
                                        <span class="spinner-border mx-3 spinner-border-sm" *ngIf="ifLoader" role="status" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- </div> -->
            </div>
        </div>

        <div class="mobile_content">
            <div class="row">
                <div class="col-md-7">
                    <img src="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/banner/conver_to_mlzs.png" width="100%" alt="conver_to_mlzs">
                </div>
                <div class="col-md-5 d-flex justify-content-center justify-align-center">
                    <div class="francine_form">
                        <h2 class="text-left title">Fill out the form to get started!</h2>
                        <div class="form">
                            <form [formGroup]="admissionForm">
                                <div class="col-md-row">
                                    <div class="col-md-12">
                                        <input type="text" placeholder="Name*" class="form-control"
                                            formControlName="name"
                                            [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                            <span class="text-danger msg_txt"
                                                *ngIf="(f.name.touched || submitted) && f.name.errors?.required">
                                                name is required
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-1">
                                        <input type="text" placeholder="Email*" class="form-control"
                                            formControlName="email"
                                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                            <span class="text-danger msg_txt"
                                                *ngIf="(f.email.touched || submitted) && f.email.errors?.required">
                                                Email is required
                                            </span>
                                            <span class="text-danger msg_txt"
                                                *ngIf="f.email.touched && f.email.errors?.email">
                                                Enter a valid email address
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-1">
                                        <!-- <input type="text" placeholder="Mobile no*" class="form-control" formControlName="mobileNo"
                                [ngClass]="{ 'is-invalid': submitted && f.mobileNo.errors }">
                                 <div *ngIf="submitted && f.mobileNo.errors" class="invalid-feedback msg_txt">
                                    <span *ngIf="f.mobileNo.errors?.required">Mobile is required.</span>
                                    <span *ngIf="f.mobileNo.errors?.pattern">Please, Enter 10 digit Mobile.</span>
                                </div>
                                <button class="btn btn-sm read_mode verify_otp_btn">Verify OTP</button>
                                <input type="text" placeholder="OTP" class="form-control mt-2" formControlName="otp"> -->
                                        <input type="text" placeholder="Mobile no*" class="form-control"
                                            formControlName="mobileNo" (keyup)="getMobileNO();"
                                            [ngClass]="{ 'is-invalid': submitted && f.mobileNo.errors }">
                                        <div *ngIf="submitted && f.mobileNo.errors" class="invalid-feedback msg_txt">
                                            <span *ngIf="f.mobileNo.errors?.required">Mobile is required.</span>
                                            <span *ngIf="f.mobileNo.errors?.pattern">Please, Enter 10 digit
                                                Mobile.</span>
                                        </div>
                                        <div *ngIf="otpInput" class="validMsg">OTP sent successfully</div>
                                        <input type="text" placeholder="OTP" class="form-control mt-2"
                                            (keyup)="verifyOTP();"
                                            [ngClass]="{ 'is-invalid': submitted && f.otp.errors }"
                                            formControlName="otp">
                                        <div *ngIf="submitted && f.otp.errors" class="invalid-feedback">
                                            <span *ngIf="f.otp.errors?.required" class="msg_txt">OTP is required.</span>
                                        </div>

                                        <div *ngIf="otp_ValidMsg" class="validMsg">OTP verified successfully</div>
                                        <div *ngIf="otp_inValidMsg" class="inValidMsg">please enter valid otp</div>
                                    </div>
                                    <div class="col-md-12 mt-1">
                                        <select name="" id="" class="form-select form-control custom-dropdown"
                                            formControlName="state" (change)="onChangeState($event.target)"
                                            [ngClass]="{ 'is-invalid': submitted && f.state.errors }">
                                            <option value="">State</option>
                                            <option value="{{a.State_ID}}" *ngFor="let a of stateContentDataList">
                                                {{a.StateName}}</option>
                                        </select>
                                        <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                                            <span class="text-danger msg_txt"
                                                *ngIf="(f.state.touched || submitted) && f.state.errors?.required">
                                                State is required
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-1">
                                        <select name="" id="" class="form-select form-control custom-dropdown"
                                            formControlName="city"
                                            [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
                                            <option value="">City</option>
                                            <option value="{{city.CityID}}" *ngFor="let city of cityList">
                                                {{city.CityName}}</option>
                                        </select>
                                        <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                                            <span class="text-danger msg_txt"
                                                *ngIf="(f.city.touched || submitted) && f.city.errors?.required">
                                                City is required
                                            </span>
                                        </div>
                                    </div>

                                    <div class="col-md-12 mt-1">
                                        <input type="text" placeholder="School Name" class="form-control"
                                            formControlName="schoolName"
                                            [ngClass]="{ 'is-invalid': submitted && f.schoolName.errors }">
                                        <div *ngIf="submitted && f.schoolName.errors" class="invalid-feedback">
                                            <span class="text-danger msg_txt"
                                                *ngIf="(f.schoolName.touched || submitted) && f.schoolName.errors?.required">
                                                School Name is required
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-1">
                                        <input type="text" placeholder="School Website URL" class="form-control"
                                            formControlName="schoolURL"
                                            [ngClass]="{ 'is-invalid': submitted && f.schoolURL.errors }">
                                        <div *ngIf="submitted && f.schoolURL.errors" class="invalid-feedback">
                                            <span class="text-danger msg_txt"
                                                *ngIf="(f.schoolURL.touched || submitted) && f.schoolURL.errors?.required">
                                                School URL is required
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-1">
                                        <input type="text" placeholder="School City" class="form-control"
                                            formControlName="schoolCity"
                                            [ngClass]="{ 'is-invalid': submitted && f.schoolCity.errors }">
                                        <div *ngIf="submitted && f.schoolCity.errors" class="invalid-feedback">
                                            <span class="text-danger msg_txt"
                                                *ngIf="(f.schoolCity.touched || submitted) && f.schoolCity.errors?.required">
                                                School City is required
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-1">
                                        <input type="text" placeholder="School Locality" class="form-control"
                                            formControlName="schoolLocality"
                                            [ngClass]="{ 'is-invalid': submitted && f.schoolLocality.errors }">
                                        <div *ngIf="submitted && f.schoolLocality.errors" class="invalid-feedback">
                                            <span class="text-danger msg_txt"
                                                *ngIf="(f.schoolLocality.touched || submitted) && f.schoolLocality.errors?.required">
                                                School Locality is required
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-1">
                                        <label for="captchaInput" class="form-label">Enter Captcha</label>
                                        <div class="d-flex align-items-center gap-3">
                                            <div class="captcha-text">{{ captchaText }}</div>
                                            <input type="text" id="captchaInput" class="form-control"
                                                placeholder="Enter Captcha" formControlName="captchaInput">
                                            <button type="button" class="btn btn-outline-secondary btn-sm"
                                                (click)="generateCaptcha()">↻</button>
                                        </div>
                                        <!-- <button type="submit" class="btn btn-primary mt-3">Verify</button> -->
                                        <div *ngIf="captchaValid === true" class="text-success mt-2">✅ Captcha Verified
                                        </div>
                                        <div *ngIf="captchaValid === false" class="text-danger mt-2">❌ Incorrect Captcha
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-1">
                                        <button class="btn read_mode w-100" (click)="validationForm();">Submit
                                            <span class="spinner-border mx-3 spinner-border-sm" *ngIf="ifLoader" role="status" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu_content">
            <app-sub-menu></app-sub-menu>
        </div>
        <div class="box_content">
            <div class="about_content" id="about_content_bg">
                <div class="box">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="" id="title_content">
                                <!-- <h2 class=""><b>Get to Know Us</b></h2> -->
                                <img src="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/prg_text_bg.png" class="text_bg" alt="">
                                <div class="">
                                    <p class="">Mount Litera Zee School, a flagship venture by Zee Learn, is
                                        revolutionising school education with a commitment to excellence. As a leading
                                        school franchise, our mission is to empower children to unlock their unique
                                        potential through innovative pedagogy, modern infrastructure, and highly skilled
                                        educators.</p>
                                    <p>Recognised as the K-12 School Chain of the Year 2019 by the Indian Education
                                        Congress, Mount Litera Zee School has established itself as the fastest-growing
                                        school network in India. With over 130+ operational schools across 110+ cities,
                                        we are at the forefront of delivering quality education nationwide.</p>
                                    <p>Join our trusted school franchise network and become a part of this
                                        transformative journey. Together, we can shape the future of education and
                                        nurture the leaders of tomorrow.</p>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="about_img_content w-10 d-flex justify-content-center">
                                <img src="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/Get-to-Know-Us.png" alt="admission">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="box_content">
                                <div class="img_box text-center">
                                    <div><img src="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/no_of_school_color.png" alt="no of school">
                                    </div>
                                    <div class="count_content">
                                        <b>130+</b>
                                    </div>
                                </div>
                                <div class="title_content text-center">
                                    <p>Number of schools</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="box_content">
                                <div class="img_box text-center">
                                    <img src="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/no_of_state_color.png" alt="no of state">
                                    <div class="count_content">
                                        <b>18+</b>
                                    </div>
                                </div>
                                <div class="title_content text-center">
                                    <p>Presence in number of states</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="box_content">
                                <div class="img_box text-center">
                                    <img src="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/no_of_educators_color.png" alt="no of educators">
                                    <div class="count_content">
                                        <b>25K+</b>
                                    </div>
                                </div>
                                <div class="title_content text-center">
                                    <p>Number of educators</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="box_content">
                                <div class="img_box text-center">
                                    <img src="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/no_of_students_color.png" alt="no of students">
                                    <div class="count_content">
                                        <b>56,600+</b>
                                    </div>
                                </div>
                                <div class="title_content text-center">
                                    <p>Number of students nurtured</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="box mt-5">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                        aria-selected="true">The MLZS Advantage
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                        aria-selected="false">Franchise Eligibility Criteria
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="program_tab_content">
                        <div class="row">
                            <div class="col-md-6">
                                <p>Unlock the Benefits of Converting to a Mount Litera Zee School.</p>
                                <div class="row">
                                    <div class="col-1">
                                        <img src="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                    </div>
                                    <div class="col-11 p-0">
                                            <h3>Build on a Trusted Legacy <span class="mx-1">-</span></h3>
                                    <span class="sm_text">Join India’s most
                                            trusted education brand with 130+ schools nationwide, backed by Zee Learn’s
                                            proven success in academic and holistic development.</span>

                                    </div>
                                    <div class="col-1">
                                        <img src="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                    </div>
                                    <div class="col-11 p-0">
                                             <h3>Access Unique Pedagogy and Expert Support <span class="mx-1">-</span></h3>
                                    <span class="sm_text">Gain exclusive
                                            access to research-driven curriculum, innovative content, and expert
                                            academic support to drive real student outcomes.</span>
                                    </div>

                                    <div class="col-1">
                                        <img src="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                    </div>
                                    <div class="col-11 p-0">
                                            <h3>Upgrade to Future-Ready Learning <span class="mx-1">-</span></h3>
                                    <span class="sm_text">Equip your school with
                                            the Litera Nova App, modern ERP, and tech-enabled teaching tools for a
                                            seamless, 21st-century classroom experience.</span>

                                    </div>

                                    <div class="col-1">
                                        <img src="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                    </div>
                                    <div class="col-11 p-0">
                                            <h3>Enhance Revenue with Smart Fee Structures <span class="mx-1">-</span></h3>
                                    <span class="sm_text">Optimise your
                                            fee model to better reflect value, improve affordability, and grow your
                                            market share sustainably.</span>

                                    </div>

                                    <div class="col-1">
                                        <img src="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                    </div>
                                    <div class="col-11 p-0">
                                            <h3>Grow with Strategic Marketing <span class="mx-1">-</span></h3>
                                    <span class="sm_text">Benefit from a 360°
                                            marketing calendar designed to boost admissions, visibility, and your
                                            school’s local presence.</span>
                                    </div>

                                </div>
                                <p>Ready to transform your school? Join the Mount Litera Zee School network today.</p>

                            </div>
                            <div class="col-md-6">
                                <div class="programm_img_content w-100 d-flex justify-content-center">
                                    <img src="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/franchise_Eligibility.png"
                                        alt="franchise_Eligibility">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="program_tab_content">

                        <div class="row">
                            <div class="col-md-6">
                                <p>Ready to convert your school into a Mount Litera Zee School? Here’s what you’ll need:
                                </p>
                                <div class="row">
                                    <div class="col-1">
                                        <img src="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                    </div>
                                    <div class="col-11 p-0">
                                            <h3>Open to Existing and Upcoming CBSE Schools <span class="mx-1">-</span></h3>
                                    <span class="sm_text">Schools already affiliated with CBSE or those in the process of obtaining
                                            affiliation are welcome to apply.</span>

                                    </div>
                                    <div class="col-1">
                                        <img src="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                    </div>
                                    <div class="col-11 p-0">
                                            <h3>CBSE-Compliant Infrastructure <span class="mx-1">-</span></h3>
                                    <span class="sm_text">Your school must meet the
                                            infrastructure standards as prescribed by CBSE norms.</span>
                                    </div>

                                    <div class="col-1">
                                        <img src="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                    </div>
                                    <div class="col-11 p-0">
                                            <h3>Minimum Land Requirement <span class="mx-1">-</span></h3>
                                    <span class="sm_text">A minimum of 3-5 acres of land is
                                            essential to qualify.</span>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="programm_img_content w-100 d-flex justify-content-center">
                                    <img src="../https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/p-stage2.png" alt="p-stage2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box_content our_pedagogy_content mt-4">
            <app-our-approach></app-our-approach>
        </div>
        <div class="box_content mt-4">
            <app-blogs></app-blogs>
        </div>

        <div class="box_content">
            <app-testimonial></app-testimonial>
        </div>
        <div class="faq_bg py-5">
            <div class="box title_content text-center">
                <h2 class="text-white"><b>FAQs</b></h2>
                <img src="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/text-bg.png" class="text_bg" alt="text-bg">
                <p class="m-0 text-white">Have a burning question? We're here to answer the most common ones.</p>
                <app-faqs [shadowFaq]="false"></app-faqs>
            </div>
        </div>
        <div class="box_content award_box mt-4">
            <app-awards-sub-page></app-awards-sub-page>
        </div>
    </div>
</section>