.box-img{
    width:90%;
    height:310px;
}

.box-img img{
    width:100%;
    height:310px;
    border-radius: 10px;
}

.text_bg{
    width: 13%;
    height: 25px;
    position: relative;
    bottom: 2rem;
}