<section>
    <div class="gallery_box">
        <div class="title_content text-center">
        <h2 class="text-center"><b> Our Gallery </b></h2>
        <img src="../../../assets/img/MLZS/prg_text_bg.png" class="text_bg" alt="">
        </div>
        <p class="text-center">Give your child the best of the education they deserve with Mount Litera School International and let them learn to be the capable leaders of tomorrow.</p>
           <div class="gallery_content">
            <div class="row my-5">
                <div class="col-md-4 d-flex justify-content-center" *ngFor="let a of photoGalleryData">
                    <div class="box-img" *ngFor="let img of a.logofiles">
                        <img src="{{img.value}}" alt="">
                    </div>
                </div>
                <!-- <div class="col-md-4 d-flex justify-content-center">
                    <div class="box-img">
                        <img src="../../../assets/img/MLZS/gl2.png" alt="">
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="box-img">
                        <img src="../../../assets/img/MLZS/gl3.png" alt="">
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="box-img">
                        <img src="../../../assets/img/MLZS/gl4.png" alt="">
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="box-img">
                        <img src="../../../assets/img/MLZS/gl5.png" alt="">
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="box-img">
                        <img src="../../../assets/img/MLZS/gl6.png" alt="">
                    </div>
                </div> -->
            </div>
           </div>
    </div>
</section>