/* .start_school_banner{
  background: url('https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/banner/admissionForm-banner.png') no-repeat center center;
  background-size:contain;
  width: 100%;
  height: 40vw;
  min-height: 400px; 
  max-height: 755px;
 margin-top: clamp(2rem, 12vw, 10.2rem);
}
section{
  background: url("https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/bg_svg/start-school-bg.svg") no-repeat center center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
} */
.francine_form{
  width: 100%;
  max-width: 100%;
  float: right;
  /* margin: 0rem 2.8rem; */
  padding:8px 28px; 
  background-color: #fff;
  border-radius: 8px;
}
.francine_form h3{
    font-size: 1rem;
    overflow: hidden;
}
.francine_form strong{
    color: rgba(1, 72, 118, 1);
}
.verify_otp_btn{
    font-size: 11px;
    padding: 2px 5px !important;
    float: right;
    margin: 7px 0px;
}
.validMsg{
    font-size: 11px;
    color: green;
    text-align: right;
    margin-top: 1px;
}
.inValidMsg{
    font-size: 11px;
    color: red;
    text-align: right;
    margin-top: 3px;
}
.msg_txt{
    font-size: 11px;
}
label{
    font-size: 11px;
}
.icon_list{
    position: relative;
    top:23rem;
    left: 1rem;
    display: flex;
    justify-content: center;
}
.title{
  color: #403C39;
  font-family: 'Poppins' !important;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 11px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


.menu_content{
    width: 40%;
    height: 50px;
    position: relative;
    left: 5.5rem;
}

.about_content{
    width: 100%;
    padding: 30px 0px;
    /* background-color: #004878; */
}

.title_content h2{
    position: relative;
    z-index: 9;
}
.title_content p{
    margin-bottom: 0;
    font-size: 14px;
    text-align: center;
}

.text_bg{
    width: 10%;
    height: 25px;
    position: relative;
    bottom: 1.9rem;
    z-index: 1;
}

.text_bg1{
    width: 190px;
    height: 33px;
    position: relative;
    bottom: 1.7rem;
    z-index: 1;
}

.about_img_content img{
width: 90%;
}
.nova_content p{
    text-align: left;
    color: #fff !important;
}
.desktop_content{
    display: block;
    overflow: hidden;
}
.right_icon{
    margin-top: 12px !important;
}

.mobile_content{
    display: none;
}

@media screen and (max-width: 600px) {
    form{
  height:100% !important;
  padding: 0 !important;
}
    .francine_form strong{
    color: rgba(1, 72, 118, 1);
    font-size: 1rem;
}
    .icon_list{
        position: relative;
        top: 0rem;
        left: 0rem;
        display: flex;
        justify-content: center;
        margin: 2rem 0rem;
    }
    .desktop_content{
        display: none !important;
        overflow: hidden;
    }
    .francine_form{
        max-width:100% !important;
        float: right;
        margin: 10px 15px 0px 10px;
        padding: 10px 25px;
        /* background-color: #C4DEFD; */
    }
    .mobile_content{
        margin-top: 2.4rem;
        display: block !important;
    }
    .menu_content{
        width: 100%;
    }

    h1{
        font-family: 'Montserrat_bold';
    }
    .bannerTitle{
        text-align: center;
        margin-top: 5rem;
        
    }
    .year{
        color: #48C7F4;
        font-family: Montserrat;
    }
}

/* #about_content_bg{
    width: 100%;
    padding: 55px 0px;
    background-color: rgb(0, 72, 120);
} */

#about_content_bg .text_bg{
    /* width: 50px;
    position: relative;
    bottom: 2rem;
    z-index: 1;
    left: 14rem;
    height: 16px; */
    width: clamp(50px, 4vw, 120px);
    position: relative;
    bottom: clamp(1rem, 3vw, 2rem);
    z-index: 1;
    left: clamp(2rem, 17vw, 17rem);
    height: clamp(12px, 2vw, 20px);

}

.count_content{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 22px;
    margin-top:8px;
    color: #014876;
}

.title_content p{
    margin-bottom: 0;
    font-size: 14px;
    color: #212529;
}

.img_box img{
    width: 12%;
}

#title_content h1{
    position: relative;
    z-index: 9;

}


/* our pedagogy css */

.our_pedagogy_content{
    width: 100%;
    padding: 55px 0px;
    background-color: rgb(0, 72, 120);
}

.title_content h2{
    position: relative;
    z-index: 9;
}
.award_box .text_bg{
    width: 8%;
    height: 18px;
    position: relative;
    bottom: 1.7rem;
    z-index: 1;
    left: 2rem;
}
.counter_text p{
    font-size: 12px;
}

@media screen and (max-width: 600px) {
    .title_content{
     text-align: center;
     margin-top: 1rem;
    }
    .menu_content{
    width: 40%;
    height: 50px;
    position: relative;
    left:0rem;
    padding: 10px;
}
    .title_content h1{
    position: relative;
    z-index: 9;
    text-align: center;
}
    .text_bg{
    width: 23%;
    position: relative;
    bottom: 1.2rem;
    left: -2rem;
    z-index: 1;
}
 .read_mode {
    background-color: #44C8F5;
    color: #004877;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border-radius: 5px;
    width: 60% !important;
    padding: 5px 5px;
     margin: auto;
}
    #title_content h1{
    position: relative;
    z-index: 9;
    text-align: center;
}
/* .about_content{
margin-top: 4rem;
} */
.about_img_content{
margin-top: 10px;
}
}

.img_box img{
    width: 15%;
}

.gallery_box{
    width: 85%;
    margin: auto;
}

.read_mode {
    background-color: #44C8F5;
    color: #004877;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    border-radius: 5px;
    width: 60% !important;
    padding: 5px 5px;
     margin: auto;
}
.select-arrow {
  position: relative;
  bottom: 1.6rem;
  left:92%;
  pointer-events: none;
  width: 22px;
  height: 22px;
  object-fit: cover;
}

form{
  /* height: 40vw; */
  padding: 1rem 10px 0rem 0;
}