<section>
    <div class="main_content">
        <div class="start_school_banner desktop_content">
          <div class="francine_form">
            <h5 class="text-white text-left">Start your Mount Litera Zee School Franchise today!</h5>
            <div class="form">
                <form [formGroup]="admissionForm">

                <div class="col-md-row">
                    <div class="col-md-12 mt-1">
                        <input type="text" placeholder="Name*" class="form-control" formControlName="fname"
                        [ngClass]="{ 'is-invalid': submitted && f.fname.errors }">
                        <div *ngIf="submitted && f.fname.errors" class="invalid-feedback">
                            <span class="text-danger inValidMsg"
                                *ngIf="(f.fname.touched || submitted) && f.fname.errors?.required">
                                First name is required
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <input type="text" placeholder="Email*" class="form-control"placeholder="Email*"
                        formControlName="email"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <span class="text-danger inValidMsg"
                                *ngIf="(f.email.touched || submitted) && f.email.errors?.required">
                                Email is required
                            </span>
                            <span class="text-danger inValidMsg"
                                *ngIf="f.email.touched && f.email.errors?.email">
                                Enter a valid email address
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <input type="text" placeholder="Mobile no*" class="form-control"
                        (keyup)="getMobileNO();" formControlName="mobile"
                                            [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }">
                                            <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                                                <span *ngIf="f.mobile.errors?.required">Mobile is required.</span>
                                                <span *ngIf="f.mobile.errors?.pattern">Please, Enter 10 digit Mobile.</span>
                                            </div>
                                            <div *ngIf="otpInput" class="validMsg">OTP sent successfully</div>
                        <!-- <button class="btn btn-sm read_mode verify_otp_btn">Verify OTP</button> -->
                        <input type="text" placeholder="OTP" class="form-control mt-2"
                        (keyup)="verifyOTP();" formControlName="otp"
                        [ngClass]="{ 'is-invalid': submitted && f.otp.errors }">
                    <div *ngIf="submitted && f.otp.errors" class="invalid-feedback">
                        <span class="inValidMsg" *ngIf="f.otp.errors?.required">OTP is required.</span>
                    </div>
                    <div *ngIf="otp_ValidMsg" class="validMsg">otp verified successfully</div>
                    <div *ngIf="otp_inValidMsg" class="inValidMsg">please enter valid otp</div>
                </div>
                    </div>
                    <div class="col-md-12 mt-3">
                       <select name="" id="" class="form-control"
                       formControlName="state"
                                                    (change)="selectState($event)"
                                                    [ngClass]="{ 'is-invalid': submitted && f.state.errors }">
                                                    <option value="">State/District</option>
                                                    <option value="{{state.StateName}}"
                                                        *ngFor="let state of stateList">
                                                        {{state.StateName}}
                       </option>
                       </select>
                       <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                        <span class="text-danger inValidMsg"
                            *ngIf="(f.state.touched || submitted) && f.state.errors?.required">
                            State/District is required
                        </span>
                    </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <select name="" id="" class="form-control"formControlName="city"
                        (change)="selectCity($event)"
                        [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
                        <option value="">City</option>
                        <option value="{{city.CityName}}" *ngFor="let city of cityList">
                            {{city.CityName}}</option>
                        </select>
                        <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                            <span class="text-danger inValidMsg"
                                *ngIf="(f.city.touched || submitted) && f.city.errors?.required">
                                City is required
                            </span>
                        </div>
                     </div>
                     <div class="col-md-12 mt-4">
                        <button class="btn read_mode w-100" (click)="validationForm()">Send <i class="fa fa-long-arrow-right mx-2"></i></button>
                     </div>
                     
            </form>
            </div>
          </div>
        </div>
        <div class="francine_form mobile_content">
            <div class="row">
                <div class="col-md-12">
                    <img src="../../../assets/img/MLZS/start_school_banner_mobile.png" width="100%" alt="">
                </div>
                <div class="col-md-12">
                    <h4 class="text-white text-center text-left mt-4">Start a Francine</h4>
                    <div class="form">
                        <div class="col-md-row">
                            <div class="col-md-12 mt-1">
                                <input type="text" placeholder="Name*" class="form-control">
                            </div>
                            <div class="col-md-12 mt-3">
                                <input type="text" placeholder="Email*" class="form-control">
                            </div>
                            <div class="col-md-12 mt-3">
                                <input type="text" placeholder="Mobile no*" class="form-control">
                                <button class="btn btn-sm read_mode verify_otp_btn">Verify OTP</button>
                                <input type="text" placeholder="OTP" class="form-control mt-2">
                            </div>
                            <div class="col-md-12 mt-3">
                               <select name="" id="" class="form-control">
                                <option value="">State</option>
                               </select>
                            </div>
                            <div class="col-md-12 mt-3">
                                <select name="" id="" class="form-control">
                                 <option value="">City</option>
                                </select>
                             </div>
                             <div class="col-md-12 mt-4">
                                <button class="btn read_mode w-100">Send <i class="fa fa-long-arrow-right mx-2"></i></button>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
           
          </div>
        <div class="menu_content">
            <app-sub-menu></app-sub-menu>
        </div>
        <div class="box">
            <div class="title_content text-center">
            <h2 class="text-center"><b>About Us</b></h2>
            <img src="../../../assets/img/MLZS/prg_text_bg.png" class="text_bg" alt="">
            </div>
            <div class="row">
                <div class="col-md-6">      
                        <div class="">
                            <p>Mount Litera Zee School is an Endeavour by Zee Learn to bring about a quantum improvement in school education. The purpose is to help children realize their unique potential through their state-of-the-art infrastructure and facilities, well trained teachers, and a proprietary pedagogy.</p>
                            <p>Awarded as the K12 School Chain Of the Year 2019, by Indian Educational Congress, Mount Litera Zee School is the fastest growing school network in India with more than 130+ Operational Schools in over 110+ cities across the country.</p>
                            <button class="btn read_mode" routerLink="/about-us">Know More <i class="fa fa-long-arrow-right mx-2"></i></button>
                        </div>
                </div>
                <div class="col-md-6">
                    <div class="about_img_content w-10 d-flex justify-content-center">
                    <img src="../../../assets/img/MLZS/about_img.png" alt="">
                </div>
                </div>
            </div>
            <div class="counter_box mt-5">
                <img src="../../../assets/img/MLZS/counter_img.png" width="100%" alt="">
            </div>
        </div>

        <div class="box mt-5">
            <div class="title_content text-center">
            <h2 class="text-center"><b> Why Start a School ?</b></h2>
            <img src="../../../assets/img/MLZS/prg_text_bg.png" class="text_bg" alt="">
        </div>
            <div class="row mt-4">
                <div class="col-md-6">
                    <div class="">
                        <p>Gross Enrolment Ratio in elementary expected to reach 100% by 2016 hence a steady flow of students</p>
                   
                     <div class="row mt-3">
                        <div class="col-1"><img src="../../../assets/img/MLZS/right_icon.png" width="15px" height="15px" alt=""></div>
                        <div class="col-11 p-0">Govt push for private players to enter the market</div>

                        <div class="col-1"><img src="../../../assets/img/MLZS/right_icon.png" width="15px" height="15px" alt=""></div>
                        <div class="col-11 p-0">20000-25000 ‘Quality‘ schools required (NCERT)</div>

                        <div class="col-1"><img src="../../../assets/img/MLZS/right_icon.png" width="15px" height="15px" alt=""></div>
                        <div class="col-11 p-0">Parents preference of sending their children into private schools (40% children get into 20% private schools)</div>

                        <div class="col-1"><img src="../../../assets/img/MLZS/right_icon.png" width="15px" height="15px" alt=""></div>
                        <div class="col-11 p-0">Schools have a much higher stickiness in terms of the students staying with them as it’s a 10 yr commitment from the parents</div>
                     </div>
                    <p class="mt-2">Bring World-Class Education to Your Community with Mount Litera’s School Franchise Opportunities</p>
                    <p>Explore the world of high-quality education by partnering with Mount Litera, one of India's most trusted names in CBSE school franchises. Our franchise model offers aspiring partners an established platform to create the best school franchise in India, bringing transformative, value-driven education to communities across the country.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="fr_img_content d-flex justify-content-center">
               <img src="../../../assets/img/MLZS/school_img.png" alt="">
            </div>

                </div>
            </div>
        </div>

        <div class="bg_box">
        <div class="box my-5">
            <h2 class="text-center text-white"><b> Why Choose to Partner with Mount Litera Zee School Franchise?</b>
              <img src="../../../assets/img/MLZS/prg_text_bg.png" alt="" class="text_bg"></h2>
        
            <div class="row mt-4">
                <div class="col-md-6">
                    <div class="title_content">
                    <p class="text-white">Mount Litera Zee School by Zee Learn’s offers education franchise opportunities and provides partners with access to a proven curriculum and operational excellence backed by a national reputation. Our commitment to educational innovation ensures each Mount Litera school franchise stays aligned with CBSE standards, delivering well-rounded learning experiences.
                        Leading the Way in Education Franchises</p>
                        <p class="text-white">When you choose Mount Litera, you choose an educational franchise that values integrity, innovation, and impact. Ranked among the best CBSE school franchise options, our model supports franchisees with comprehensive training, curriculum support, and robust marketing to make a lasting difference in young lives.</p> 
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="fr_img_content d-flex justify-content-center">
               <img src="../../../assets/img/MLZS/mlzs.png" alt="">
            </div>

                </div>
            </div>
        </div>
</div>

<div class="box mt-5">
            <div class="title_content text-center">
            <h2 class="text-center"><b> What You Need to Become an MLZS Franchise Partner</b></h2>
            <img src="../../../assets/img/MLZS/prg_text_bg.png" class="text_bg" alt="">
        </div>
            <div class="row mt-4">
                         <div class="col-md-6">
                    <div class="fr_img_content d-flex justify-content-center">
               <img src="../../../assets/img/MLZS/FranchisePartner.png" width="100%" alt="">
            </div>

                </div>
                <div class="col-md-6">
                    <div class="">
                        <p>Partner with India’s fastest-growing school network and unlock incredible opportunities </p>
                        <p>Become a part of Mount Litera Zee School, one of the most rapidly expanding school networks in India and enjoy a rewarding partnership that offers both growth and impact.</p>
                        <p><b>What We Expect from Our Partners:</b></p>
                   
                     <div class="row mt-3">
                        <div class="col-1"><img src="../../../assets/img/MLZS/right_icon.png" width="15px" height="15px" alt=""></div>
                        <div class="col-11 p-0">Govt push for private players to enter the market</div>

                        <div class="col-1"><img src="../../../assets/img/MLZS/right_icon.png" width="15px" height="15px" alt=""></div>
                        <div class="col-11 p-0"><p><strong>Land Requirement:</strong>A minimum of 2-4 acres of land at a suitable location.</p></div>
                        <div class="col-1"><img src="../../../assets/img/MLZS/right_icon.png" width="15px" height="15px" alt=""></div>
                        <div class="col-11 p-0"><p><strong>Investment:</strong> The construction of a minimum of 90,000 sq.ft., spread over 3-4 phases. The initial investment may vary depending on the school model, location, and various other factors.</div>
                        <div class="col-1"><img src="../../../assets/img/MLZS/right_icon.png" width="15px" height="15px" alt=""></div>
                        <div class="col-11 p-0"><p><strong>Capital Investment:</strong> Partners will need to invest both in capital and working capital to support the establishment and operational activities.</p></div>
                     <div class="col-1"><img src="../../../assets/img/MLZS/right_icon.png" width="15px" height="15px" alt=""></div>
                        <div class="col-11 p-0"><p><strong>Comprehensive Training and Support:</strong> All partners will undergo an extensive training programme covering business strategies for running a successful school. In addition, partners and their staff members will receive ongoing training on the Mount Litera Zee School curriculum and its unique delivery methods to ensure a high standard of education.</p></div>
                         
                    </div>
                    </div>
                </div>
       
            </div>
        </div>
      
       <div class="what_we_offer my-5">
        <div class="box my-5">
            <div class="title_content text-center">
                <h2 class="text-center"><b> What We Offer </b></h2>
                <img src="../../../assets/img/MLZS/text-bg.png" class="text_bg" alt="">
                <p class="text-center">MLZS is part of one of the leading education organizations in India, Zee Learn Ltd which is backed up by a powerful brand – Zee Network and the stability of Essel group. One of the key reasons for MLZS schools to do well is the presence of Kidzee preschools in vicinity that act like a feeder to the MLZS enrolments. MLZS is one of the fastest growing school network in the country today and has over 130 schools across India. With years of dedicated research done by its Child Development Experts, MLZS has developed the best-in-class child centric learning methodology called Litera Octave that helps achieve better tangible results in school. There are several advantages of being a part of our MLZS family:</p>
            </div>
                <div class="row mt-3">
                    <div class="col-1"><img src="../../../assets/img/MLZS/white_icon.png" width="15px" height="15px" alt=""></div>
                    <div class="col-11 p-0">Gross Enrolment Ratio in elementary expected to reach 100% by 2016 hence a steady flow of students</div>

                    <div class="col-1"><img src="../../../assets/img/MLZS/white_icon.png" width="15px" height="15px" alt=""></div>
                    <div class="col-11 p-0">Govt push for private players to enter the market</div>

                    <div class="col-1"><img src="../../../assets/img/MLZS/white_icon.png" width="15px" height="15px" alt=""></div>
                    <div class="col-11 p-0">20000-25000 ‘Quality‘ schools required (NCERT)</div>

                    <div class="col-1"><img src="../../../assets/img/MLZS/white_icon.png" width="15px" height="15px" alt=""></div>
                    <div class="col-11 p-0">Parents preference of sending their children into private schools (40% children get into 20% private schools)</div>

                    <div class="col-1"><img src="../../../assets/img/MLZS/white_icon.png" width="15px" height="15px" alt=""></div>
                    <div class="col-11 p-0">Schools have a much higher stickiness in terms of the students staying with them as it’s a 10 yr commitment from the parents</div>
                 </div>
            <div class="row mt-5">
                <div class="col-md-12">
                    <img src="../../../assets/img/MLZS/offer_img.png" width="100%" alt="">
                </div>
            </div>
        </div>
    </div>
 <div class="award_content my-5">
    <div class="box my-5">
       
        <div class="row mt-4">
            <div class="title_content text-left">
                <h2 class=""><b> Awards </b></h2>
                <img src="../../../assets/img/MLZS/prg_text_bg.png" class="award_bg_img" alt="">
            </div>
           
            <div class="col-md-6">
                <div class="">
                 <div class="row mt-3">
                    <div class="col-1"><img src="../../../assets/img/MLZS/right_icon.png" width="15px" height="15px" alt=""></div>
                    <div class="col-11 p-0">Awarded National K12 School Chain of the Year 2019 at the Indian Education Congress in Feb 2019</div>

                    <div class="col-1"><img src="../../../assets/img/MLZS/right_icon.png" width="15px" height="15px" alt=""></div>
                    <div class="col-11 p-0">Awarded Innovative Practices For Academic Excellence by ELETS in Dec 2018</div>

                    <div class="col-1"><img src="../../../assets/img/MLZS/right_icon.png" width="15px" height="15px" alt=""></div>
                    <div class="col-11 p-0">Luminosity - Learning Management System Portal for MLZS wins award by IDC Insight Awards in Nov 2018</div>

                    <div class="col-1"><img src="../../../assets/img/MLZS/right_icon.png" width="15px" height="15px" alt=""></div>
                    <div class="col-11 p-0">Awarded Great Place to Study by Forbes Marquee Magazine in Oct 2018</div>
                    <div class="col-1"><img src="../../../assets/img/MLZS/right_icon.png" width="15px" height="15px" alt=""></div>
                    <div class="col-11 p-0">Awarded Leading brand of the Year – Schools by World Consulting Research Corporation in Apr 2018</div>
                    
                    <div class="col-1"><img src="../../../assets/img/MLZS/right_icon.png" width="15px" height="15px" alt=""></div>
                    <div class="col-11 p-0">Awarded International School Award 2017 – 2020 by The British Council</div>
                 
                    <div class="col-1"><img src="../../../assets/img/MLZS/right_icon.png" width="15px" height="15px" alt=""></div>
                    <div class="col-11 p-0">Awarded K-12 National School Chain of the Year 2017 at Indian Education Congress in Feb 2017</div>
                
                    <button class="btn read_mode" routerLink="/about-us/awards-recognitions">Know More <i class="fa fa-long-arrow-right mx-2"></i></button>
                </div>
             
                </div>
            </div>
            <div class="col-md-6">
            <div class="fr_img_content d-flex justify-content-center">
           <img src="../../../assets/img/MLZS/award.png" alt="">
        </div>
            </div>
        </div>
    </div> 
   </div>
       
   <div class="bg_box">
    <div class="box">
        <app-faqs></app-faqs>
    </div>
   </div>
   <div class="box mt-5">
        <app-gallery></app-gallery>
    </div>
   <!-- <div class="box my-5">
            <div class="title_content text-center">
            <h2 class="text-center"><b> Requirements </b></h2>
            <img src="../../../assets/img/MLZS/prg_text_bg.png" class="text_bg" alt="">
        </div>
            <div class="row mt-4">
                <div class="col-md-6">
                    <div class="fr_img_content d-flex justify-content-center">
               <img src="../../../assets/img/MLZS/requirements_img.png" alt="">
            </div>
                </div>
                <div class="col-md-6">
                    <div class="">
                        <p>Partner with India’s fastest growing school network and reap immense benefits.</p>
                     <div class="row mt-3">
                        <div class="col-1"><img src="../../../assets/img/MLZS/right_icon.png" width="15px" height="15px" alt=""></div>
                        <div class="col-11 p-0">A MLZS partner should have minimum 2-4 Acre of land at a suitable location</div>

                        <div class="col-1"><img src="../../../assets/img/MLZS/right_icon.png" width="15px" height="15px" alt=""></div>
                        <div class="col-11 p-0">Investment : Construction cost of min 90,000 sqft over 3-4 phases</div>

                        <div class="col-1"><img src="../../../assets/img/MLZS/right_icon.png" width="15px" height="15px" alt=""></div>
                        <div class="col-11 p-0">Please also note that the initial investment is dependent on the model of the school and could vary based on location and other factors</div>

                        <div class="col-1"><img src="../../../assets/img/MLZS/right_icon.png" width="15px" height="15px" alt=""></div>
                        <div class="col-11 p-0">All partners will undergo an extensive training program on the business strategies for owning and operating a successful school. In addition to these partners and their staff members will receive initial and continuous training for the MLZS curriculum and the delivery method</div>
                     </div>
                    <p class="mt-2">Partners will have to invest in capital and working capital for this project</p>
                    </div>
                </div>
               
            </div>
        </div> -->
<div class="businessPartners my-5">
    <div class="box py-5">
        <div class="title_content text-center">
            <h2 class="text-center"><b> Business Partners </b></h2>
            <img src="../../../assets/img/MLZS/text-bg.png" class="text_bg" alt="">
         </div>
         <iframe width="100%" height="480" src="https://www.youtube.com/embed/Vh-sWbTVi9s" title="Cow Elephant Lion Gorilla Tiger T-Rex Choose The Right Baby ESCAPE ROOM CHALLENGE Animals Cage Game" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>  
   </div>
       <div class="box">
         <app-blogs></app-blogs>
       </div>

       <div class="box">
        <app-testimonial></app-testimonial>
       </div>

   

  
   
    </div>
</section>