.multi_img_group {
  display: flex;
  justify-content: center;
}

.multi_img_group img {
  width: 80%;
  object-fit: cover;
}

section {
  background: url("../../../../assets/img/MLZS/bg_svg/Discover-more.svg") no-repeat center center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

.date_content {
  font-size: 12px;
  color: #4c4a4a;
  text-align: left;
}

.right_card {
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .img_box_big img {
    object-fit: cover;
    width: 100%;
    height: auto !important;
    border: 1px solid #eee;
  }

  .img_box_big {
    width: 100%;
    height: auto !important;
    border: 1px solid #eee;
  }

  .category_blog_content {
    height: auto !important;
    margin-bottom: 2rem;
    overflow-y: auto;
  }

  .cascade-slider_container {
    width: 100%;
    height: 79rem !important;
    overflow: hidden;
    margin: auto;
    position: relative;
  }

  .news_text {
    padding: 0rem 1.3rem 0rem 0rem;
    text-align: left;
    margin: 1rem 0;
  }

  .cascade-slide {
    height: auto !important;
    margin-top: 1rem;
  }

  .right_card {
    margin-top: 20px;
  }
}


.text_bg {
  width: 23%;
  position: relative;
  bottom: 1.5rem;
  z-index: 1;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #FFF;
  font-size: 13px;
  padding: 5px 25px;
  background-color: #014876;
  margin: 5px;
}

.nav-link:focus,
.nav-link {
  color: #014876;
  font-size: 13px;
  padding: 5px 25px;
  background-color: #44C8F5;
  margin: 5px;
}

.programm_img_content img {
  object-fit: cover;
  width: 85%;
}

.liter_img {
  width: 50%;
}

.liter_content {
  margin-left: 57px;
}

.fr_img_content img {
  width: 80%;
  object-fit: cover;
}

.title_content ul {
  padding: 0;
  line-height: 30px;
}

@media screen and (max-width: 600px) {
  li {
    width: 100%;
  }

  li button {
    width: 100%;
  }
}

.subMenu_content {
  margin-top: 1rem;
  width: 85%;
  margin: auto;
}

p {
  margin-bottom: 0.5rem;
}

.text_bg {
  width: 10%;
  position: relative;
  bottom: 1.5rem;
  z-index: 1;
  height: 21px;
}

h1 {
  position: relative;
  z-index: 2;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #494a4b;
  appearance: auto;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.date_text {
  font-size: 12px;
  color: #3f3d3d;
}

.input {
  height: 30px;
  font-size: 14px;
}


.zoom_img {
  width: 100%;
  height: 75px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.pinchzoom_img {

  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


.img_box img {
   width: 100%;
  height: clamp(196px, 18vw, 400px); /* min 150px, max 400px */
  object-fit: cover;
  border: 1px solid #eee;
}

.img_box {
  /* overflow: hidden;
  width: 100%;
  height: 196px;
  border: 1px solid #eee; */
  width: 100%;
    height: clamp(196px, 18vw, 400px);
    object-fit: cover;
    border: 1px solid #eee;
    overflow: hidden;
}


.img_box_big img {
  width: 100%;
  height: clamp(700px, 50vh, 700px);
  object-fit: cover;
  border: 1px solid #eee;
}

.img_box_big {
  width: 100%;
  height: clamp(700px, 50vh, 700px);
  overflow: hidden;
  border: 1px solid #eee;
  overflow: hidden;
}

.category_blog_content {
  height: 750px;
  overflow-y: auto;
}

.cascade-slider_container {
  width: 100%;
  height: 660px;
  /* 3 * slideHeight */
  overflow: hidden;
  margin: auto;
  position: relative;
}

.cascade-slider_slides {
  display: flex;
  flex-direction: column;
  transition: transform 0.6s ease-in-out;
}

.cascade-slide {
  /* height: 230px; */
  height: clamp(230px, 20vw, 400px);
  overflow: hidden;
}

.cascade-slide .card {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cascade-controls {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
}

.cascade-controls button {
  margin: 4px 0;
  border: none;
  background: #eee;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 8px;
}

.cascade-controls button:hover {
  background: #ddd;
}

.cascade-dots {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 9;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ccc;
  cursor: pointer;
  transition: background 0.3s, height 0.3s;
}

.dot.active {
  background: #673ab7;
  height: 25px;
  border-radius: 10px;
}

.news_text {
  padding: 0 1.3rem 0 0;
  text-align: left;
}