<section>
    <div class="programmes_main_page">
        <div class="banner_content">
            <img src="../../../../assets/img/MLZS/banner/discover_blog.png" class="img-fluid d-none d-md-block w-100"
                alt="about banner">
            <img src="../../../../assets/img/MLZS/banner/mobile_banner/Blogs.jpg"
                class="img-fluid d-block d-md-none w-100" alt="Mobile banner">
        </div>
        <div class="subMenu_content mt-2">
            <app-sub-menu></app-sub-menu>
        </div>

        <div class="box mt-4">
            <div class="dropdown_tab">
                <div class="row">
                    <div class="col-md-4">
                        <select #ddlcategory name="" id="" [(ngModel)]="Selectedcategory" class="form-control"
                            (change)="onchangecategory(ddlcategory.value)">
                            <option value="">All Category</option>
                            <option value="{{a.categoryId}}" *ngFor="let a of blogcategory">{{a.categoryname}}</option>
                        </select>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div style="position: relative; width: 250px;">
                            <input type="text" placeholder="Search" class="form-control"
                                style="padding-left: 35px; width: 100%;" (input)="onSearchChange($event)">
                            <i class="fa fa-search"
                                style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); color: #888;"></i>
                        </div>
                        <!-- <input name="" id="" placeholder="Search" class="form-control" (input)="onSearchChange($event)"> -->

                    </div>
                </div>
            </div>

            <div class="text-center mt-5">
                <h1 class="text-center"><b>Learn What’s New</b></h1>
                <img src="../../../../assets/img/MLZS/prg_text_bg.png" alt="" class="text_bg">
            </div>
            <p class="text-center">Stay informed with the latest blogs from Mount Litera Zee School. Our blogs cover
                various topics, from educational insights to school updates, offering a deeper perspective into the
                experiences, achievements, and innovations that shape our community.</p>

            <div class="news_list mt-5">
                <!-- <div class="row" *ngFor="let category of categoryWiseData">
                    <h4>{{ category.categoryname }}</h4>

                    <div class="col-md-5 category_blog_content" *ngIf="!show_img">
                        <ng-container *ngIf="category.blogsContent?.length; else noBlog">
                            <div class="img_box_big">
                                <ng-container *ngIf="category.blogsContent[0].logofiles?.length; else defaultBlogImg">
                                    <img [src]="category.blogsContent[0].logofiles[0]?.value || 'assets/img/MLZS/MLZS.svg'"
                                        alt="{{ category.blogsContent[0].Title || 'Blog Image' }}" width="100%" />
                                </ng-container>
                                <ng-template #defaultBlogImg>
                                    <img src="assets/img/MLZS/MLZS.svg" alt="Default Blog Image" width="100%"
                                        class="defaultImg" />
                                </ng-template>

                            </div>
                        </ng-container>
                        <ng-template #noBlog>
                            <div class="img_box_big">
                                <img src="assets/img/MLZS/MLZS.svg" alt="No Blog" width="100%" class="defaultImg" />
                            </div>
                        </ng-template>
                    </div>
                    <div class="col-md-5 category_blog_content" *ngIf="show_img">
                        <ng-container *ngIf="show_img?.length; else noBlog">
                            <div class="img_box_big">
                                <ng-container *ngIf="show_img[0].logofiles?.length; else defaultBlogImg">
                                    <img [src]="show_img[0].logofiles[0]?.value || 'assets/img/MLZS/MLZS.svg'"
                                        alt="{{ show_img[0].Title || 'Blog Image' }}" width="100%" />
                                </ng-container>
                                <ng-template #defaultBlogImg>
                                    <img src="assets/img/MLZS/MLZS.svg" alt="Default Blog Image" width="100%"
                                        class="defaultImg" />
                                </ng-template>

                            </div>
                        </ng-container>
                        <ng-template #noBlog>
                            <div class="img_box_big">
                                <img src="assets/img/MLZS/MLZS.svg" alt="No Blog" width="100%" class="defaultImg" />
                            </div>
                        </ng-template>
                    </div>
                    <div class="col-md-7">
                        <div class="cascade-slider_container">
                            <div class="cascade-slider_slides" [style.transform]="getTranslateY(category.categoryId)">
                                <div class="cascade-slide" *ngFor="let blog of category.blogsContent">
                                    <div class="row">
                                        <div class="col-md-5" (click)="getBlogsItem(blog);">
                                            <div class="img_box">
                                                <div *ngIf="blog?.logofiles?.length; else defaultBlogImg">
                                                    <div *ngFor="let img of blog.logofiles">
                                                        <img [src]="img?.value || 'assets/img/MLZS/MLZS.svg'"
                                                            alt="Blog Image" width="100%" />
                                                    </div>
                                                </div>

                                                <ng-template #defaultBlogImg>
                                                    <img src="assets/img/MLZS/MLZS.svg" alt="Default Blog Image"
                                                        class="defaultImg" width="100%" />
                                                </ng-template>

                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="news_text">
                                                <h3>{{ blog.Title }}</h3>
                                                <p class="m-0 p-0 long_para">{{ blog.short }}</p>
                                                <p class="m-0 p-0 date_content">Date: {{blog.CreatedDate}}</p>
                                                <div class="d-flex justify-content-start">
                                                    <button class="btn read_mode mt-2"
                                                        routerLink="/blogs/{{blog.slug}}">Know
                                                        More <i class="fa fa-long-arrow-right mx-2"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cascade-dots">
                                <div class="dot" *ngFor="let dot of [].constructor(category.totalPages); let i = index"
                                    [class.active]="(currentIndexMap[category.categoryId] || 0) / 3 === i"
                                    (click)="moveToSlide(category.categoryId,i)">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div> -->

                <div class="row" *ngFor="let category of categoryWiseData">
                    <h2>{{ category.categoryname }}</h2>
                    <!-- LEFT BIG IMAGE -->
                    <div class="col-md-5 category_blog_content">
                        <ng-container *ngIf="category.blogsContent?.length; else noBlog">
                            <div class="img_box_big">
                                <ng-container *ngIf="
            category.blogsContent[selectedIndexMap[category.categoryId] || 0]
              ?.logofiles?.length;
            else defaultBlogImg
          ">
                                    <img [src]="
              category.blogsContent[selectedIndexMap[category.categoryId] || 0]
                ?.logofiles[0]?.value || 'assets/img/MLZS/MLZS.svg'
            " alt="{{
              category.blogsContent[selectedIndexMap[category.categoryId] || 0]
                ?.Title || 'Blog Image'
            }}" width="100%" />
                                </ng-container>

                                <ng-template #defaultBlogImg>
                                    <img src="assets/img/MLZS/MLZS.svg" alt="Default Blog Image" width="100%"
                                        class="defaultImg" />
                                </ng-template>
                            </div>
                        </ng-container>

                        <ng-template #noBlog>
                            <div class="img_box_big">
                                <img src="assets/img/MLZS/MLZS.svg" alt="No Blog" width="100%" class="defaultImg" />
                            </div>
                        </ng-template>
                    </div>

                    <!-- RIGHT SIDE BLOG LIST -->
                    <div class="col-md-7">
                        <div class="cascade-slider_container">
                            <div class="cascade-slider_slides">
                                <div class="cascade-slide" *ngFor="let blog of category.blogsContent; let i = index">
                                    <div class="row">
                                        <div class="col-md-5" (click)="getBlogsItem(category.categoryId, i)"
                                            style="cursor: pointer">
                                            <div class="img_box">
                                                <img [src]="blog?.logofiles?.[0]?.value || 'assets/img/MLZS/MLZS.svg'"
                                                    alt="Blog Image" width="100%" />
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="news_text">
                                                <h3>{{ blog.Title }}</h3>
                                                <p class="m-0 p-0 long_para">{{ blog.short }}</p>
                                                <p class="m-0 p-0 date_content">Date: {{ blog.CreatedDate }}</p>
                                                <button class="btn read_mode mt-2" routerLink="/blogs/{{ blog.slug }}">
                                                    Know More
                                                    <i class="fa fa-long-arrow-right mx-2"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr />
                </div>

            </div>
        </div>
    </div>
</section>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>