<section>
    <div class="programmes_main_page">
        <div class="banner_content">
        <img src="../../../../assets/img/MLZS/banner/discover_banner.png" class="w-100" alt="">
    </div>
        <div class="subMenu_content">
            <app-sub-menu></app-sub-menu>
        </div>
       
        <div class="box mt-3">
            <div class="dropdown_tab">
                <div class="row">
                    <div class="col-md-4">
                        <select #ddlcategory name="" id="" [(ngModel)]="Selectedcategory" class="form-control" (click)="onchangecategory(ddlcategory.value)">
                            <option value="">All</option>
                            <option value="{{a.categoryId}}" *ngFor="let a of blogcategory">{{a.categoryname}}</option>
                        </select>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <input name="" id="" placeholder="Search" class="form-control" (input)="onSearchChange($event)">
                    </div>
                </div>
            </div>

            <div class="text-center mt-5">
                <h2 class="text-center"><b>Blogs</b></h2>
                <img src="../../../../assets/img/MLZS/prg_text_bg.png" alt="" class="text_bg">
            </div>
            <p class="text-center">Stay informed with the latest blogs from Mount Litera Zee School. Our blogs cover various topics, from educational insights to school updates, offering a deeper perspective into the experiences, achievements, and innovations that shape our community.</p>
       
            <div class="news_list mt-5">
                <div class="row">
                    <div class="col-md-5">
                         <div *ngIf="firstBlog && firstBlog.length">
                            <a [href]="firstBlog[0]?.value" data-fancybox="gallery1" class="fancybox">
                                <img [src]="firstBlog[0]?.value" class="pinchzoom_img" id="image" width="100%"
                                    alt="Image" />
                            </a>
                            <ng-container *ngFor="let a of firstBlog.slice(1)">
                                <a [href]="a.value" data-fancybox="gallery1" style="display: none;"
                                    class="fancybox"></a>
                            </ng-container>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="row right_card" *ngFor="let a of blogsData">
                            <div class="col-md-4">
                                <div *ngFor="let img of a.OtherFiles">
                                <img src="{{img.value}}" width="100%" alt="">
                                </div>
                            </div>
                            <div class="col-md-8">
                               <div class="news_text">
                                <h5><b>{{a.Title}}</b></h5>
                                <p class="m-0 p-0" [innerHTML]="a.Long1"></p>
                                <p class="m-0 p-0 date_content"><i>Date: {{a.StartDate}}</i></p>
                                <div class="d-flex justify-content-end">
                                <button class="btn read_mode mt-4" routerLink="/blog/{{a.slug}}">Know More <i class="fa fa-long-arrow-right mx-2"></i></button>
                            </div>   
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>