<section class="about-section" id="about_content_bg">
  <div class="container">
    <div class="overlay-box">
      <h2>Programmes</h2>
      <img src="../../../assets/img/MLZS/prg_text_bg.png" class="text_bg" alt="prg_text_bg">
     <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
        aria-expanded="true" aria-controls="collapseOne">
        Litera Foundational Stage 1 (Playgroup to Sr. KG / Pre-primary School)
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       <p>The Litera Foundational Stage 1 at Mount Litera Zee School, encompassing Playgroup to Sr. KG, reflects the best practices of leading pre-primary schools. It nurtures young minds through an activity-based, experiential approach aligned with the NCF 2023 framework. We focus on building strong literacy and numeracy skills while fostering creativity, confidence, and holistic growth.</p>
       <div class="row">
        <div class="col-12 d-flex justify-content-start"> 
       <button routerLink="/programmes/litera-foundational-stage-1" class="btn btn-custom mt-3">Know More
        <span class="material-symbols-outlined">
                arrow_forward
            </span>
       </button>  
    </div>
       </div>  
    </div>
    </div>
  </div>

  <!-- Second Item -->
  <div class="accordion-item mt-2">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
        aria-expanded="false" aria-controls="collapseTwo">
       Litera Foundational Stage 2 (Grades 1 to 2)
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       <p>The Litera Foundational Stage 2 at Mount Litera Zee School, covering Grades 1 to 2, fosters curiosity, creativity, and foundational literacy and numeracy skills. It is designed in alignment with NCF 2023 and supports cognitive, social, and emotional development.</p>
          <button routerLink="/programmes/litera-foundational-stage-2" class="btn btn-custom mt-3">Know More <span class="material-symbols-outlined">
                arrow_forward
            </span></button> 
    </div>
    </div>
  </div>

  <div class="accordion-item mt-2">
    <h2 class="accordion-header" id="headingTwo3">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo3"
        aria-expanded="false" aria-controls="collapseTwo3">
     Litera Preparatory Stage (Grades 3 to 5 / Primary School)
      </button>
    </h2>
    <div id="collapseTwo3" class="accordion-collapse collapse" aria-labelledby="headingTwo3" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       <p>The Litera Foundational Stage 2 at Mount Litera Zee School, covering Grades 1 to 2, fosters curiosity, creativity, and foundational literacy and numeracy skills. It is designed in alignment with NCF 2023 and supports cognitive, social, and emotional development.</p>
          <button routerLink="/programmes/litera-preparatory-stage" class="btn btn-custom mt-3">Know More <span class="material-symbols-outlined">
                arrow_forward
            </span></button> 
    </div>
    </div>
  </div>

  <div class="accordion-item mt-2">
    <h2 class="accordion-header" id="headingTwo4">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo4"
        aria-expanded="false" aria-controls="collapseTwo4">
    Litera Middle Stage (Grades 6 to 8 / Middle School)
      </button>
    </h2>
    <div id="collapseTwo4" class="accordion-collapse collapse" aria-labelledby="headingTwo4" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       <p>The Litera Middle Stage at Mount Litera Zee School aligns with the core objectives of progressive middle schools. It focuses on fostering intellectual and social growth as students begin to connect with the broader community. We offer a transformative journey that nurtures students' transition to academic excellence, emphasising intellectual, social, and personal growth. Guided by the Litera Nova approach, students experience personalised and adaptive learning tailored to their unique needs, fostering critical thinking and self-directed learning.</p>
          <button routerLink="/programmes/middle-school" class="btn btn-custom mt-3">Know More <span class="material-symbols-outlined">
                arrow_forward
            </span></button>  
    </div>
    </div>
  </div>

  <div class="accordion-item mt-2">
    <h2 class="accordion-header" id="headingTwo5">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo5"
        aria-expanded="false" aria-controls="collapseTwo5">
     Litera Secondary Stage (Grades 9 to 12 / Secondary and Higher Secondary School)
      </button>
    </h2>
    <div id="collapseTwo5" class="accordion-collapse collapse" aria-labelledby="headingTwo5" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       <p>The Litera Secondary Stage at Mount Litera Zee School is thoughtfully designed to reflect the academic depth and flexibility offered by leading secondary and higher secondary schools. It provides students with the opportunity to shape their academic journey based on their individual interests, abilities, and future aspirations. Guided by the National Curriculum Framework, students select subjects from streams like Commerce, Science, or Arts, along with specialised electives aligned with their career goals. They engage in interdisciplinary projects, competency-based assessments, and collaborative learning that foster critical thinking, problem-solving, decision-making, and communication skills.</p>
          <button routerLink="/programmes/secondary-school" class="btn btn-custom mt-3">Know More <span class="material-symbols-outlined">
                arrow_forward
            </span></button>  
    </div>
    </div>
  </div>
</div>
    </div>
  </div>
</section>