
.text_bg{
    width:23%;
    position: relative;
    bottom:1.5rem;
    z-index: 1;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color:#FFF;
    font-size: 13px;
    padding: 5px 25px;
    background-color:#014876;
    margin: 5px;
}

.nav-link:focus, .nav-link{
    color:#014876;
    font-size: 13px;
    padding: 5px 25px;
    background-color: #44C8F5;
    margin: 5px;
}
.programm_img_content img{
    width: 80%;
    }

    .liter_img{
        width: 50%;
    }

    .liter_content{
        margin-left: 57px;
    }

  .fr_img_content img{
    width: 80%;
  }

  .title_content ul{
    padding: 0; 
    line-height: 30px;
  }

  @media screen and (max-width: 600px) {
    .programm_img_content{
       margin-top: 15px;
    }
  li{
    width: 100%;
  }

  li button{
    width: 100%;
  }
  }
h2{
  position: relative;
  z-index: 9;
  font-size: 2.5rem;
}