<section>
    <div class="programmes_content">
        <div class="box">
            <div class="title_content text-center mt-5">
            <h2 class="text-center"><b>Programmes</b></h2>
            <img src="../../../assets/img/MLZS/prg_text_bg.png" class="text_bg" alt="">
            </div>
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Litera Foundational Years
                    <br><span>(Playgroup to Grade 2)</span></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Litera Preparatory Years
                    <br><span>(Grades 3 to 5)</span></button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Litera Middle Stage 
                    <br><span>(Grades 6 to 8)</span></button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-secondary-tab" data-bs-toggle="pill" data-bs-target="#pills-secondary" type="button" role="tab" aria-controls="pills-secondary" aria-selected="false">Litera Secondary Stage 
                        <br><span>(Grades 9 to 12)</span></button>
                  </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="program_tab_content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="programm_text_content">
                                    <!-- <p>(3-5 Years)</p> -->
                                    <!-- <p>Litera Foundational Years</p> -->
                                    <p>At Mount Litera Zee School, the Litera Foundational Stage, covering Playgroup to Grade 2, lays a strong foundation for lifelong learning. This early stage focuses on nurturing curiosity, social skills, and cognitive abilities, helping young children 'learn to learn' in an engaging and supportive environment. It combines play-based and structured activities, promoting holistic development and preparing children for a smooth transition to the next stage.</p>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <button class="btn read_mode">Know More <i class="fa fa-long-arrow-right mx-2"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="programm_img_content w-100 d-flex justify-content-center">
                                    <img src="../../../assets/img/MLZS/programm_img.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="program_tab_content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="programm_text_content">
                                    <!-- <p>(6-8 Years)</p> -->
                                    <p>The Litera Preparatory Stage at Mount Litera Zee School is designed to connect learning with the real world, helping children become active participants in their educational journey. Focusing on each child's unique potential, both inside and outside the classroom, it builds a strong foundation for future learning. We adopt the Litera Nova approach, fostering creativity, critical thinking, and holistic development to prepare children for the challenges ahead.</p>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <button class="btn read_mode">Know More <i class="fa fa-long-arrow-right mx-2"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="programm_img_content w-100 d-flex justify-content-center">
                                    <img src="../../../assets/img/MLZS/pg-2.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                    <div class="program_tab_content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="programm_text_content">
                                    <!-- <p>(9-10 Years)</p> -->
                                    <p>The Litera Middle Stage at Mount Litera Zee School focuses on fostering intellectual and social growth as students begin to connect with the broader community. We offer a transformative journey that nurtures students' transition to academic excellence, emphasising intellectual, social, and personal growth. Guided by the Litera Nova approach, students experience personalised and adaptive learning tailored to their unique needs, fostering critical thinking and self-directed learning.</p>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <button class="btn read_mode">Know More <i class="fa fa-long-arrow-right mx-2"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="programm_img_content w-100 d-flex justify-content-center">
                                    <img src="../../../assets/img/MLZS/pg3.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-secondary" role="tabpanel" aria-labelledby="pills-secondary-tab">
                    <div class="program_tab_content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="programm_text_content">
                                    <!-- <p>(11-13 Years)</p> -->
                                    <p>The Litera Secondary Stage at Mount Litera Zee School provides students with the opportunity to shape their academic journey based on their individual interests, abilities, and future aspirations. Students are guided to select subjects within the National Curriculum Framework, choosing from streams like Commerce, Science, or Arts, with specialised electives to match their career goals. Students engage in interdisciplinary projects, competency-based assessments, and collaborative learning, which build critical thinking, problem-solving, decision-making, and communication skills.</p>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <button class="btn read_mode">Know More <i class="fa fa-long-arrow-right mx-2"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="programm_img_content w-100 d-flex justify-content-center">
                                    <img src="../../../assets/img/MLZS/pg4.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             
            </div>
        </div>
    </div>
</section>