<section>
    <div class="mt-5">
        <div class="title_content text-center">
        <h2 class="text-center"><b>Social Space</b></h2>
        <img src="../../../assets/img/MLZS/prg_text_bg.png" class="text_bg" alt="">
    </div>
        <p class="text-center m-0">Get a sneak peek into the vibrant life at Mount Litera Zee School, featuring snapshots of our latest activities, events,</p>
        <p class="text-center m-0">achievements, and moments shared by our students, staff, and community.</p>
          <div class="cascade-slider_container" id="cascade-slider">
  <div class="cascade-slider_slides">
    <div class="cascade-slider_item" *ngFor="let a of socialData; let i = index"
      [attr.data-slide]="i"
      [class.now]="i === currentIndex"
      [class.prev]="i === prevIndex"
      [class.next]="i === nextIndex"    >
      <!-- *ngIf="!a.short" -->
      <div class="card align" >
        <div class="subcard_" *ngFor="let img of a?.logofiles">
        <img [src]="img?.value" alt="{{img.Title}}">
        </div>
        <div class="card-title-overlay">
          <strong class="text-left mx-2">{{a.Title}}</strong>
        </div>
      </div>
      <!-- <div class="card align" *ngIf="a.short">  
          <div class="subcard_" [innerHTML]="a.short"></div>
      </div> -->
    </div>
  </div>
</div>
<ol class="cascade-slider_nav">
  <li
    class="cascade-slider_dot"
    *ngFor="let a of socialData; let i = index"
    [class.cur]="i === currentIndex"
    (click)="goToSlide(i)"
  ></li>
</ol>

    </div>
</section>