.cascade-slider_container {
  position: relative;
  width: 100%;
  height: clamp(400px, 40vh, 500px); 
  margin: clamp(20px, 4vh, 60px) auto; 
  padding-top: clamp(60px, 15vh, 180px);
  overflow-x: hidden;

}

.cascade-slider_item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) scale(0.3);
    transition: all 1s ease;
    opacity: 0;
    z-index: -1;
    text-align: center;
}

.cascade-slider_item.next {
    left: 47%;
    transform: translateY(-50%) translateX(-135%) scale(0.8);
    filter: brightness(85%);
    opacity: 1;
    z-index: 1;
}

.cascade-slider_item.prev {
    left: 53%;
    transform: translateY(-50%) translateX(35%) scale(0.8);
    filter: brightness(85%);
    opacity: 1;
    z-index: 1;
    border-radius: 20px;
}

.cascade-slider_item.now {
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) scale(1);
    opacity: 1;
    z-index: 5;
    border-radius: 20px;
}

.cascade-slider_arrow {
    display: inline-block;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 5;
}

.cascade-slider_arrow-left {
    left: 20px;
}

.cascade-slider_arrow-right {
    right: 20px;
}

.cascade-slider_arrow-left img {
    height: 40px;
    left: 40px;
}

.cascade-slider_arrow-right img {
    height: 40px;
    left: 40px;
}

.cascade-slider_nav {
    position: relative;
    bottom: 0px;
    width: 100%;
    text-align: center;
    z-index: 5;
}

.cascade-slider_dot {
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 1px solid #C2C2C2;
    background-color: #C2C2C2;
    margin: 3px;
    transition: all 0.5s;
    list-style: none;
    cursor: pointer;
    border-radius: 50px;
}

.cascade-slider_dot:hover {
    background: #4D2C5E;;
}

.cascade-slider_dot.cur {
    background: #4D2C5E;;
    width:35px;
    height:13px;
}



/*Profile card classes*/
.card {
background:#fff;
  color:#243C82;
  width:clamp(300px,25vw,350px);
  height:clamp(322px,30vh,380px);
  border-radius:20px;
  overflow:hidden;
  box-shadow:0 0 20px rgba(0,0,0,.3);
  transition:1s;
}
.subcard_{
    overflow: hidden;
}
.card img{
  width: 100%;
  height: clamp( 322px, 35vh, 360px);
  display: block;
  object-fit: cover;
}
.card-title-overlay {
  position:absolute;bottom:10px;left:0;width:100%;text-align:center;
  color:#fff;font-weight:700;font-size:18px;
  text-shadow:1px 1px 4px rgba(0,0,0,.7)
}
.card-title-overlay strong{
    font-size: 1rem;
    text-align: left;
}
.photo {
    width: 50%;
    vertical-align: middle;
    display: inline;
}

.photo img {
    transform: translateY(-35px) translateX(-10px);

}

.info {
    display: inline-block;
    width: 50%;
    height: 100%;
    text-align: center;
}

.info h2 {
    font-family: 'Roboto';
    text-transform: uppercase;
    font-size: 26px;
    color: #4196EF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 98%;
    text-align: center;
    letter-spacing: 0.055em;
    color: #243C82;
}

.content {
    font-family: Roboto;
    font-weight: 300;
}

.button {
    transform: translateX(23px) translateY(15px);
    position: absolute;
    padding: 12px 17px;
    border-radius: 30px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #243C82;
}

@media (min-width: 460px) and (max-width: 680px) {
    .cascade-slider_item {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%) scale(0.3);
        transition: all 1s ease;
        opacity: 0;
        z-index: -1;
        text-align: center;
    }

    .cascade-slider_item.next {
        left: 50%;
        transform: translateY(-50%) translateX(-90%) scale(0.4);
        filter: brightness(70%);
        opacity: 1;
        z-index: 1;
    }

    .cascade-slider_item.prev {
        left: 50%;
        transform: translateY(-50%) translateX(-10%) scale(0.4);
        filter: brightness(70%);
        opacity: 1;
        z-index: 1;
    }

    .cascade-slider_item.now {
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%) scale(0.6);
        opacity: 1;
        z-index: 5;
    }

    .cascade-slider_arrow-left img {
        height: 30px;
        left: 30px;
    }

    .cascade-slider_arrow-right img {
        height: 30px;
        left: 30px;
    }

    .cascade-slider_nav {
        display: block;
    }
}

@media (max-width: 460px) {
    .cascade-slider_container {
        position: relative;
        width: 100%;
        height: auto !important;
        margin: 45px auto;
        padding-top: 150px;
        height: 165px !important;
        overflow: hidden;
    }
    .cascade-slider_item {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%) scale(0.3);
        transition: all 1s ease;
        opacity: 0;
        z-index: -1;
        text-align: center;
    }

    .cascade-slider_item.next {
        left: 50%;
        transform: translateY(-50%) translateX(-80%) scale(0.3);
        filter: brightness(70%);
        opacity: 1;
        z-index: 1;
    }

    .cascade-slider_item.prev {
        left: 50%;
        transform: translateY(-50%) translateX(-20%) scale(0.3);
        filter: brightness(70%);
        opacity: 1;
        z-index: 1;
    }

    .cascade-slider_item.now {
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%) scale(0.5);
        opacity: 1;
        z-index: 5;
    }

    .cascade-slider_arrow-left img {
        height: 30px;
        left: 30px;
    }

    .cascade-slider_arrow-right img {
        height: 30px;
        left: 30px;
    }

    .cascade-slider_nav {
        display: block;
    }
}
.text_bg {
    width: 90px;
    position: relative;
    bottom: 1.8rem;
    left: 3rem;
    z-index: 1;
    height: 25px;
}

.title_content h2 {
    position: relative;
    z-index: 9;
}

