.title_content h2 {
    position: relative;
    z-index: 9;
}

.title_content p {
    margin: 0;
}

.text_bg {
    width: 28%;
    position: relative;
    bottom: 1.5rem;
    right: 9rem;
    z-index: 1;
    height: 30px;
}

.text_bg1 {
    position: relative;
    z-index: 1;
    height: 22px;
    width: 28%;
    left: -1rem;
    bottom: 1.8rem;
}
.text_bg2 {
    position: relative;
    z-index: 1;
    height:22px;
    width: 24%;
    left: 12rem;
    bottom: 4.2rem;
}
.title_content h2 {
    position: relative;
    z-index: 9;
}

.about_img_content img {
    width: 80%;
}

.counter_text p {
    font-size: 12px;
}


.home-demo .item {
    background: #FFF;
    width: 95%;
    margin: auto;
    height: 305px;
    border-radius: 5px;
    padding: 30px 15px;
}

.home-demo h2 {
    color: #FFF;
    text-align: center;
    margin: 0;
    font-style: italic;
    font-weight: 300;
}

.our_parents ::ng-deep.owl-carousel .owl-stage {
    position: relative;
    touch-action: manipulation;
    height: 320px;
    overflow: hidden;
}

.item_text h6 {
    color: #353535;
    font-weight: 600;
    font-size: 14px;
}

.item_text p {
    font-size: 13px;
    color: rgba(121, 121, 121, 1);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Limit to 3 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item_text span {
    font-size: 11px;
    color: #8E8E8E;
}
.item_text{
    cursor: pointer;
}

.item_img_content img {
    width: 100%;
    height: 139px;
}

hr {
    margin: 15px 0px 0px 0px;
}

/* slider css */

.owl-carousel .item {
    height: 10rem;
    box-shadow: -1px -6px 16px -7px #000;
    }

h4 {
    font-size: 20px;
    font-weight: 400;
}

.fr_img_content ::ng-deep.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    height: 155px;
}

.item_img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    overflow: hidden;
}
.item_img img{
    width: 60px;
    height: 60px;
    object-fit: cover;
}
 .desktop{
        display: block;
    }
        .mobile{
        display: none;
    }
@media screen and (max-width: 600px) {
    ::ng-deep .mobile .owl-carousel .owl-item img {
    display: block;
    width: 60px !important;
    height: 60px !important;
}
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    .text_bg1{
       position: relative;
        z-index: 1;
        height: 21px;
        width: 49% !important;
        left: -4rem !important;
        bottom: 1.5rem !important;
}
       .text_bg2{
        position: relative;
        z-index: 1;
        height: 28px;
        width: 112px !important;
        left: 8rem !important;
        bottom: 3.5rem !important;
}
.slider{
    position: relative;
    height: 420px;
    width: 100% !important;
    overflow: hidden;
}
    .fr_img_content {
        margin-top: 20px;
    }

    .our_parents ::ng-deep.owl-carousel .owl-stage {
        position: relative;
        touch-action: manipulation;
        height: auto !important;
        overflow: hidden;
    }

}


.zoom_img {
    width: 100%;
    height: 75px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.pinchzoom_img {
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.edit_img_content {
    width: 100%;
    height: 300px;
}

.pinch_img_content {
    width: 235px;
    height: 180px;
}

/* .slides {
    display: flex;
    flex-direction: column;
    transition: transform 0.6s ease-in-out;
}

.slide {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 0px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transform: scale(0.95);
    transition: all 0.3s ease;
}

.slide.active {
    opacity: 1;
    transform: scale(1.05);
    border-left: 8px solid #673ab7;
} */

.dots {
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ccc;
    cursor: pointer;
    transition: background 0.3s, height 0.3s;
}

.dot.active {
    background: #673ab7;
    height: 25px;
    border-radius: 10px;
}
strong{
    font-size: 14px;
}
/* .slider {
  position: relative;
  width: min(90%, 600px);      
  height: clamp(420px, 40vh, 500px);
  overflow: hidden;
 margin-left: clamp(0rem, 5vw, 8rem);
} */

.slider-container {
  width:85%;
  margin: 0px;
  position: relative;
}

.slider {
  overflow: hidden;
  height:320px;
}

.slides {
  transition: transform 0.3s ease-in-out;
}

.slide {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  margin: 10px 0;
  border-left: 8px solid rgba(172, 172, 172, 1);
  transform: scale(0.9);
  transition: all 0.3s ease;
  box-shadow: 0px 0px 4px 0px #ccc;

}

/* Active slide styling */
.slide.active {
  opacity: 1;
  transform: scale(1);
  border-left: 8px solid #673ab7;
}

@media (min-width: 1728px) {
   /* .slider {
    margin-left: 8rem;
  } */
}
