<section>
  <div class="about_content our_parents">
    <div class="box mt-5">
      <div class="row">
        <div class="col-md-6">
          <div class="title_content">
            <h2><b>What Our Parents
                <br>and Students Say</b></h2>
            <img src="../../../assets/img/MLZS/prg_text_bg.png" class="text_bg1" alt="">
            <p>Explore inspiring stories of our students, parents, and alumni, as they reflect on how their experiences
              at Mount Litera Zee School has made a lasting impact on their educational paths, personal opinions and
              long-term success.</p>
            <button class="btn read_mode mt-4" routerLink="/testimonials">Know More <i class="fa fa-long-arrow-right mx-2"></i></button>
          </div>
        </div>
        <div class="col-md-6">
          <!-- <div class="fr_img_content">
            <div class="owl-carousel owl-theme vertical_carousel">
              <div class="item" *ngFor="let a of ParentTestimonial">
                <div class="row">
                  <div class="col-2 d-flex justify-content-center align-items-center">
                    <div class="item_img">
                        <a [href]="a.safeUrl" data-fancybox="gallery1" class="fancybox">
                   <img src="../../../assets/img/MLZS/youtube_img.png" class="video_iframe pinchzoom_img" alt="">
                      </a>
                      </div>
                  </div>

                  <div class="col-10">
                    <div class="item_text">
                      <p>“{{a.short}}”</p>
                      <h6>{{a.title}}</h6>
                      <span>{{a.CreatedDate}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->

<div class="slider">
  <div class="slides" [style.transform]="translateY">
    <div
      class="slide item_text" *ngFor="let slide of ParentTestimonial; let i = index"
      [class.active]="i === currentIndex">
      <div class="row">
        <div class="col-2">
          <div class="item_img">
            <a [href]="slide.safeUrl" data-fancybox="gallery1" class="fancybox">
            <img src="../../../assets/img/MLZS/youtube_img.png" class="video_iframe pinchzoom_img" alt="youtube_img">
            </a>
            </div>
        </div>
      <div class="col-10">
      <p>{{ slide.short }}</p>
      <strong>{{ slide.title }}</strong>
      </div>
       <!-- <span>{{slide.CreatedDate}}</span> -->
    </div>
    </div>
  </div>

  <!-- dots -->
  <div class="dots">
    <div
      class="dot"
      *ngFor="let slide of originalSlides; let i = index"
      [class.active]="i + 1 === currentIndex"
      (click)="moveToSlide(i)"
    ></div>
  </div>
</div>

          

        </div>
      </div>

    </div>


    <!-- <div class="box">
      <app-social-wall></app-social-wall>
    </div> -->
  </div>
</section>