<section>
    <div class="programmes_content">
        <div class="box">
            
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Litera Experience
                </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Extra curricular
                   </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Litera Nova
                </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-secondary-tab" data-bs-toggle="pill" data-bs-target="#pills-secondary" type="button" role="tab" aria-controls="pills-secondary" aria-selected="false">Literati
                    </button>
                  </li>
              </ul>
              <div class="title_content text-center mt-2">
                <h2 class="text-center"><b>Litera Experience</b></h2>
                <img src="../../../../assets/img/MLZS/prg_text_bg.png" class="text_bg" alt="">
                </div>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="program_tab_content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="programm_text_content">
                                    <p>EMERGING STUDENT PROFILE (ESP)</p>
                                    <p>We have a vision of the child we aim to graduate and everything in our schools is designed around that vision. Emerging Student Profile (ESP) is the vision that Mount Litera Zee Schools promises. Everything we do in the school strives to achieve this profile for each child. While each child will take a different path to this profile, we run the schools with the firm belief that this profile will enable our children to be leaders of the 21st century.</p>
                              <p>The ESP comprises three essential faculties: life skills, knowledge and core values.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="programm_img_content w-100 d-flex justify-content-center">
                                    <img src="../../../../assets/img/MLZS/LiteraExperience.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="program_tab_content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="programm_img_content w-100 d-flex justify-content-center">
                                    <img src="../../../../assets/img/MLZS/pg-2.png" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="programm_text_content">
                                <h6>EVENTS AND CELEBRATIONS</h6>
                                    <p>Mount Litera Zee Schools organise various events and celebrations throughout the year. The chief of them is the Annual Function. Here are some major events and celebrations that our schools organize. Sports Day is one of the most important days in the school calendar along with the day of the Annual Function. Our school celebrate many local and national festivals along with participating in international projects like Japan Peace Crane Project. We encourage students to celebrate Grandparents’ Day so that students and the school can pay respect to the senior citizens in the community. Blue Ribbon Day celebrates our firm commitment for preventing child abuse. Our schools also have preferential access to BrainCafé Budding Scientist Contest, a nation-wide talent hunt for the best science talent in Grades 1-8.</p>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                    <div class="program_tab_content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="programm_text_content">
                                    <p>(9-10 Years)</p>
                                    <p>The Litera Middle School Program at Mount Litera Zee School focuses on fostering intellectual and social growth as students begin to connect with the broader community. Using the Litera Nova approach, we provide an integrated teaching, learning, and assessment framework that encourages independent learning and personal responsibility. This stage aims to help
                                        students connect meaningful life experiences with their academic studies, empowering them to see the relevance of what they learn in the world around them.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="programm_img_content w-100 d-flex justify-content-center">
                                    <img src="../../../../assets/img/MLZS/pg3.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-secondary" role="tabpanel" aria-labelledby="pills-secondary-tab">
                    <div class="program_tab_content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="programm_text_content">
                                    <p>(11-13 Years)</p>
                                    <p>The Secondary School Program at Mount Litera Zee School focuses on shaping the future of each student based on their subject preferences and developed skills. At this stage, the goal is to refine and deepen the knowledge and skills acquired in Middle School, preparing students for higher education and future careers. Through focused learning and personalised guidance, we help students build a strong foundation for success in their academic and professional journeys.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="programm_img_content w-100 d-flex justify-content-center">
                                    <img src="../../../../assets/img/MLZS/pg4.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             
            </div>
        </div>
    </div>
</section>