.multi_img_group {
  display: flex;
  justify-content: center;
}

.multi_img_group img {
  width: 80%;
}

section {
  background: url("https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/bg_svg/Academic-Beyond-Litera-Experience.bg.svg") no-repeat center center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

.programmes_content {
  overflow: hidden;
}

.menu_content {
  width: 40%;
  height: 50px;
  position: relative;
  left: 5.5rem;
  padding: 10px;
}

.text_bg {
  width: 80px;
  position: relative;
  bottom: 1.8rem;
  left: 8rem;
  z-index: 1;
  height: 19px;
}

.text_bg1 {
  width: 70px;
  position: relative;
  bottom: 2rem;
  left: 7rem;
  z-index: 1;
  height: 20px;
}

h2 {
  position: relative;
  z-index: 9;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background: #014876;
  font-size: clamp(13px, 1vw, 13px);
  padding: 12px 55px;
  margin: clamp(5px, 0.5vw, 6px);
  border-radius: 6px;
}

.nav-link:focus,
.nav-link {
  color: #014876;
  font-size: clamp(13px, 1vw, 13px);
  padding: 12px 55px;
  margin: clamp(5px, 0.5vw, 6px);
  background-color: #44C8F5;
}

.liter_img {
  width: 50%;
}

.liter_content {
  margin-left: 57px;
}

.fr_img_content img {
  width: 80%;
}

.title_content ul {
  padding: 0;
  line-height: 30px;
}

@media screen and (max-width: 600px) {
  .menu_content {
    width: 100%;
    height: 50px;
    position: relative;
    left: 1rem;
    padding: 10px;
  }

  .programm_para {
    margin: 38px 30px !important;
    text-align: justify;
  }
}

.programm_para {
  margin: 38px 52px;
  text-align: justify;
}

.sm_h2 {
  font-family: 'Poppins' !important;
  font-size: clamp(14px, 1vw, 2rem) !important;
}

h3 {
  display: inline;
  font-weight: 700;
  margin: 0;
  font-size: clamp(14px, 1vw, 2rem) !important;
}

.sm_text {
  font-size: clamp(14px, 1vw, 2rem) !important;
}