<section>
    <div class="about_content testimonials">
    <div class="">
        <div class="row">
            <div class="col-md-12">
                <div class="title_content text-center">
                    <h2 class=""><b>Testimonials</b></h2>
                    <img src="../../../assets/img/MLZS/prg_text_bg.png" class="text_bg" alt="">
                    <div class="text-white text-center">
                        <p>Explore inspiring stories of our students, parents, and alumni, as they reflect on how their experiences at Mount</p>
                        <p>Litera Zee School has made a lasting impact on their educational paths, personal opinions and long-term success.</p>
                       </div>
                </div>
                <div class="home-demo mt-3">
                    <div class="owl-carousel owl-theme news_owl" id="">
                      <div class="item" *ngFor="let a of testimonialDataList">
                        <div class="item_img_content" *ngIf="a.safeUrl">
                            <iframe class="text_bg" [src]="a.safeUrl" title="Chiv Chiv Chimni in 3D - Marathi 3D Rhymes | Marathi Balgeet Song मराठी गाणी 2019" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div class="item_img_content" *ngIf="!a.safeUrl">
                            <div *ngFor="let dat of a.logofiles">
                            <img src="{{dat.value}}" alt="">
                            </div>
                        </div>
                        <hr>
                        <div class="item_text mt-2 strong_title">
                        <img src="../../../assets/img/MLZS/Quote.png" alt="">
                          <p class="mt-2 mb-0"><strong>{{a.title}}</strong></p>
                          <p [innerHTML]="a.short"></p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
       
    </div>
</div>
</section>