.about_content{
    width: 100%;
    padding: 55px 0px;
    background-color: #004878;
}
.text_bg{
    width:23%;
    position: relative;
    bottom:1.3rem;
    z-index: 1;
    height: 30px;
}

.about_img_content img{
width: 80%;
}

.counter_text p{
    font-size: 12px;
}


.home-demo .item {
    width: 95%;
    margin: auto;
    height: 310px;
    border-radius: 5px;
    padding: 0px 0px;
    padding: 15px 15px;
}
.home-demo h2 {
    color: #FFF;
    text-align: center;
    /* padding: 5rem 0; */
    margin: 0;
    font-style: italic;
    font-weight: 300;
}

::ng-deep.owl-carousel .owl-stage {
    position: relative;
    touch-action: manipulation;
    height:320px;
    overflow: hidden;
}

.item_img_content img{
    width: 100%;
    height: 139px;
    object-fit: contain;
}
.item_text img{
    width: 25px;
}

hr{
    margin: 15px 0px 0px 0px;
}

::ng-deep .center{
    background-color: #FFF !important;  /* Change background color of the active item */ 
    box-shadow: 0px 0px 10px 0px #0000003b !important;
    color: #21252988 !important;
  }
  ::ng-deep .owl-item{
    background-color: #44C8F5;
    color: #fff;
  }

  ::ng-deep .center .item_content{
    background-color: #FFF !important;  /* Change background color of the active item */ 
    /* box-shadow: 0px 0px 10px 0px #0000003b !important; */
    color: #21252988 !important;
    font-size: 13px;
  }

  ::ng-deep .owl-item .item_content{
    color: #fff;
    font-size: 13px;
  }

  .title_content h2{
    position: relative;
    z-index: 9;
  }

  .shortPara{
  display: -webkit-box;
  -webkit-line-clamp: 2 !important;      /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item{
  cursor: pointer;
}
