<section>
    <div class="box">

        <div class="row">
            <div class="col-md-12">
                <div class="title_content text-center">
                    <h2 class="text-white"><b>Our Approach</b></h2>
                    <img src="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/text-bg.png" class="text_bg" alt="">
                  </div>
                <div class="home-demo">
                  <img src="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/OurApproach.png" class="ourApproach" alt="OurApproach">
                  </div>
            </div>
        </div>
       
    </div>
</section>