<section>
    <div class="about_content">
    <div class="box">
        <div class="row">
            <div class="col-md-12">
                <div class="title_content text-center">
                    <h2 class="text-white"><b>Our Approach</b></h2>
                    <img src="../../../assets/img/MLZS/text-bg.png" class="text_bg" alt="">
                    <div class="text-white text-center">
                        <p>Explore inspiring stories of our students, parents, and alumni, as they reflect on how their experiences at Mount</p>
                        <p>Litera Zee School has made a lasting impact on their educational paths, personal opinions and long-term success.</p>
                       </div>
                </div>
                <div class="home-demo mt-3">
                    <div class="owl-carousel owl-theme news_owl" id="">
                      <div class="item">
                        <div class="item_img_content">
                            <img class="text_bg" src="../../../assets/img/MLZS/news1.png">
                        </div>
                        <hr>
                        <div class="item_text mt-2">
                          <h6 class="mt-2">Hear from our parent at Mount Litera Zee School.</h6>
                        </div>
                      </div>
                      <div class="item">
                        <div class="item_img_content">
                            <img class="text_bg" src="../../../assets/img/MLZS/news2.png">
                        </div>
                        <hr>
                        <div class="item_text mt-2">
                          <h6 class="mt-2">Hear from our parent at Mount Litera Zee School.</h6>
                        </div>
                      </div>
                      <div class="item">
                        <div class="item_img_content">
                            <img class="text_bg" src="../../../assets/img/MLZS/news3.png">
                        </div>
                        <hr>
                        <div class="item_text mt-2">
                          <h6 class="mt-2">Hear from our parent at Mount Litera Zee School.</h6>
                        </div>
                      </div>
                      <div class="item">
                        <div class="item_img_content">
                            <img class="text_bg" src="../../../assets/img/MLZS/news1.png">
                        </div>
                        <hr>
                        <div class="item_text mt-2">
                          <h6 class="mt-2">Zee Learn as the Most Trusted Education Brand</h6>
                         
                        </div>
                      </div>
                      <div class="item">
                        <div class="item_img_content">
                          <img class="text_bg" src="../../../assets/img/MLZS/news1.png">
                      </div>
                        <hr>
                        <div class="item_text mt-2">
                            <img src="../../../assets/img/MLZS/Quote.png" alt="">
                          <h6 class="mt-2">Zee Learn as the Most Trusted Education Brand</h6>
                         </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
       
    </div>
</div>
</section>