<section>
    <div class="programmes_main_page">
        <div class="banner_content">
            <img src="../../../assets/img/MLZS/banner/about_banner.png" class="img-fluid d-none d-md-block w-100"
                alt="about banner">
            <img src="../../../../assets/img/MLZS/banner/mobile_banner/About-us.jpg"
                class="img-fluid d-block d-md-none w-100" alt="Mobile banner">
        </div>
        <div class="subMenu_content">
            <app-sub-menu></app-sub-menu>
        </div>
        <div class="tab_content">
            <div class="programmes_content">
                <div class="box">
                    <ul class="nav nav-pills mb-3 mt-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation" routerLink="/about-us/legacy">
                            <button class="nav-link" id="pills-home-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                aria-selected="true">Our Legacy
                            </button>
                        </li>
                        <li class="nav-item" role="presentation" routerLink="/about-us/vision">
                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                                aria-selected="false">Our Vision
                            </button>
                        </li>
                        <li class="nav-item" role="presentation" routerLink="/about-us/our-philosophy">
                            <button class="nav-link active" id="pills-contact-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                                aria-selected="false">Our Philosophy
                            </button>
                        </li>
                        <li class="nav-item" role="presentation" routerLink="/about-us/awards-recognitions">
                            <button class="nav-link" id="pills-secondary-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-secondary" type="button" role="tab"
                                aria-controls="pills-secondary" aria-selected="false">Awards and Recognitions
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content mt-2" id="pills-tabContent">
                        <div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <div class="program_tab_content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="programm_text_content">
                                            <p>For over two decades, Zee Learn Limited has built a rich legacy of
                                                innovation and excellence in education. With groundbreaking initiatives
                                                like Mount Litera Zee Schools, Mount Litera School International, Kidzee
                                                pre-schools, and Zee Institutes of Media Arts and Creative Art, we have
                                                redefined education in India. With a robust foundation in quality
                                                education and progressive methodologies, Zee Learn remains dedicated to
                                                shaping the future of learning and contributing to India’s knowledge
                                                economy.</p>
                                            <p>Mount Litera Zee School is committed to setting benchmarks in educational
                                                excellence, ensuring its legacy evolves with the changing needs of the
                                                21st century.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="programm_img_content w-100 d-flex justify-content-center">
                                            <img src="../../../assets/img/MLZS/our-lagecy.png" alt="our lagecy">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                            aria-labelledby="pills-profile-tab">
                            <div class="program_tab_content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="programm_text_content">
                                            <p>Mount Litera Zee School aims to provide a holistic and unique educational
                                                experience, equipping children with the skills and knowledge needed for
                                                a successful life in contemporary society. Our vision is to:</p>
                                            <div class="row">
                                                <div class="col-1">
                                                    <img src="../../../assets/img/MLZS/right_icon.png"
                                                        class="right_icon" alt="">
                                                </div>
                                                <div class="col-11 ">To create an excellent educational institution
                                                    synthesising the human values with the highest quality of
                                                    teaching–learning using modern technology-driven tools for preparing
                                                    a well-rounded personality for our society.</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-1">
                                                    <img src="../../../assets/img/MLZS/right_icon.png"
                                                        class="right_icon" alt="">
                                                </div>
                                                <div class="col-11 ">To shape global minds on the Indian soil: To
                                                    ensure this, the school will give every student an access to
                                                    world-class infrastructure, and an innovative curriculum that
                                                    promotes the all-round development of the child imbibing traditional
                                                    values.</div>
                                            </div>

                                            <h5 class="mt-3">Vision of Zee Learn</h5>
                                            <p>"We provide the environment to ignite, nurture, and unleash your
                                                potential and talent."</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="programm_img_content w-100 d-flex justify-content-center">
                                            <img src="../../../assets/img/MLZS/our-vision.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show active" id="pills-contact" role="tabpanel"
                            aria-labelledby="pills-contact-tab">
                            <div class="program_tab_content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="programm_text_content">
                                            <p>At Mount Litera Zee School, we believe education should transcend
                                                traditional boundaries and prepare children for life, not just exams.
                                                Through our Unique Learner Profile (ULP), we honour each child’s
                                                individual strengths, learning styles, and aspirations, enabling us to
                                                teach them in a way that suits their unique learning needs. We create
                                                ecosystems of growth where creativity, inquiry, and exploration lead the
                                                learning process, empowering students to take ownership of their
                                                educational journey. Our approach integrates cutting-edge pedagogy,
                                                heutagogy-based learning or self-determined learning, technology-driven
                                                tools, and cross-disciplinary methods to foster conceptual clarity,
                                                critical thinking, and 10-fold holistic development.</p>
                                            <p>Beyond academics, we nurture life skills, values, and a strong sense of
                                                purpose, preparing students to become confident, compassionate, and
                                                resilient leaders. With a focus on real-world problem-solving, students
                                                are equipped to adapt, thrive, and shape the future with empathy,
                                                creativity, and integrity, rooted in Indian values and enriched by
                                                global perspectives.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="programm_img_content w-100 d-flex justify-content-center">
                                            <img src="../../../assets/img/MLZS/ourphilosophy.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-secondary" role="tabpanel"
                            aria-labelledby="pills-secondary-tab">
                            <div class="program_tab_content">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="programm_text_content">
                                            <p>At Mount Litera Zee School, our awards and recognitions are a testament
                                                to our dedication to educational excellence and innovation, setting new
                                                benchmarks in the academic world.</p>
                                            <p><b>2023</b></p>
                                            <div class="row">
                                                <div class="col-1">
                                                    <img src="../../../assets/img/MLZS/cup_icon.png" class="right_icon"
                                                        alt="">
                                                </div>
                                                <div class="col-11 ">
                                                    <p>Tech Circle Edge Insights - Business Transformation Award 2023
                                                    </p>
                                                </div>
                                                <div class="col-1">
                                                    <img src="../../../assets/img/MLZS/cup_icon.png" class="right_icon"
                                                        alt="">
                                                </div>
                                                <div class="col-11 ">
                                                    <p>The Economic Times Media Partner - Fortune Leadership Awards -
                                                        Education Brand of the Year 2023</p>
                                                </div>
                                                <div class="col-1">
                                                    <img src="../../../assets/img/MLZS/cup_icon.png" class="right_icon"
                                                        alt="">
                                                </div>
                                                <div class="col-11 ">
                                                    <p>Education Excellence Award</p>
                                                </div>
                                                <div class="col-1">
                                                    <img src="../../../assets/img/MLZS/cup_icon.png" class="right_icon"
                                                        alt="">
                                                </div>
                                                <div class="col-11 ">
                                                    <p>Education Today - Ranked no. 1 for Best Sports Participation
                                                        Opportunities</p>
                                                </div>
                                                <div class="col-1">
                                                    <img src="../../../assets/img/MLZS/cup_icon.png" class="right_icon"
                                                        alt="">
                                                </div>
                                                <div class="col-11 ">
                                                    <p>Best CBSE School in North India</p>
                                                </div>
                                            </div>
                                            <p><b>2024</b></p>

                                            <div class="row">
                                                <div class="col-1">
                                                    <img src="../../../assets/img/MLZS/cup_icon.png" class="right_icon"
                                                        alt="">
                                                </div>
                                                <div class="col-11 ">
                                                    <p>Economic Times - Best Education Brands Zee Learn - 2024</p>
                                                </div>

                                                <div class="col-1">
                                                    <img src="../../../assets/img/MLZS/cup_icon.png" class="right_icon"
                                                        alt="">
                                                </div>
                                                <div class="col-11 ">
                                                    <p>Elets World Education Summit 2024 - Excellence in Faculty
                                                        Training</p>
                                                </div>

                                                <div class="col-1">
                                                    <img src="../../../assets/img/MLZS/cup_icon.png" class="right_icon"
                                                        alt="">
                                                </div>
                                                <div class="col-11 ">
                                                    <p>Education Today - India School Merit Awards 2024</p>
                                                </div>

                                                <div class="col-1">
                                                    <img src="../../../assets/img/MLZS/cup_icon.png" class="right_icon"
                                                        alt="">
                                                </div>
                                                <div class="col-11 ">
                                                    <p>India's Top CBSE Schools - Awarded for Holistic Education</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="row">
                                            <div class="col-12">
                                                <button class="btn read_mode">Know More <i class="fa fa-long-arrow-right mx-2"></i></button>
                                            </div>
                                        </div> -->
                                    </div>
                                    <div class="col-md-6">
                                        <div class="programm_img_content w-100 d-flex justify-content-center">
                                            <img src="../../../assets/img/MLZS/award.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="faq_bg py-5 mt-5">
            <div class="title_content text-center">
                <h2 class="text-white"><b>FAQs</b></h2>
                <img src="../../../assets/img/MLZS/text-bg.png" class="text_bg" alt="">
                <p class="m-0 text-white">Have a burning question? We're here to answer the most common ones.</p>
                <app-faqs [shadowFaq]="false"></app-faqs>
            </div>
        </div>
        <div class="my-5">
            <app-testimonial></app-testimonial>
        </div>

    </div>
</section>