.multi_img_group{
    display: flex;
    justify-content: center;
}

.multi_img_group img{
width: 80%;
}

section{
    background-image: url('../../../assets/img/MLZS/main_bg.png');
    background-size: contain;
    width: 100%;
    padding: 25px 0px 50px 0px;
  }
  .programmes_main_page{
    margin-top:6.5rem;
}

@media screen and (max-width: 600px) {
.programmes_main_page{
  margin-top: 10px;
}
}