<section>
    <div class="programmes_main_page">
        <img src="../../../assets/img/MLZS/banner/programme_img.png" class="w-100" alt="">
        <app-programmes></app-programmes>
        <!-- <div class="box">
            <div class="row">
                <div class="col-md-6">
                    <div class="multi_img_group">
                        <img src="../../../assets/img/MLZS/multi_g_img.png" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <p>Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>

                        <div class="row">
                            <div class="col-1">
                                <img src="../../../assets/img/MLZS/right_icon.png" width="15px" height="15px" alt="">
                            </div>
                            <div class="col-11 p-0">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                            <div class="col-1">
                                <img src="../../../assets/img/MLZS/right_icon.png" width="15px" height="15px" alt="">
                            </div>
                            <div class="col-11 p-0">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                            <div class="col-1">
                                <img src="../../../assets/img/MLZS/right_icon.png" width="15px" height="15px" alt="">
                            </div>
                            <div class="col-11 p-0">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                            <div class="col-1">
                                <img src="../../../assets/img/MLZS/right_icon.png" width="15px" height="15px" alt="">
                            </div>
                            <div class="col-11 p-0">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                            <div class="col-1">
                                <img src="../../../assets/img/MLZS/right_icon.png" width="15px" height="15px" alt="">
                            </div>
                            <div class="col-11 p-0">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                </div>
            </div>
        </div> -->
       <div class="mt-5">
        <app-faqs></app-faqs>
    </div>
        <app-blogs></app-blogs>
        <app-testimonial></app-testimonial>
    </div>
</section>