<section>
    <div class="programmes_main_page">
        <div class="banner_content">
            <img src="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/banner/programme_img.png" class="w-100"
                alt="programme_img">
        </div>
        <div class="subMenu_content">
            <app-sub-menu></app-sub-menu>
        </div>
      
        <div class="title_box mt-3">
        <h1 class="head_title my-2">Academic Programs at Mount Litera Zee School
            <br /> <img src="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/prg_text_bg.png"
                class="head_title_bg" alt="">
        </h1>
        </div>

        <div class="mt-2">
            <app-programmes></app-programmes>
        </div>
        <!-- <div class="mt-5">
            <app-faqs></app-faqs>
        </div>
        <app-blogs></app-blogs> -->
        <!-- <div class="my-5">
            <app-testimonial></app-testimonial>
        </div> -->
    </div>
</section>