.multi_img_group{
    display: flex;
    justify-content: center;
}

.multi_img_group img{
width: 80%;
}
section{
     background: url("../../../assets/img/MLZS/bg_svg/Programms-page-bg.svg") no-repeat center center;
      background-size: cover;
      width: 100%;
      min-height: 100vh; 
  }
@media screen and (max-width: 600px) {
}