<section>
    <div class="programmes_main_page">
        <div class="banner_content">
        <img src="../../../assets/img/MLZS/banner/programme_img.png" class="w-100" alt="programme_img">
        </div>
       <div class="subMenu_content">
            <app-sub-menu></app-sub-menu>
        </div>
        <div class="mt-2">
        <app-programmes></app-programmes>
        </div>
       <div class="mt-5">
        <app-faqs></app-faqs>
    </div>
        <app-blogs></app-blogs>
        <div class="my-5">
        <app-testimonial></app-testimonial>
        </div>
    </div>
</section>