section{
    background-size: contain;
    width: 100%;
    padding: 25px 0px 50px 0px;
  }

.menu_content{
    width: 40%;
    height: 50px;
    position: relative;
    left: 5.5rem;
    padding: 10px;
}

.text_bg{
    width: clamp(80px, 20vw, 100px);
    height: clamp(16px, 2vw, 30px);
    position: relative;
    bottom: clamp(0.8rem, 2vw, 2rem);
    left: clamp(1rem, 31vw, 32rem);
    z-index: -1;
}
.text_bg1{
    width: clamp(80px, 100px, 220px);
    height: clamp(16px, 1vw, 25px);
    position: relative;
    bottom: clamp(0.8rem, 2vw, 2rem);
    left: clamp(0.5rem, 9vw, 9rem);
    z-index: -1;
}
h2{
    position: relative;
    z-index: 1;
    font-weight: 800;
}
.sm_h2 {
    font-family: 'Poppins' !important;
    font-size: clamp(14px, 1vw, 2rem) !important;
}
  @media screen and (max-width: 600px) {
    }