section{
    background-size: contain;
    width: 100%;
    padding: 25px 0px 50px 0px;
  }

.menu_content{
    width: 40%;
    height: 50px;
    position: relative;
    left: 5.5rem;
    padding: 10px;
}

  .text_bg{
    width: 26%;
    height: 20px;
    position: relative;
    bottom: 1.8rem;
    z-index: -1;
}
h2{
    position: relative;
    z-index: 1;
    font-weight: 800;
}
  @media screen and (max-width: 600px) {
    }