<section>
    <div class="main_content">
        <div class="top_banner">
            <img src="../../../assets/img/MLZS/banner/discoverMore.png" width="100%" alt="">
        </div>
       
        <div class="menu_content">
            <app-sub-menu></app-sub-menu>
        </div>

        <div class="locat_school mt-5">
            <div class="box">
                <div class="title_content text-center"> 
                <h2><b>Discover More</b></h2>
                <img src="../../../assets/img/MLZS/prg_text_bg.png" class="text_bg" alt="">
               <p class="m-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
               <p>standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to</p>
            
               <div class="row">
                <div class="col-md-4 mt-5">
                    <div class="item_white_bg" routerLink="/news">
                        <div class="item_img_content">
                            <img class="text_bg" src="../../../assets/img/MLZS/news2.png">
                        </div>
                        <hr>
                        <div class="item_text mt-2">
                          <h6 class="mt-2">News</h6>
                          <p class="text-left">Stay updated with the latest happenings and announcements.</p>
                        </div>
                      </div>
                </div>
                <div class="col-md-4 mt-5">
                    <div class="item"  routerLink="/events">
                        <div class="item_img_content">
                            <img class="text_bg" src="../../../assets/img/MLZS/news1.png">
                        </div>
                        <hr>
                        <div class="item_text mt-2">
                          <h6 class="mt-2">Event</h6>
                          <p class="text-white text-left">Discover upcoming and past events that shape our vibrant community.</p>
                        </div>
                      </div>
                </div>
                <div class="col-md-4 mt-5">
                    <div class="item_white_bg"  routerLink="/blogs">
                        <div class="item_img_content">
                            <img class="text_bg" src="../../../assets/img/MLZS/news3.png">
                        </div>
                        <hr>
                        <div class="item_text mt-2">
                          <h6 class="mt-2">Blogs</h6>
                          <p>Explore insightful articles and stories that inspire learning and growth.</p>
                        </div>
                      </div>
                </div>
                <div class="col-md-4 mt-5">
                    <div class="item" routerLink="/faqs">
                        <div class="item_img_content">
                            <img class="text_bg" src="../../../assets/img/MLZS/news1.png">
                        </div>
                        <hr>
                        <div class="item_text mt-2">
                          <h6 class="mt-2">FAQ</h6>
                          <p class="text-white text-left">Find answers to all your questions about Mount Litera Zee School.</p>
                        </div>
                      </div>
                </div>
                <div class="col-md-4 mt-5">
                    <div class="item_white_bg" routerLink="/gallery">
                        <div class="item_img_content">
                            <img class="text_bg" src="../../../assets/img/MLZS/news2.png">
                        </div>
                        <hr>
                        <div class="item_text mt-2">
                          <h6 class="mt-2">Gallery</h6>
                          <p>Take a glimpse into our memorable moments and achievements.</p>
                        </div>
                      </div>
                </div>
                <div class="col-md-4 mt-5">
                    <div class="item" routerLink="/testimonials">
                        <div class="item_img_content">
                            <img class="text_bg" src="../../../assets/img/MLZS/news1.png">
                        </div>
                        <hr>
                        <div class="item_text mt-2">
                          <h6 class="mt-2">Testimonials</h6>
                          <p class="text-white text-left">Listen to heartfelt stories and experiences from our parents, students, and educators.</p>
                        </div>
                      </div>
                </div>
                <div class="col-md-4 mt-5">
                   
                </div>
                <div class="col-md-4 mt-5">
                    <div class="item" routerLink="/achievements">
                        <div class="item_img_content">
                            <img class="text_bg" src="../../../assets/img/MLZS/news1.png">
                        </div>
                        <hr>
                        <div class="item_text mt-2">
                          <h6 class="mt-2">Achievements</h6>
                          <p class="text-white text-left">Celebrating the milestones and accolades that define our excellence.</p>
                        </div>
                      </div>
                </div>
                <div class="col-md-4 mt-5">
                    
                </div>
               </div>

            </div>
            </div>
            <div class="box_content mt-5">
              <app-faqs></app-faqs>
              </div>
              <div class="box_content">
        <app-blogs></app-blogs>
    </div>
    <div class="box_content">
         <app-testimonial></app-testimonial>
    </div>
    
        </div>
    </div>
   
</section>