.top_banner{
    margin-top:6.5rem;
}

section{
  background: url("https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/bg_svg/Discover-more.svg") no-repeat center center;
  background-size: contain;
  width: 100%;
  min-height: 100vh;
}
.menu_content{
    width:100%;
    height: 50px;
    position: relative;
    left: 5.5rem;
}
.map_content img{
    width:90%;
    margin: auto;
    object-fit: cover;
}
h2{
  position: relative;
  z-index: 9;
}
.text_bg{
    width: 15%;
    position: relative;
    bottom: 1.7rem;
    z-index: 1;
    left: 0rem;
    height: 26px;
}

.reset_btn{
    background-color: #44C8F5;
    width: 100%;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.media_icon{
    width: 45px;
    height:45px;
}

textarea{
    font-size: 13px;
    padding: 10px;
}

@media screen and (max-width: 600px) {
    .top_banner{
        margin-top: 0.8rem;
    }
}

.item {
    background: #3CB9E9;
    width: 95%;
    margin: auto;
    height: 325px;
    border-radius: 5px;
    padding: 30px 15px;
}

.item_white_bg{
  background: #fff;
  width: 95%;
  margin: auto;
  min-height: 200px;
  height: clamp(325px, 40vh, 400px);
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 2rem 1rem;
  box-shadow: 0 -9px 10px -1px #ccc;
}

.item_white_bg h6{
    color: #004878 !important;
    text-align: left;
}
h6{
    font-weight: 600;
}
.item_text h6{
    color: #FFF;
    text-align: left;

}
.item_text p{
    font-size: 13px;
    color: #014876;
    text-align: left;
}

.item_img_content{
    width: 100%;
    height: clamp(165px, 25vh, 165px) !important;
    overflow: hidden;
    margin-top: 1rem;
}

.item_img_content img{
    width: 100%;
    height: clamp(165px, 25vh, 165px) !important;
    overflow: hidden;
    margin-top: 1rem;
}
.item_text img{
    width: 25px;
}

hr{
    margin: 0px 0px 0px 0px;
}

.item_white_bg{
    cursor: pointer;
    overflow: hidden;
}

.item{
    cursor: pointer;
    overflow: hidden;
}