<section>
    <div class="main_content">
        <div class="top_banner">
            <img src="../../../assets/img/MLZS/banner/discoverMore.png" width="100%" alt="">
        </div>
       
        <div class="menu_content">
            <app-sub-menu></app-sub-menu>
        </div>

        <div class="locat_school mt-5">
            <div class="box">
                <div class="title_content text-center"> 
                <h2><b>Discover More</b></h2>
                <img src="../../../assets/img/MLZS/prg_text_bg.png" class="text_bg" alt="">
               <p class="m-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</p>
               <p>standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to</p>
            
               <div class="row">
                <div class="col-md-4 mt-5">
                    <div class="item_white_bg">
                        <div class="item_img_content">
                            <img class="text_bg" src="../../../assets/img/MLZS/news2.png">
                        </div>
                        <hr>
                        <div class="item_text mt-2">
                          <h6 class="mt-2">News</h6>
                        </div>
                      </div>
                </div>
                <div class="col-md-4 mt-5">
                    <div class="item">
                        <div class="item_img_content">
                            <img class="text_bg" src="../../../assets/img/MLZS/news1.png">
                        </div>
                        <hr>
                        <div class="item_text mt-2">
                          <h6 class="mt-2">Event</h6>
                        </div>
                      </div>
                </div>
                <div class="col-md-4 mt-5">
                    <div class="item_white_bg">
                        <div class="item_img_content">
                            <img class="text_bg" src="../../../assets/img/MLZS/news3.png">
                        </div>
                        <hr>
                        <div class="item_text mt-2">
                          <h6 class="mt-2">Blogs</h6>
                        </div>
                      </div>
                </div>
                <div class="col-md-4 mt-5">
                    <div class="item">
                        <div class="item_img_content">
                            <img class="text_bg" src="../../../assets/img/MLZS/news1.png">
                        </div>
                        <hr>
                        <div class="item_text mt-2">
                          <h6 class="mt-2">FAQ'S</h6>
                        </div>
                      </div>
                </div>
                <div class="col-md-4 mt-5">
                    <div class="item_white_bg">
                        <div class="item_img_content">
                            <img class="text_bg" src="../../../assets/img/MLZS/news2.png">
                        </div>
                        <hr>
                        <div class="item_text mt-2">
                          <h6 class="mt-2">Media Gallery</h6>
                        </div>
                      </div>
                </div>
                <div class="col-md-4 mt-5">
                    <div class="item">
                        <div class="item_img_content">
                            <img class="text_bg" src="../../../assets/img/MLZS/news1.png">
                        </div>
                        <hr>
                        <div class="item_text mt-2">
                          <h6 class="mt-2">Parents and student tesimonials</h6>
                        </div>
                      </div>
                </div>
                <div class="col-md-4 mt-5">
                   
                </div>
                <div class="col-md-4 mt-5">
                    <div class="item">
                        <div class="item_img_content">
                            <img class="text_bg" src="../../../assets/img/MLZS/news1.png">
                        </div>
                        <hr>
                        <div class="item_text mt-2">
                          <h6 class="mt-2">School Achievements</h6>
                        </div>
                      </div>
                </div>
                <div class="col-md-4 mt-5">
                    
                </div>
               </div>

            </div>
            </div>
        </div>
    </div>
   
</section>