.nav-sub-item {
    margin-left: 25px;
    font-weight: 600;
    font-size: 13px;
}

nav {
    padding: 0;
}

.whiteHeader {
    top: 2.5rem;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #fff;
}

ul li a {
    color: #000;
    font-weight: normal;
    cursor: pointer;
}

.ul_content {
    margin: auto;
}

.dropdown-menu a {
    color: #FFF;
    font-weight: normal;
    cursor: pointer;
    background-color: #004878;
}

.dropdown-menu a:hover {
    color: #FFF;
    font-weight: normal;
    cursor: pointer;
    background-color: #004878;
}

/* dropdown menu css */

@media (min-width: 768px) {
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
        cursor: pointer;
    }
}

@media (max-width: 767px) {
    .dropdown:hover .dropdown-menu {
        display: none;
        margin-top: auto;
    }
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: fixed;
    background-color: #004878;
}

.dropdown-item {
    color: rgba(64, 60, 57, 0.80);
    font-size: 13px;
    background-color: #fff;
}

.dropdown-item:hover {
    background-color: #004878;
}

.navbar-toggler {
    display: none;
}

.desktop_nav {
    display: block;
}

.mobile_nav {
    display: none;
}

@media screen and (max-width: 600px) {
    .kidzee_logo_img {
        width: 50%;
    }

    .search-icon {
        position: absolute;
        left: 12px;
        top: 70% !important;
        transform: translateY(-50%);
        color: gray;
        font-size: 13px;
    }

    .media_icon {
        margin: 1rem 1rem !important;
        display: flex;
        justify-content: center;
    }

    .right_botder_btn {
        border-right: none !important;
        border-left: none !important;
        font-size: 14px;
        transition: 0.6s;
        color: #fff;
        padding: 10px 16px;
    }

    .desktop_nav {
        display: none;
    }

    #mobile_nav {
        display: block;
        padding: 0 !important;
        margin-top: 0 !important;
        background: #fff !important;
    }

    .top_header {
        width: 100%;
        position: fixed;
        padding: 10px;
        top: auto !important;
        bottom: 0 !important;
        display: grid !important;
        z-index: 999;
        background-color: #004878;
    }

    .nav-link {
        color: #FFF !important;
    }

    #navbarNav {
        margin-top: 30px;
    }

    .navbar-toggler-icon {
        display: inline-block;
        width: 1em;
        height: 1em;
        vertical-align: middle;
        background-image: var(--bs-navbar-toggler-icon-bg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }

    .navbar-toggler {
        position: fixed;
        display: block;
        width: 9%;
        height: 33px;
        right: 9px;
        top: 9px;
    }

    .menu_icon {
        background-image: url('../../../../assets/img/menu.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        width: 4px;
        height: 16px;
        position: fixed;
        top: 18px !important;
        right: 25px !important;
    }

    .toggle {
        border: 1px solid;
        height: 20px;
        width: 20px;
    }

    #navbarNav {
        background-color: #004878;
        color: #FFF;
    }

    .nav_body {
        background-color: #492f5e;
        color: #FFF;
        position: relative;
        z-index: 9999;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
        cursor: pointer;
    }

}

ul li a {
    color: #FFF;
    font-weight: normal;
    cursor: pointer;
}

.ul_content {
    width: 86%;
    background-size: 100% 100%;
    margin: auto;
    padding: 0px 16px 0px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 0px 5px 0px;
    position: relative;
    left: 1%;
}

.navbar-nav li>button {
    text-transform: capitalize;
    color: rgba(64, 60, 57, 0.80);
    transition: background-color .2s, color .2s;

    &:hover {
        color: #014876;
        text-decoration: underline;
        font-weight: 500;
    }
}

.navbar-nav li>button {
    text-transform: capitalize;
    color: rgba(64, 60, 57, 0.80);
    transition: background-color .2s, color .2s;
    font-weight: 500;

    &:focus {
        color: #014876;
        font-weight: 600;
        text-decoration: underline;
    }
}

.navbar-nav li.active>button {
    color: rgba(64, 60, 57, 0.80);
    font-weight: 700;
}

.dropdown-menu a {
    color: #FFF;
    font-weight: normal;
    cursor: pointer;
    background-color: #fff;
}

.dropdown-menu a:hover {
    color: #FFF;
    font-weight: normal;
    cursor: pointer;
    background-color: #004878;
}

/* dropdown menu css */

@media (min-width: 768px) {
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
        cursor: pointer;
    }
}

@media (max-width: 767px) {
    .dropdown:hover .dropdown-menu {
        display: none;
        margin-top: auto;
    }
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: fixed;
    background-color: #fff;
    border: none;
    border-radius: 0px 10px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 5px;
}

.dropdown-item {
    color: rgba(64, 60, 57, 0.80);
    font-size: 13px;
    transition: 0.6s;
}

.dropdown-item:hover {
    background-color: #5dc9f0;
    ;
    color: rgba(64, 60, 57, 0.80);
    border-radius: 7px;
}

.navbar-toggler {
    display: none;
}

@media screen and (max-width: 600px) {
    .search_img {
        width: 28px;
        height: 28px;
        margin-top:22px !important;
        position: relative !important;
        bottom: 7px;
    }

    .navbar-toggler {
        position: fixed;
        display: block;
        width: 9%;
        height: 33px;
        left: 1rem;
        top: 9px;
        z-index: 999;
        background-color: #FFF200;
        border-radius: 50%;
    }

    .kidzee_logo_img {
        position: fixed;
        left: 50%;
        transform: translate(-50%, -43%);
        width: 50%;
        object-fit: cover;
        z-index: 99;
        background-color: #fff;
    }

    .ul_content {
        background-image: none !important;
        width: 90%;
        margin: auto;
        padding: 0px 16px 0px 0px;
        display: flex;
        justify-content: start !important;
        align-items: normal !important;
        padding: 26px 0px 26px 0px;
        left: 0px;
    }

    .whiteHeader {
        top: 0px;
        position: fixed;
        /* color: #fff; */
        left: 0;
        background-color: #fff !important;
        right: 0;
        z-index: 999;
        padding: 10px 0px;
        display: block;
    }

    #navbarNav {
        margin-top: 15px;
    }

    .navbar-toggler-icon {
        display: inline-block;
        width: 1em;
        height: 1em;
        vertical-align: middle;
        background-image: var(--bs-navbar-toggler-icon-bg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        cursor: pointer;
    }

    .navbar-toggler {
        position: absolute;
        display: block;
        width: 9%;
        height: 33px;
        right: 9px;
        top: 9px;
    }

    .menu_icon {
        background-image: url('../../../../assets/img/MLZS/banner/mobile_banner/menu.png');
        background-repeat: no-repeat;
        background-position: center;
        height: 32px;
        position: fixed !important;
        background-repeat: no-repeat;
        background-position: center;
        height: 30px;
        width: 30px;
        padding: 0px;
        border-radius: 50%;
        left: 1rem;
    }

    .navbar {
        overflow: hidden;
        height: auto !important;
        height: 50px !important;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        background: #fff;
    }

    .toggle {
        border: 1px solid;
        height: 20px;
        width: 20px;
    }

    #navbarNav {
        background-color: #004878;
        color: #FFF;
        position: fixed;
        left: 0px;
        right: 0px;
        top: 2.2rem;
    }

    .nav_body {
        background-color: #492f5e;
        color: #FFF;
        position: relative;
        z-index: 9999;
    }

    #closeMenu {
        display: none;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
        cursor: pointer;
    }
}

/* mlzs css header */
.admission_btn {
    border-radius: 5px;
    font-size: 12px;
    color: #FFF;
    transition: 0.6s;
}

.admission_btn:hover {
    border-radius: 5px;
    color: #dcd1d1;
    font-size: 12px;
}

.right_botder_btn {
    border-right: 1px solid #FFF;
    border-left: 1px solid #fff;
    font-size: 12px;
    border-radius: 0;
    transition: 0.6s;
    color: #fff;
    padding: 0px 16px;
}

.right_botder_btn:hover {
    font-size: 12px;
    border-radius: 0;
    color: #dcd1d1 !important;
}

.convert_btn {
    font-size: 12px;
    color: #fff;
    transition: 0.6s;
}

.convert_btn:hover {
    font-size: 12px;
    color: #dcd1d1 !important;

}

.top_header {
    width: 100%;
    position: fixed;
    padding: 5px 10px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    background-color: #004878;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

.mobile_nav .dropdown-toggle::after {
    display: inline-block;
    margin-left: 2.255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    height: 2px;
}

.nav-item {
    margin-left: 20px;
    font-weight: 600;
    font-size: 12px;
    font-family: 'Poppins';
}

@media (min-width: 1727px) {

    .nav-item {
        margin-left: 20px;
        font-weight: 600;
        font-size: 13px;
        font-family: 'Poppins';
    }
}

@media screen and (max-width: 800px) {
    .desktop_nav {
        display: none !important;
    }

    .kidzee_logo_img {
        width: 50%;
    }

    .mobile_nav {
        display: block !important;
        padding: 15px 0px;
        box-shadow:none;
        margin-top:2.5rem !important;
    }

    .search_img {
        position: relative;
        right: 3rem;
        width: 20px;
        height: 20px;
        margin-top: 8px;
    }

    .menu_icon {
        background-image: url('../../../../assets/img/menu.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        width: 28px;
        height: 20px;
        position: absolute;
        top: 2rem;
        overflow: hidden;
        right: 25px;
    }

    #navbarNav {
        background-color: #004878;
        color: #FFF;
        position: fixed;
        left: 0px;
        right: 0px;
        top: 2rem;
    }

    .navbar-nav li>button {
        text-transform: capitalize;
        color: #fff !important;
        transition: background-color .2s, color .2s;
        font-weight: 500;
    }

    .ul_content {
        align-items: flex-start;
        padding: 16px 0px 15px 0px;
        position: relative;
        left: 1%;
        text-align: left;
    }
}

@media screen and (max-width: 1080px) {}

.material-symbols-outlined {
    font-size: 22px !important;
}

.material-symbols-outlined:hover {
    color: #fff;
}

.media_icon img {
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin: 5px 7px;
    object-fit: cover;
}

.media_icon {
    margin: 0rem 1rem;
}

.search-box {
    font-size: 13px;
}