
<div class="top_header" id="fix_header">
    <button class="btn btn-sm admission_btn d-none d-sm-block" routerLink="/admissions">Admissions now open at Mount Litera Zee School</button>
    <button class="btn btn-sm  right_botder_btn mx-3 d-none d-sm-blocks" routerLink="/partner-with-us">Partner with us</button>
    <button class="btn btn-sm  convert_btn d-none d-sm-block" routerLink="/convert-to-an-mlzs">Convert to an MLZS</button>
    <div class="search-section d-none d-sm-block">
    <div class="search-wrapper">
      <i class="bi bi-search search-icon" (click)="sendMessage()" routerLink="/search"></i>
      <input type="text" class="form-control search-box"
      [(ngModel)]="inputValue"  placeholder="Search" (keyup.enter)="sendMessage()">
    </div>
  </div>
  <div class="admission_btn_content d-block d-sm-none w-100">
    <div class="w-100 d-flex">
       <button class="btn footer_link_btn" routerLink="/admissions">Enrol Your Child</button>
       <button class="btn footer_link_btn" routerLink="/partner-with-us">Become a Partner</button>
      <!-- <div class="col-6">
        <button class="btn footer_link_btn" routerLink="/admissions">Enrol Your Child</button>
      </div>
      <div class="col-6">
        <button class="btn footer_link_btn" routerLink="/partner-with-us">Become a Partner</button>
      </div> -->
    </div>
  </div>
   <div class="media_icon d-none d-sm-block">
                        <a href="https://www.facebook.com/MountLiteraZeeSchool/" target="_blank">
                        <img src="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/footer/facebook.png" alt="">
                        </a>
                        <a href="https://www.instagram.com/mount.litera/" target="_blank">
                        <img src="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/footer/instagram.png" class="insta" alt="">
                        </a>
                        <a href="https://www.linkedin.com/school/mountliterazeeschool" target="_blank">
                        <img src="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/footer/in.png" alt="">
                        </a>
                    </div>
  </div>
<div class="whiteHeader" id="whiteHeader">
    <nav class="nav navbar navbar-expand-lg desktop_nav">
        <div class="container-fluid">
          <div class="menu_icon" data-bs-toggle="collapse" data-bs-target="#navbarNav"></div>
          <div class="collapse navbar-collapse " id="navbarNav">
            <a href="" class="nav_logo">
            <img src="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/MLZS.svg" class="kidzee_logo_img" alt="">
            </a>
            <ul class="navbar-nav ul_content">
              <li class="nav-item dropdown">
                <button class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 ABOUT US
                </button>

                <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li class="dropdown-item" routerLink="/about-us/legacy" >Our Legacy</li>
                  <li class="dropdown-item" routerLink="/about-us/vision">Our Vision</li>
                  <li class="dropdown-item" routerLink="/about-us/our-philosophy">Our Philosophy</li>
                  <li class="dropdown-item" routerLink="/about-us/awards-recognitions">Awards And Recognitions</li>
                </ul> -->
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
  <li>
    <a class="dropdown-item" href="/about-us/legacy">Our Legacy</a>
  </li>
  <li>
    <a class="dropdown-item" href="/about-us/vision">Our Vision</a>
  </li>
  <li>
    <a class="dropdown-item" href="/about-us/our-philosophy">Our Philosophy</a>
  </li>
  <li>
    <a class="dropdown-item" href="/about-us/awards-recognitions">Awards And Recognitions</a>
  </li>
</ul>
              </li>
              <li class="nav-item dropdown">
                <button class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  PROGRAMMES
                </button>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a class="dropdown-item" href="/academic-programs/pre-primary-school">Litera Foundational Stage 1</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/academic-programs/primary-school">Litera Foundational Stage 2</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/academic-programs/secondary-school">Litera Preparatory Stage</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/academic-programs/middle-school">Litera Middle Stage</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/academic-programs/higher-secondary-school">Litera Secondary Stage</a>
                  </li>
                </ul>
              </li>
          
              <li class="nav-item dropdown" >
                <button class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  ACADEMICS <br>AND BEYOND
                </button>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a class="dropdown-item" href="/academics/litera-experience">Litera Experience</a></li>
                  <li>
                    <a class="dropdown-item" href="/academics/litera-enrichment-programmes">Litera Enrichment Programmes</a></li>
                  <li>
                    <a class="dropdown-item" href="/academics/litera-nova-app">Litera Nova App</a></li>
                  <li>
                    <a class="dropdown-item" href="/academics/literati">Literati</a></li>
                </ul>
              </li>

              <li class="nav-item">
                <button class="nav-link active menu5" aria-current="page" routerLink="/start-school">START A<br> SCHOOL</button>
              </li>
              <li class="nav-item dropdown">
                <button class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  PARENTS’ <br>CORNER
                </button>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a class="dropdown-item" href="/parents-corner/childs-development">Child Development</a></li>
                  <li>
                    <a class="dropdown-item" href="/parents-corner/mount-litera-expert-connect">Mount Litera Expert Connect</a></li>
                  <li>
                    <a class="dropdown-item" href="/parents-corner/mount-litera-parent-support-hub">Mount Litera Parent Support Hub</a></li>
                  <li>
                    <a class="dropdown-item" href="/parents-corner/parents-testimonials">Parents' Testimonials</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <button class="nav-link active" aria-current="page" routerLink="/admissions">ADMISSIONS</button>
              </li>
              <li class="nav-item">
                <button class="nav-link active" aria-current="page" routerLink="/contact-us">CONTACT US</button>
              </li>
              <li class="nav-item dropdown">
                <button class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 <span> DISCOVER <br>MORE</span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a class="dropdown-item" href="/news">News</a></li>
                  <!-- <li class="dropdown-item" routerLink="/events">Events</li> -->
                  <li>
                    <a class="dropdown-item" href="/blogs">Blogs</a></li>
                  <li>
                    <a class="dropdown-item" href="/gallery">Gallery</a></li>
                  <li>
                    <a class="dropdown-item" href="/faqs">FAQ</a></li>
                  <li>
                    <a class="dropdown-item" href="/testimonials">Testimonials</a></li>
                  <!-- <li class="dropdown-item" routerLink="/achievements">Achievements</li> -->
                  
                </ul>
                <li class="nav-item">
                <button class="nav-link active" aria-current="page" routerLink="/locate-us">LOCATE US</button>
              </li>
            </ul>
            <!-- <img src="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/imtb.png" class="brand_icon" width="13%" alt=""> -->
          </div>
        </div>
      </nav>
      <nav class="nav navbar navbar-expand-lg mobile_nav" id="mobile_nav">
        <div class="container-fluid">
          <div class="menu_icon" (click)="toggleMenu()"
           aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" id="dropdown_menu"></div>
       
           <a href="">
            <img src="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/banner/mobile_banner/mlzs_mobile.png" class="kidzee_logo_img" alt="">
            </a>
            <img src="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/search_icon_img.png" class="search_img" routerLink="/search" alt="">
           <div class="collapse navbar-collapse "  id="navbarNav" #navbarCollapse>
            <ul class="navbar-nav ul_content">
              <li class="nav-item dropdown">
                <button class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               ABOUT US 
                </button>

                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li  (click)="closeMenu()">
                    <a class="dropdown-item" href="/about-us/legacy">Our Legacy</a></li>
                  <li (click)="closeMenu()">
                    <a class="dropdown-item" href="/about-us/vision">Our Vision</a></li>
                  <li (click)="closeMenu()">
                    <a class="dropdown-item" href="/about-us/our-philosophy">Our Philosophy</a></li>
                  <li (click)="closeMenu()">
                    <a class="dropdown-item" href="/about-us/awards-recognitions">Awards And Recognitions</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <button class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 PROGRAMMES
                </button>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li (click)="closeMenu()">
                    <a class="dropdown-item" href="/academic-programs/pre-primary-school">Litera Foundational Stage 1</a></li>
                  <li (click)="closeMenu()">
                    <a class="dropdown-item" href="/academic-programs/primary-school">Litera Foundational Stage 2</a></li>
                  <li (click)="closeMenu()">
                    <a class="dropdown-item" href="/academic-programs/secondary-school">Litera Preparatory Stage</a></li>
                  <li (click)="closeMenu()">
                    <a class="dropdown-item" href="/academic-programs/middle-school">Litera Middle Stage</a></li>
                  <li (click)="closeMenu()">
                    <a class="dropdown-item" href="/academic-programs/higher-secondary-school">Litera Secondary Stage</a></li>
                </ul>
              </li>
          
              <li class="nav-item dropdown">
                <button class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 ACADEMICS AND BEYOND
                </button>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li (click)="closeMenu()">
                    <a class="dropdown-item" href="/academics/litera-experience">Litera Experience</a></li>
                  <li (click)="closeMenu()">
                    <a class="dropdown-item" href="/academics/litera-enrichment-programmes">Litera Enrichment Programmes</a></li>
                  <li (click)="closeMenu()">
                    <a class="dropdown-item" href="/academics/litera-nova-app">Litera Nova App</a></li>
                  <li (click)="closeMenu()">
                    <a class="dropdown-item" href="/academics/literati">Literati</a></li>
                </ul>
              </li>

              <li class="nav-item">
                <button class="nav-link active menu5" aria-current="page" (click)="closeMenu()" routerLink="/start-school">START A SCHOOL</button>
              </li>
              <li class="nav-item dropdown">
                <button class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  PARENTS’ CORNER
                </button>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li (click)="closeMenu()">
                    <a class="dropdown-item" href="/parents-corner/childs-development">Child Development</a></li>
                  <li (click)="closeMenu()">
                    <a class="dropdown-item" href="/parents-corner/childs-development">Mount Litera Expert Connect</a></li>
                  <li (click)="closeMenu()">
                    <a class="dropdown-item" href="/parents-corner/mount-litera-parent-support-hub">Mount Litera Parent Support Hub</a></li>
                  <li (click)="closeMenu()">
                    <a class="dropdown-item" href="/parents-corner/parents-testimonials">Parents' Testimonials</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <button class="nav-link active" aria-current="page" (click)="closeMenu()" routerLink="/admissions">ADMISSIONS</button>
              </li>
              <li class="nav-item">
                <button class="nav-link active" aria-current="page" (click)="closeMenu()" routerLink="/contact-us">CONTACT US</button>
              </li>
              <li class="nav-item dropdown">
                <button class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  DISCOVER MORE
                </button>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                   <li (click)="closeMenu()">
                    <a class="dropdown-item" href="/news">News</a></li>
                  <!-- <li (click)="closeMenu()">
                    <a class="dropdown-item" href="/events">Events</a></li> -->
                  <li (click)="closeMenu()">
                    <a class="dropdown-item" href="/blogs">Blogs</a></li>
                  <li (click)="closeMenu()">
                    <a class="dropdown-item" href="/gallery">Gallery</a></li>
                  <li (click)="closeMenu()">
                    <a class="dropdown-item" href="/faqs">FAQ</a></li>
                  <li (click)="closeMenu()">
                    <a class="dropdown-item" href="/testimonials">Testimonials</a></li>
                  <!-- <li class="dropdown-item" routerLink="/achievements" (click)="closeMenu()">Achievements</li> -->
                </ul>
              </li>
               <li class="nav-item">
                <button class="nav-link active" aria-current="page" routerLink="/locate-us" (click)="closeMenu()">LOCATE US</button>
              </li>
            </ul>
          
          </div>
        </div>
    
      </nav>
      
</div>



<router-outlet></router-outlet>
<app-footer></app-footer> 