
<div class="">
  <div class="top_header d-flex justify-content-center justify-align-center text-center" id="fix_header">
    <button class="btn btn-sm admission_btn" routerLink="/admissions">Admissions now open at Mount Litera Zee School</button>
    <button class="btn btn-sm text-white right_botder_btn mx-3" routerLink="/start-school">Partner with us</button>
    <button class="btn btn-sm text-white convert_btn" routerLink="/start-school">Convert to an MLZS</button>
  </div>
</div>
<div class="whiteHeader" id="whiteHeader">
    <nav class="nav navbar navbar-expand-lg desktop_nav">
        <div class="container-fluid">
          <div class="menu_icon" data-bs-toggle="collapse" data-bs-target="#navbarNav"></div>
          <div class="collapse navbar-collapse " id="navbarNav">
            <a href="" class="nav_logo">
            <img src="../../../../assets/img/MLZS/mtl.png" width="80%" class="kidzee_logo_img" alt="">
            </a>
            <ul class="navbar-nav ul_content">
              <li class="nav-item dropdown" >
                <a routerLink="/about-us" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 ABOUT US
                </a>

                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li class="dropdown-item" routerLink="/about-us/legacy" >Our Legacy</li>
                  <li class="dropdown-item" routerLink="/about-us/vision">Our Vision</li>
                  <li class="dropdown-item" routerLink="/about-us/our-philosophy">Our Philosophy</li>
                  <li class="dropdown-item" routerLink="/about-us/awards-recognitions">Awards And Recognitions</li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" routerLink="/programmes" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  PROGRAMMES
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li class="dropdown-item" routerLink="/programmes/litera-foundational-stage-1">Litera Foundational Stage 1</li>
                  <li class="dropdown-item" routerLink="/programmes/litera-foundational-stage-2">Litera Foundational Stage 2</li>
                  <li class="dropdown-item" routerLink="/programmes/litera-preparatory-stage">Litera Preparatory Stage</li>
                  <li class="dropdown-item" routerLink="/programmes/middle-school">Litera Middle Stage</li>
                  <li class="dropdown-item" routerLink="/programmes/secondary-school">Litera Secondary Stage</li>
                </ul>
              </li>
          
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  ACADEMICS & BEYOND
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li class="dropdown-item" routerLink="/academics/students-experience">Litera Experience</li>
                  <li class="dropdown-item" routerLink="/academics/co-curricular-activities">Litera Enrichment Programmes</li>
                  <li class="dropdown-item" routerLink="/academics/nova">Litera Nova App</li>
                  <li class="dropdown-item" routerLink="/academics/literati">Literati</li>
                </ul>
              </li>

              <li class="nav-item">
                <a class="nav-link active menu5" aria-current="page" routerLink="/start-school">START A SCHOOL</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  PARENTS CORNER
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li class="dropdown-item" routerLink="/parents-corner/childs-development">Child Development</li>
                  <li class="dropdown-item" routerLink="/parents-corner/personalized-guidance">Mount Litera Expert Connect</li>
                  <li class="dropdown-item" routerLink="/parents-corner/support">Mount Litera Parent Support Hub</li>
                  <li class="dropdown-item" routerLink="/parents-corner/parents-experience">Parents' Testimonials</li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/admissions">ADMISSIONS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/contact-us">CONTACT US</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 <span routerLink="/discover-more"> DISCOVER MORE</span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li class="dropdown-item" routerLink="/news">News</li>
                  <li class="dropdown-item" routerLink="/events">Events</li>
                  <li class="dropdown-item" routerLink="/blogs">Blogs</li>
                  <li class="dropdown-item" routerLink="/gallery">Gallery</li>
                  <li class="dropdown-item" routerLink="/faqs">FAQ</li>
                  <li class="dropdown-item" routerLink="/testimonials">Testimonials</li>
                  <li class="dropdown-item" routerLink="/achievements">Achievements</li>
                  
                </ul>
              </li>
            </ul>
            <img src="../../../../assets/img/MLZS/imtb.png" class="brand_icon" width="13%" alt="">
          </div>
        </div>
      </nav>
      <nav class="nav navbar navbar-expand-lg mobile_nav">
        <div class="container-fluid">
          <div class="menu_icon" data-bs-toggle="collapse" data-bs-target="#navbarNav" id="dropdown_menu"></div>
          <div class="collapse navbar-collapse " id="navbarNav" #navbarCollapse>
            <img src="../../../../assets/img/MLZS/mtl.png" routerLink="" width="13%" class="kidzee_logo_img" alt="">
            <ul class="navbar-nav ul_content">
              <li class="nav-item dropdown">
                <a routerLink="/about-us" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <label class="label_menu">ABOUT US</label>  
                </a>

                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li class="dropdown-item" routerLink="/about-us/legacy" (click)="closeMenu()">Our Legacy</li>
                  <li class="dropdown-item" routerLink="/about-us/vision" (click)="closeMenu()">Our Vision</li>
                  <li class="dropdown-item" routerLink="/about-us/our-philosophy" (click)="closeMenu()">Our Philosophy</li>
                  <li class="dropdown-item" routerLink="/about-us/awards-recognitions" (click)="closeMenu()">Awards And Recognitions</li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <label class="label_menu"> PROGRAMMES</label>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li class="dropdown-item" routerLink="/programmes/litera-foundational-stage-1" (click)="closeMenu()">Litera Foundational Stage 1</li>
                  <li class="dropdown-item" routerLink="/programmes/litera-foundational-stage-2" (click)="closeMenu()">Litera Foundational Stage 2</li>
                  <li class="dropdown-item" routerLink="/programmes/litera-preparatory-stage" (click)="closeMenu()">Litera Preparatory Stage</li>
                  <li class="dropdown-item" routerLink="/programmes/middle-school" (click)="closeMenu()">Litera Middle Stage</li>
                  <li class="dropdown-item" routerLink="/programmes/secondary-school" (click)="closeMenu()">Litera Secondary Stage</li>
                </ul>
              </li>
          
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <label class="label_menu"> ACADEMICS & BEYOND</label>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li class="dropdown-item" routerLink="/academics/students-experience" (click)="closeMenu()">Litera Experience</li>
                  <li class="dropdown-item" routerLink="/academics/co-curricular-activities" (click)="closeMenu()">Litera Enrichment Programmes</li>
                  <li class="dropdown-item" routerLink="/academics/nova" (click)="closeMenu()">Litera Nova App</li>
                  <li class="dropdown-item" routerLink="/academics/literati" (click)="closeMenu()">Literati</li>
                </ul>
              </li>

              <li class="nav-item">
                <a class="nav-link active menu5" aria-current="page" routerLink="/start-school">START A SCHOOL</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <label class="label_menu"> PARENTS CORNER</label>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li class="dropdown-item" routerLink="/parents-corner/childs-development" (click)="closeMenu()">Child Development</li>
                  <li class="dropdown-item" routerLink="/parents-corner/personalized-guidance" (click)="closeMenu()">Mount Litera Expert Connect</li>
                  <li class="dropdown-item" routerLink="/parents-corner/support" (click)="closeMenu()">Mount Litera Parent Support Hub</li>
                  <li class="dropdown-item" routerLink="/parents-corner/parents-experience" (click)="closeMenu()">Parents' Testimonials</li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/admissions">ADMISSIONS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/contact-us">CONTACT US</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <label class="label_menu"><span routerLink="/discover-more"> DISCOVER MORE </span></label>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                   <li class="dropdown-item" routerLink="/news" (click)="closeMenu()">News</li>
                  <li class="dropdown-item" routerLink="/events" (click)="closeMenu()">Events</li>
                  <li class="dropdown-item" routerLink="/blogs" (click)="closeMenu()">Blogs</li>
                  <li class="dropdown-item" routerLink="/gallery" (click)="closeMenu()">Gallery</li>
                  <li class="dropdown-item" routerLink="/faqs" (click)="closeMenu()">FAQ</li>
                  <li class="dropdown-item" routerLink="/testimonials" (click)="closeMenu()">Testimonials</li>
                  <li class="dropdown-item" routerLink="/achievements" (click)="closeMenu()">Achievements</li>
                </ul>
              </li>
            </ul>
          
          </div>
        </div>
      </nav>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer> 