<section>
    <div class="subMenu">
        <span class="tex_menu"
      *ngFor="let item of breaddata; let i = index; let last = last"
      [ngClass]="{
        'first-item': i === 0,
        'last-item': last
      }">
          <a href="{{item.url}}">
   <ng-container *ngIf="item.name.toLowerCase() === 'home'; else showName">
        <img src="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/home-icon.png" alt="Home" class="mx-2" width="15" height="15"> <span class="arrow" *ngIf="item.length"> > {{item}} </span>
      </ng-container>
      <ng-template #showName>
        {{ item.name }}
        <span #showName *ngIf="i!=2" class="arrow"> > </span>
      </ng-template>
        </a>
        </span>
        </div>
</section>

<!-- <span class="tex_menu"
      *ngFor="let item of breaddata; let i = index; let last = last"
      [ngClass]="{
        'first-item': i === 0,
        'last-item': last
      }">
  <a [href]="item.url">
    {{ item.name }}
    <span *ngIf="!last" class="arrow"> &gt; </span>
  </a>
</span> -->




