.multi_img_group {
  display: flex;
  justify-content: center;
}

.multi_img_group img {
  width: 80%;
}

section {
 background: url("../../../../assets/img/MLZS/bg_svg/Parent-corner.svg") no-repeat center center;
      background-size: cover;
      width: 100%;
      min-height: 100vh; 
}

@media screen and (max-width: 600px) {}


.text_bg {
  width: 23%;
  position: relative;
  bottom: 1.5rem;
  z-index: 1;
}

.liter_img {
  width: 50%;
}

.liter_content {
  margin-left: 57px;
}

.fr_img_content img {
  width: 80%;
}

.title_content ul {
  padding: 0;
  line-height: 30px;
}

@media screen and (max-width: 600px) {
  li {
    width: 100%;
  }

  li button {
    width: 100%;
  }
}

.subMenu_content {
  margin-top: 1rem;
  width: 85%;
  margin: auto;
}

p {
  margin-bottom: 0.5rem;
}
 .nav-pills
.nav-link.active,
.nav-pills
.show > 
.nav-link{
  color: #fff;
  background: #014876;
  font-size: clamp(13px, 1vw, 14px);
  padding: clamp(12px, 1vh, 8px) clamp(25px, 2vw, 25px);
  margin: clamp(5px, 0.5vw, 6px);
  border-radius: 6px;
}

.nav-link:focus,
.nav-link {
  color: #014876;
  font-size: clamp(13px, 1vw, 14px);
  padding: clamp(12px, 1vh, 8px) clamp(25px, 2vw, 25px);
  margin: clamp(5px, 0.5vw, 6px);
  background-color: #44C8F5;
}
.right_icon {
    width: 55px;
    height: auto;
    display: block;
    margin: 5px auto;
    object-fit: cover;
}
 ul li span {
      line-height: 1.6;
      text-align: justify; /* makes text neat */
    }