<section>
    <div class="programmes_main_page">
        <div class="banner_content">
            <img src="../../../../assets/img/MLZS/banner/testimonial_top_banner.jpg"
                class="img-fluid d-none d-md-block w-100" alt="about banner">
            <img src="../../../../assets/img/MLZS/banner/mobile_banner/Testimonials .jpg"
                class="img-fluid d-block d-md-none w-100" alt="Mobile banner">
        </div>
        <div class="subMenu_content">
            <app-sub-menu></app-sub-menu>
        </div>
        <div class="box dropdown_tab mt-4">

            <div class="row">
                <div class="col-md-4">
                    <select #ddlcategory name="" id="" class="form-control" [(ngModel)]="selectedcategory"
                        (change)="onchangecategory(ddlcategory.value)">
                        <option value="">All Category</option>
                        <option value="{{data?.categoryId}}" *ngFor="let data of AssignCategory">{{data.categoryname}}
                        </option>
                    </select>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div style="position: relative; width: 250px;">
                        <input type="text" placeholder="Search" class="form-control"
                            style="padding-left: 35px; width: 100%;" (input)="onSearchChange($event)">
                        <i class="fa fa-search"
                            style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); color: #888;"></i>
                    </div>
                </div>
            </div>
            <div class="my-5">
                <div class="title_content text-center">
                    <h1><b> Real Voices, Real Impact </b></h1>
                    <img src="../../../assets/img/MLZS/prg_text_bg.png" class="text_bg" alt="">
                </div>
                <p class="text-center">Explore the testimonials from our parents, students, and educators, sharing their
                    experiences of the positive impact Mount Litera Zee School has made on their lives and how it has
                    played a key role in shaping young minds and fostering a thriving learning community.</p>

                <div *ngIf="(selectedcategory == '109' || selectedcategory == '') && ParentTestimonial.length"
                    class="news_list mt-5">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title_content text-center">
                                <div>
                                    <h2 class="text-center"><b>Parent Testimonials</b></h2>
                                    <p class="text-center">Hear from our parents as they reflect on the positive
                                        influence Mount Litera Zee School has had on their children's development and
                                        success.</p>

                                </div>
                            </div>

                            <div class="home-demo mt-4">
                                <div class="owl-carousel owl-theme news_owl" id="">
                                    <div class="item" *ngFor="let a of ParentTestimonial">
                                        <div class="item_img">
                                            <div class="item_img_content" *ngIf="a.slug">
                                                <iframe class="" [src]="a.safeUrl" loading="lazy"
                                                    title="Chiv Chiv Chimni in 3D - Marathi 3D Rhymes | Marathi Balgeet Song मराठी गाणी 2019"
                                                    frameborder="0"
                                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                                    referrerpolicy="strict-origin-when-cross-origin"
                                                    allowfullscreen></iframe>
                                            </div>
                                            <div *ngIf="!a.slug">
                                                <div class="item_img_content" *ngFor="let img of a.logofiles">
                                                    <img src="{{img.value}}" alt="{{img.key}}">
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <hr>
                                        <div class="item_text mt-2">
                                            <!-- <img src="../../../assets/img/MLZS/Quote.png" alt=""> -->
                                            <div class="white_quote">
                                                <img src="../../../../assets/img/MLZS/Quote.png" class="white-img"
                                                    alt="Quote">
                                                <img src="../../../../assets/img/MLZS/white_quote.png" class="black-img"
                                                    alt="Quote">
                                            </div>
                                            <div class="mt-2">
                                                <p class="shortPara" [innerHTML]="a.short"></p>
                                                <div class="d-flex justify-content-end">
                                                <button class="seeMore btn" routerLink="/testimonials/{{a.slug}}">See more</button>
                                                </div>
                                            </div>
                                            <p class="mt-2">-{{a.title}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="(selectedcategory == '108' || selectedcategory == '') && StudentTestimonial.length"
                    class="news_list mt-5">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title_content text-center">
                                <div>
                                    <h2 class="text-center mt-5"><b>Student Testimonials</b></h2>
                                    <p class="text-center">Discover how Mount Litera Zee School has impacted our
                                        students' journeys, as they share their personal experiences and achievements.
                                    </p>
                                </div>
                            </div>

                            <div class="student-demo mt-4">
                                <div class="owl-carousel owl-theme news_owl" id="">
                                    <div class="item" *ngFor="let a of StudentTestimonial">
                                        <div class="item_text mt-2">
                                            <div class="white_quote">
                                                <img src="../../../../assets/img/MLZS/Quote.png" class="white-img"
                                                    alt="Quote">
                                                <img src="../../../../assets/img/MLZS/white_quote.png" class="black-img"
                                                    alt="Quote">
                                            </div>

                                            <div class="mt-2">
                                                <p class="shortPara" [innerHTML]="a.short"></p>
                                               <div class="d-flex justify-content-end">
                                               <button class="seeMore btn" routerLink="/testimonials/{{a.slug}}">See more</button>
                                               </div>
                                            </div>
                                            <p class="mt-2">-{{a.title}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<ngx-spinner type="ball-scale-multiple"></ngx-spinner>