<section>
    <div class="programmes_main_page">
        <div class="banner_content">
        <img src="../../../../assets/img/MLZS/banner/discover_banner.png" class="w-100" alt="">
    </div>
        <div class="subMenu_content">
            <app-sub-menu></app-sub-menu>
        </div>
        <div class="box dropdown_tab mt-4">
            
            <div class="row">
                <div class="col-md-4">
                    <select name="" id="" class="form-control">
                        <option value="">Select Category</option>
                    </select>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <input name="" id="" placeholder="Search" class="form-control">
                </div>
            </div>
        <div class="mt-3">
          
            <div class="news_list mt-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title_content text-center">
                            <h2><b>Testimonials</b></h2>
                            <img src="../../../assets/img/MLZS/text-bg.png" class="text_bg" alt="">
                            <div>
                                <p>Explore the testimonials from our parents, students, and educators, sharing their experiences of the positive impact Mount Litera Zee School has made on their lives and how it has played a key role in shaping young minds and fostering a thriving learning community.</p>
                                <h5 class="text-center mt-2"><b>Parent Testimonials</b></h5>
                                <p class="text-center">Hear from our parents as they reflect on the positive influence Mount Litera Zee School has had on their children's development and success.</p>
                            
                            </div>
                        </div>

                        <div class="home-demo mt-3">
                            <div class="owl-carousel owl-theme news_owl" id="">
                              <div class="item" *ngFor="let a of testimonialDataList">
                        <div class="item_img_content">
                            <iframe class="text_bg" [src]="a.safeUrl" title="Chiv Chiv Chimni in 3D - Marathi 3D Rhymes | Marathi Balgeet Song मराठी गाणी 2019" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <hr>
                        <div class="item_text mt-2">
                        <img src="../../../assets/img/MLZS/Quote.png" alt="">
                          <h6 class="mt-2">{{a.title}}</h6>
                        </div>
                      </div>
                              <!-- <div class="item">
                                <div class="item_img_content">
                                  <img src="../../../assets/img/MLZS/news2.png" alt="">
                                </div>
                                <hr>
                                <div class="item_text mt-2">
                                
                                  <h6>Mount Litera Zee School learning journey </h6>
                                  <p>4 MAY 24</p>
                                </div>
                              </div>
                              <div class="item">
                                <div class="item_img_content">
                                  <img src="../../../assets/img/MLZS/news3.png" alt="">
                                </div>
                                <hr>
                                <div class="item_text mt-2">
                                
                                  <h6>Mount Litera Zee School learning journey</h6>
                                  <p>4 MAY 24</p>
                                </div>
                              </div>
                              <div class="item">
                                <div class="item_img_content">
                                  <img src="../../../assets/img/MLZS/news3.png" alt="">
                                </div>
                                <hr>
                                <div class="item_text mt-2">
                                
                                  <h6>Zee Learn as the Most Trusted Education Brand</h6>
                                  <p>8 MARCH 24</p>
                                </div>
                              </div>
                              <div class="item">
                                <div class="item_img_content">
                                  <img src="../../../assets/img/MLZS/news3.png" alt="">
                                </div>
                                <hr>
                                <div class="item_text mt-2">
                                
                                  <h6>Zee Learn as the Most Trusted Education Brand</h6>
                                  <p>8 MARCH 24</p>
                                </div>
                              </div> -->
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>