<div class="box">
<div class="row">
    <div class="col-md-6">
        <div class="title_content">
            <h2><b>Get In Touch <br> With Us</b></h2>
            <img src="../../../assets/img/MLZS/prg_text_bg.png" class="text_bg1" alt="">
        </div>
        <p>Feel free to contact us anytime, and we’ll get back to you as soon as possible. 
Your inquiries are important to us, and we look forward to connecting with you!
</p>
        <div class="info_content mt-3">
            <div class="row">
                <div class="col-lg-1 col-2">
                    <img src="../../../assets/img/MLZS/media_icon.png" class="media_icon" alt="">
                </div>
                <div class="col-lg-11 col-10">
                    <p><b>Our Location</b></p>
                    <p>Zee Learn Limited,<br>
                        135, Continental Building,<br>
                        Dr. Annie Besant Road, Worli<br>
                        Mumbai - 400 018,<br>
                        Maharashtra.</p>
                </div>
                <div class="col-lg-1 col-2">
                    <img src="../../../assets/img/MLZS/call.png" class="media_icon" alt="">
                </div>
                <div class="col-lg-11 col-10">
                    <p class="p-0 m-0"><b>Phone Number<br>
                            </b></p>
                    <a href="tel:+919320063100">
                        <p class="mb-1">+91 93200 63100</p>
                    </a>
                </div>
                <div class="col-lg-1 col-2">
                    <img src="../../../assets/img/MLZS/mail.png" class="media_icon" alt="">
                </div>
                <div class="col-lg-11 col-10">
                    <p class="mb-1"><b>Email Address</b></p>
                    <a href="mailto:someone@example.com">partner&#64;mountlitera.com</a>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="locat_form">
            <form [formGroup]="enquireForm">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Name" name="" id=""
                                formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                <span class="text-danger msg_txt"
                                    *ngIf="(f.name.touched || submitted) && f.name.errors?.required">
                                    name is required
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" placeholder="Your Email" name="" id=""
                                formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <span class="text-danger msg_txt"
                                    *ngIf="(f.email.touched || submitted) && f.email.errors?.required">
                                    Email is required
                                </span>
                                <span class="text-danger msg_txt" *ngIf="f.email.touched && f.email.errors?.email">
                                    Enter a valid email address
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" placeholder="Your Mobile No." name="" id=""
                                formControlName="mobile" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }">
                            <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback msg_txt">
                                <span *ngIf="f.mobile.errors?.required">Mobile is required.</span>
                                <span *ngIf="f.mobile.errors?.pattern">Please, Enter 10 digit Mobile.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <textarea name="" id="" class="w-100" placeholder="Your Message" formControlName="massege"
                            [ngClass]="{ 'is-invalid': submitted && f.massege.errors }"></textarea>
                        <div *ngIf="submitted && f.massege.errors" class="invalid-feedback">
                            <span class="text-danger msg_txt"
                                *ngIf="(f.massege.touched || submitted) && f.massege.errors?.required">
                                Message is required
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group mt-4">
                            <button class="btn reset_btn" (click)="validationForm();">Send <i
                                    class="fa fa-long-arrow-right mx-2"></i></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>