<section>
    <div class="main_content">
        <div class="top_banner">
            <img src="../../../assets/img/MLZS/banner/contact_us.png" width="100%" alt="">
        </div>
       
        <div class="menu_content">
            <app-sub-menu></app-sub-menu>
        </div>

        <div class="">
             <app-locate-us></app-locate-us>
        </div>
        <div class="my-5">
            <div class="locat_school">
                <div class="box">
                    <div class="title_content"> 
                    <h2 class="text-center"><b>Locate A School</b></h2>
                    <img src="../../../assets/img/MLZS/prg_text_bg.png" class="text_bg" alt="">
             <p class="text-center">Looking for a Mount Litera Zee School near you? Use our 'Locate a School' feature to find the nearest campus, along with contact details, facilities, and more to help you make an informed choice for your child’s education.</p>
                    <div class="row mt-5">
                        <div class="col-md-6">
                            <div class="locat_form">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                        <select name="" id="" class="form-control">
                                            <option value="">School Category</option>
                                        </select>
                                        <i class="fa fa-angle-down"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group mt-3">
                                        <select name="" id="" class="form-control">
                                            <option value="">Select State</option>
                                        </select>
                                        <i class="fa fa-angle-down"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group mt-3">
                                        <select name="" id="" class="form-control">
                                            <option value="">Select City</option>
                                        </select>
                                        <i class="fa fa-angle-down"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group mt-3">
                                        <select name="" id="" class="form-control">
                                            <option value="">Select Location</option>
                                        </select>
                                        <i class="fa fa-angle-down"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group mt-4">
                                       <button class="btn reset_btn">Recet <i class="fa fa-long-arrow-right mx-2"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="map_content">
                                <img src="../../../assets/img/MLZS/map_img.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
   
</section>