.top_banner{
    margin-top:6.5rem;
}
.menu_content{
    width: 40%;
    height: 50px;
    position: relative;
    left: 5.5rem;
    padding: 10px;
}
@media screen and (max-width: 600px) {
     .menu_content{
    width: 40%;
    height: 50px;
    position: relative;
    left:0rem;
    padding: 10px;
}
.top_banner{
    margin-top: 2rem;
}
}

/* locut us css */

/* section{
   background: url("../../../assets/img/MLZS/bg_svg/Admissions-bg.svg") no-repeat center center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
} */

.map_content img{
    width:90%;
    margin: auto;
}
.text_bg{
    width: clamp(54px, 150px, 160px);
    position: relative;
    bottom: clamp(1.6rem, 2vw, 2rem);
    z-index: 0;
    left: clamp(1rem, 8vw, 5.5rem);
    height: clamp(18px, 3vw, 22px);
}

.text_bg1{
    width: clamp(120px, 0vw, 200px);
    position: relative;
    bottom: clamp(4.5rem, 5vw, 5rem);
    z-index: 1;
    left: clamp(1rem, 9vw, 12rem);
    height: clamp(18px, 3vw, 27px);
}

.fa-angle-down{
    position: absolute;
    margin-left:5.5rem;
    margin-top: -1.7rem;
    font-size: 20px;
}

.locat_form{
  width: clamp(82%, 60vw, 58%);
  margin: auto;
  padding: clamp(15px, 3vw, 35px);
  background: #014876;
  border-radius: 10px;
  min-height: 200px;
  height: auto;
}

.reset_btn{
    background-color: #44C8F5;
    width: 100%;
    color: #004877;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.media_icon{
    width:35px;
    height:35px;
}

textarea{
    font-size: 13px;
    padding: 10px;
}

@media screen and (max-width: 600px) {
    .text_bg1{
    width: clamp(95px, 0vw, 200px);
    position: relative;
    bottom: clamp(3.5rem, 5vw, 5rem);
    z-index: 1;
    left: clamp(1rem, 22vw, 12rem);
    height: clamp(18px, 3vw, 27px);
    }
    .locat_form{
        width:100%;
        background-color: #014876;
        margin: auto;
        padding: 35px;
        border-radius: 10px;
    }
}

.locat_school{
    width: 100%;
    padding:40px 0px;
    /* background-color: #004878; */
}

.title_content h1{
    position:relative;
    z-index: 9;
}

a{
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

p{
    font-size: 15px;
}

::ng-deep iframe{
    width: 90%;
    margin: auto;
}

.feedback-btn {
    position: fixed;
    right: 0;
    top: 40%;
    background: linear-gradient(90deg, #5EC6F5 0%, #007AFF 100%);
    color: white;
    padding: 20px 7px;
    writing-mode: vertical-rl;
    transform: rotate(0deg);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 13px;
    z-index: 9999;
    text-align: center;
    cursor: pointer;
    }

    .feedback-btn i {
      margin-top: 10px;
      display: block;
      transform: rotate(180deg);
    }

    .fb_icon{
        width: 22px;
    }

    .locat_us_content_white_bg h2 {
    font-weight: 700;
    position: relative;
    z-index: 9;
}

.get_tuch_content{
    width: 85%;
}
.contect_content{
    width: 85%;
    margin: auto;
    padding: 0px 12px;
}