.multi_img_group{
    display: flex;
    justify-content: center;
}

.multi_img_group img{
width: 80%;
}

section{
  background: url("../../../../assets/img/MLZS/bg_svg/Discover-more.svg") no-repeat center center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  }
h3{
  font-size: 1rem;
  font-weight: 600;
  overflow: hidden;
}
@media screen and (max-width: 600px) {
  .text_bg {
    width: 85px !important;
    position: relative;
    bottom: 1.8rem;
    left: 6rem !important;
    z-index: 1;
    height: 20px;
}
h6{
  margin-top: 1rem;
}
  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height:auto !important;
}
h4{
  margin-top: 0.8rem;
}
}


.text_bg{
    width:23%;
    position: relative;
    bottom:1.5rem;
    z-index: 1;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color:#FFF;
    font-size: 13px;
    padding: 5px 25px;
    background-color:#014876;
    margin: 5px;
}

.nav-link:focus, .nav-link{
    color:#014876;
    font-size: 13px;
    padding: 5px 25px;
    background-color: #44C8F5;
    margin: 5px;
}
.programm_img_content img{
    width: 85%;
    }

    .liter_img{
        width: 50%;
    }

    .liter_content{
        margin-left: 57px;
    }

  .fr_img_content img{
    width: 80%;
  }

  .title_content ul{
    padding: 0; 
    line-height: 30px;
  }

  @media screen and (max-width: 600px) {
  li{
    width: 100%;
  }

  li button{
    width: 100%;
  }
  }

  .subMenu_content{
    margin-top: 1rem;
    width: 85%;
    margin: auto;
  }

  p{
    margin-bottom: 0.5rem;
  }
.text_bg{
    width: 120px;
    position: relative;
    bottom: 1.8rem;
    left: 8rem;
    z-index: 1;
    height: 20px;
}

h1{
    position: relative;
    z-index: 2;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #494a4b;
    appearance:auto;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.date_text{
    font-size: 12px;
    color: #3f3d3d;
}

.btn:hover {
  opacity: 0.9;
}

.align-items-center{
  cursor: pointer;
}

.img_content{
   width: 100%;
  height: clamp(300px, 25vw, 350px);
  overflow: hidden;
  border: 1px solid #EEE;
}

.img_content img{
width: 100%;
height: clamp(300px, 25vw, 350px);
object-fit: cover;
}
.defaultImg{
  object-fit: contain !important;
}
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-top: 0rem;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 0rem;
    margin-left: 15%;
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    border-radius: 50%;
    text-indent: -999px;
    cursor: pointer;
    background-color:rgba(68, 200, 245, 1);
    opacity: .5;
    transition: opacity .6s ease;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height:450px;
}

.carousel-indicators .active {
  background-color: rgba(4, 56, 115, 1);
}

.main_conent_box{
  height:300px;
  overflow-y: scroll;
}