<section>
    <div class="programmes_main_page">
        <img src="../../../../assets/img/MLZS/banner/parent-corner.png" class="img-fluid d-none d-md-block w-100"
            alt="about banner">
        <img src="../../../../assets/img/MLZS/banner/mobile_banner/parentsCorner_mobile.jpg"
            class="img-fluid d-block d-md-none w-100" alt="Mobile banner">
        <div class="menu_content">
            <app-sub-menu></app-sub-menu>
        </div>
        <div class="programmes_content">
            <div class="box">
                <ul class="nav nav-pills my-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation" routerLink="/parents-corner/childs-development">
                        <button class="nav-link" id="pills-home-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                            aria-selected="true">Child Development
                        </button>
                    </li>
                    <li class="nav-item" role="presentation" routerLink="/parents-corner/personalized-guidance">
                        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                            aria-selected="false">Mount Litera Expert Connect
                        </button>
                    </li>
                    <li class="nav-item" role="presentation" routerLink="/parents-corner/support">
                        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                            aria-selected="false">Mount Litera Parent Support Hub
                        </button>
                    </li>
                    <li class="nav-item" role="presentation" routerLink="/parents-corner/parents-experience">
                        <button class="nav-link active" id="pills-secondary-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-secondary" type="button" role="tab" aria-controls="pills-secondary"
                            aria-selected="false">Parents' Testimonials
                        </button>
                    </li>
                </ul>
                <div class="title_content text-center mt-2">
                </div>
                <div class="tab-content my-4" id="pills-tabContent">
                    <div class="tab-pane fade" id="pills-home" role="tabpanel"
                        aria-labelledby="pills-home-tab">
                        <div class="program_tab_content">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="programm_text_content">
                                        <p>Understanding Growth, Guiding Futures!</p>

                                        <p>Understanding your child's journey is the first step to nurturing their
                                             success. Our expert insights help you decode every developmental 
                                             milestone, ensuring your child thrives at every stage. 
                                             Early identification leads to better support. Our comprehensive guide
                                              helps parents spot and address development concerns with expert-backed solutions.</p>

                                        <p>Here are some parenting tips to handle challenges and support your child's overall development:</p>
                                    
                                        <div class="row">
                                            <div class="col-1">
                                                <img src="../../../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                            </div>
                                            <div class="col-11 p-0">
                                                <p class="p-0"><strong>Stress-free parenting:</strong> Practical strategies for managing stress while fostering meaningful connections and emotional balance, ensuring your child grows with confidence and resilience.</p>
                                            </div>


                                            <div class="col-1">
                                                <img src="../../../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                            </div>
                                            <div class="col-11 p-0">
                                                <p class="p-0"><strong>Bullying:</strong> We provide proactive tools to help parents and children navigate childhood interactions with empathy and awareness, transforming challenges into opportunities for emotional intelligence and resilience.</p>
                                            </div>

                                            <div class="col-1">
                                                <img src="../../../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                            </div>
                                            <div class="col-11 p-0">
                                                <p class="p-0"><strong>Peer pressure:</strong> Equip your child with effective communication techniques, self-confidence, and critical thinking skills to navigate social dynamics with integrity and authenticity.</p>
                                            </div>

                                            <div class="col-1">
                                                <img src="../../../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                            </div>
                                            <div class="col-11 p-0">
                                                <p class="p-0"><strong>Comparison:</strong> Emphasise that each child's journey is one of a kind. Our approach celebrates individuality, fosters self-esteem, and helps children embrace their unique strengths and learning styles.</p>
                                            </div>
                                            <p>Litera Nova is committed to equity in education, meeting every child's individual needs, and helping students and parents unlock the full potential for success.</p>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="programm_img_content w-100 d-flex justify-content-center">
                                        <img src="../../../../assets/img/MLZS/childs-development.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <div class="program_tab_content">
                            <div class="row">       
                                <div class="col-md-6">
                                    <div class="programm_text_content">
                                        <p>Personalised Guidance Anytime, Anywhere!</p>
                                        <p>Mount Litera Zee School's child development experts offer personalised guidance for your child's 
                                            unique journey, anytime, anywhere.</p>
                                      <p>Our mentoring programme brings together seasoned professionals from diverse backgrounds, 
                                        providing research-backed, holistic guidance tailored to individual needs. 
                                        We address academic, emotional, and personal development through personalised sessions, 
                                        ensuring holistic support for students and parents.</p>
                                        <p>With the Litera Nova app, you can track and enhance your child’s personalised academic and 
                                            psychosocial development, making it easier to understand and address their needs. 
                                            Embrace the future of education and parenting—focused, flexible, and expertly guided.</p>
                                    </div>


                                </div>
                                <div class="col-md-6">
                                    <div class="programm_img_content w-100 d-flex justify-content-center">
                                        <img src="../../../../assets/img/MLZS/export-content.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                        <div class="program_tab_content">
                            <div class="row">       
                                <div class="col-md-6">
                                    <div class="programm_text_content">
                                        <p>Navigating Parenthood and Mentorship: Your Guide to Growth and Connection!</p>
                                        <p>The Parent Support Hub is your complete resource for navigating parenting challenges.
                                             From homework support to behavioural guidance, find expert solutions tailored to your needs.</p>
                                           
                                    </div>

                                    <div class="row">
                                        <div class="col-1">
                                            <img src="../../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0"><strong>Positive parenting:</strong> Positive parenting is a dynamic, evolving practice that requires understanding, patience, and continuous learning. Our expert counsellors provide personalised guidance to help parents navigate developmental stages, communication barriers, and emotional challenges, transforming potential conflicts into opportunities for growth and connection.</p>
                                        </div>
        
                                        <div class="col-1">
                                            <img src="../../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0"><strong>Guidance and counselling:</strong> Every family faces unique challenges, but no one has to navigate them alone. Our guidance and counselling services help parents overcome obstacles and create balanced, harmonious relationships. From handling everyday struggles to more complex emotional milestones, we partner with you to bring clarity, peace, and positivity into your parenting practice.</p>
                                        </div>
        
                                        <div class="col-1">
                                            <img src="../../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0"><strong>Mentoring:</strong> Mentorship is a powerful tool for growth, but it’s not without its challenges. Our approach supports mentors and mentees by offering targeted strategies, emotional resilience, and skill-building techniques. Together, we unlock potential and turn challenges into opportunities for meaningful learning and connection. Whether you’re a mentor guiding a young mind or a parent shaping a future, we're here to help both journeys flourish.</p>
                                        </div>
                                       <h6><b>The Parent Support Hub includes:</b></h6>
                                        <div class="col-1">
                                            <img src="../../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0">Solutions for common parenting challenges</p>
                                        </div>
        
                                        <div class="col-1">
                                            <img src="../../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0">Screen time management strategies</p>
                                        </div>
                                        <div class="col-1">
                                            <img src="../../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0">Homework support guidelines</p>
                                        </div>
                                        <div class="col-1">
                                            <img src="../../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0">Stress-free learning techniques</p>
                                        </div>

                                        <div class="col-1">
                                            <img src="../../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0">Nutrition and wellness advice</p>
                                        </div>

                                        <div class="col-1">
                                            <img src="../../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0">Work-life-school balance tips</p>
                                        </div>
                                      
                                    </div>
                                    <p>Join us as we empower families, enrich mentorships, and support personal growth with expert resources, practical guidance, and emotional support. Let’s navigate life’s challenges together.</p>
        
                                </div>
                                <div class="col-md-6">
                                    <div class="programm_img_content w-100 d-flex justify-content-center">
                                        <img src="../../../../assets/img/MLZS/support-hub.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show active" id="pills-secondary" role="tabpanel"
                        aria-labelledby="pills-secondary-tab">
                        <div class="program_tab_content">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="programm_text_content">
                                        <p>Watch the success stories of parents who have experienced the transformative power of our mentoring programme at Mount Litera Zee School. Their authentic stories showcase real-world impact, demonstrating how expert guidance can unlock potential, build confidence, and create meaningful and lasting change in their children's lives. </p>
                                        <p>Explore real stories that go a long way in making a difference to Mount Litera Zee School's parent network.</p>
                                    </div>
                                </div>
                                
                                <div class="col-12">
                                 
                                    <div class="home-demo parents_testimonial mt-4">
                                         <div class="owl-carousel owl-theme news_owl" id="">
                                            <div class="item">
                                              <div class="item_img_content">
                                                <img src="../../../assets/img/MLZS/news1.png" alt="">
                                              </div>
                                              <hr>
                                              <div class="item_text mt-2">
                                              
                                                <h6>Zee Learn as the Most Trusted Education Brand</h6>
                                                <p>8 MARCH 24</p>
                                              </div>
                                            </div>
                                            <div class="item">
                                              <div class="item_img_content">
                                                <img src="../../../assets/img/MLZS/news2.png" alt="">
                                              </div>
                                              <hr>
                                              <div class="item_text mt-2">
                                              
                                                <h6>Mount Litera Zee School learning journey </h6>
                                                <p>4 MAY 24</p>
                                              </div>
                                            </div>
                                            <div class="item">
                                              <div class="item_img_content">
                                                <img src="../../../assets/img/MLZS/news3.png" alt="">
                                              </div>
                                              <hr>
                                              <div class="item_text mt-2">
                                              
                                                <h6>Mount Litera Zee School learning journey</h6>
                                                <p>4 MAY 24</p>
                                              </div>
                                            </div>
                                            <div class="item">
                                              <div class="item_img_content">
                                                <img src="../../../assets/img/MLZS/news3.png" alt="">
                                              </div>
                                              <hr>
                                              <div class="item_text mt-2">
                                              
                                                <h6>Zee Learn as the Most Trusted Education Brand</h6>
                                                <p>8 MARCH 24</p>
                                              </div>
                                            </div>
                                            <div class="item">
                                              <div class="item_img_content">
                                                <img src="../../../assets/img/MLZS/news3.png" alt="">
                                              </div>
                                              <hr>
                                              <div class="item_text mt-2">
                                              
                                                <h6>Zee Learn as the Most Trusted Education Brand</h6>
                                                <p>8 MARCH 24</p>
                                              </div>
                                            </div>
                                          </div>
                                      </div>
                                </div>

                                <div class="col-12">
                                 
                                    <div class="home-demo parents_testimonial mt-4">
                                         <div class="owl-carousel owl-theme news_owl" id="">
                                            <div class="item">
                                              <div class="item_img_content">
                                                <img src="../../../assets/img/MLZS/news1.png" alt="">
                                              </div>
                                              <hr>
                                              <div class="item_text mt-2">
                                              
                                                <h6>Zee Learn as the Most Trusted Education Brand</h6>
                                                <p>8 MARCH 24</p>
                                              </div>
                                            </div>
                                            <div class="item">
                                              <div class="item_img_content">
                                                <img src="../../../assets/img/MLZS/news2.png" alt="">
                                              </div>
                                              <hr>
                                              <div class="item_text mt-2">
                                              
                                                <h6>Mount Litera Zee School learning journey </h6>
                                                <p>4 MAY 24</p>
                                              </div>
                                            </div>
                                            <div class="item">
                                              <div class="item_img_content">
                                                <img src="../../../assets/img/MLZS/news3.png" alt="">
                                              </div>
                                              <hr>
                                              <div class="item_text mt-2">
                                              
                                                <h6>Mount Litera Zee School learning journey</h6>
                                                <p>4 MAY 24</p>
                                              </div>
                                            </div>
                                            <div class="item">
                                              <div class="item_img_content">
                                                <img src="../../../assets/img/MLZS/news3.png" alt="">
                                              </div>
                                              <hr>
                                              <div class="item_text mt-2">
                                              
                                                <h6>Zee Learn as the Most Trusted Education Brand</h6>
                                                <p>8 MARCH 24</p>
                                              </div>
                                            </div>
                                            <div class="item">
                                              <div class="item_img_content">
                                                <img src="../../../assets/img/MLZS/news3.png" alt="">
                                              </div>
                                              <hr>
                                              <div class="item_text mt-2">
                                              
                                                <h6>Zee Learn as the Most Trusted Education Brand</h6>
                                                <p>8 MARCH 24</p>
                                              </div>
                                            </div>
                                          </div>
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="faq_bg py-5">
       <div class="box title_content text-center">
            <h2 class="text-white"><b>FAQs</b></h2>
            <img src="../../../assets/img/MLZS/text-bg.png" class="text_bg" alt="">
            <p class="m-0 text-white">Have a burning question? We're here to answer the most common ones.</p>
            <app-faqs [shadowFaq]="false"></app-faqs>
        </div>
    </div>
       <div class="mt-5">
        <app-blogs></app-blogs>
        </div>
        <div class="my-5">
        <app-testimonial></app-testimonial>
        </div>
    </div>
</section>