.multi_img_group{
    display: flex;
    justify-content: center;
}

.multi_img_group img{
width: 80%;
}

section{
  background: url("../../../../assets/img/MLZS/bg_svg/Parent-corner.svg") no-repeat center center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  }
 
.menu_content{
    width: 40%;
    height: 50px;
    position: relative;
    left: 5.5rem;
    padding: 10px;
}

  .text_bg{
    width:23%;
    position: relative;
    bottom:1.5rem;
    z-index: 1;
}
 .nav-pills
.nav-link.active,
.nav-pills
.show > 
.nav-link{
  color: #fff;
  background: #014876;
  font-size: clamp(13px, 1vw, 14px);
  padding: 12px 40px;
  margin: clamp(5px, 0.5vw, 6px);
  border-radius: 6px;
}

.nav-link:focus,
.nav-link {
  color: #014876;
  font-size: clamp(13px, 1vw, 14px);
  padding: 12px 40px;
  margin: clamp(5px, 0.5vw, 6px);
  background-color: #44C8F5;
}

    .liter_img{
        width: 50%;
    }

    .liter_content{
        margin-left: 57px;
    }

  .fr_img_content img{
    width: 80%;
  }

  .title_content ul{
    padding: 0; 
    line-height: 30px;
  }
  @media screen and (max-width: 600px) {
     li button {
    width: 98% !important;
  }

  .nav-link:focus,
  .nav-link {
    width: 100%;
  }

  li {
    width: 100%;
  }
    .start_school_banner{
      margin-top: 2rem;
    }
    .tab_btn{
      color: #FFF;
      width: 100%;
      height: 52px;
      font-size: 14px;
      padding:0;
      background-color: #44C8F5;
      margin: 5px;
  }
  .tab_btn:hover{
      color: #FFF;
      width: 100%;
      height: 52px;
      font-size: 14px;
      padding:0;
      background-color: #44C8F5;
      margin: 5px;
  }

    .programm_para{
      margin:38px 30px !important;
      text-align: justify;
    }
    }
  
    .programm_para{
      margin:38px 52px;
      text-align: justify;
    }

    /* .home-demo .item {
      background:transparent;
      width: 95%;
      margin: auto;
      height: 310px;
      overflow: hidden;
      border-radius: 5px;
      padding: 30px 15px;
  } */
  .home-demo h2 {
      color: #FFF;
      text-align: center;
      /* padding: 5rem 0; */
      margin: 0;
      font-style: italic;
      font-weight: 300;
  }
  .item_text h6{
      color: #FFF;
  }
  .item_text p{
      font-size: 11px;
      color: #014876;
  }
  
  .item_text img{
      width: 25px;
  }
  
  hr{
      margin: 15px 0px 0px 0px;
  }
  
  ::ng-deep .center{
      background-color: #FFF !important;  /* Change background color of the active item */ 
    }
    ::ng-deep .owl-item{
      background-color: #44C8F5;
    }
  
     .parents_testimonial ::ng-deep .owl-carousel .owl-stage {
  position: relative;
  height: clamp(370px, 25vw, 450px);
  overflow: hidden;
   }