<section>
    <div class="main_content">
        <div class="start_school_banner">
         <div class="row">
            <div class="col-md-7">
                <!-- <div class="bannerTitle">
                   <h1 class="text-white">Mount Litera Admission</h1>
                   <div class="year"><h1>2023-24</h1></div>
                </div> -->
                <div class="icon_list">
                    <img src="../../../assets/img/MLZS/banner_icon.png" width="80%" alt="">
                </div>
            </div>
            <div class="col-md-5 d-flex justify-content-center justify-align-center">
                <div class="francine_form">
                    <h4 class="text-left title">Admission Form</h4>
                    <div class="form">
                        <div class="col-md-row">
                            <div class="col-md-12 mt-1">
                                <input type="text" placeholder="Name*" class="form-control">
                            </div>
                            <div class="col-md-12 mt-2">
                                <input type="text" placeholder="Email*" class="form-control">
                            </div>
                            <div class="col-md-12 mt-2">
                                <input type="text" placeholder="Mobile no*" class="form-control">
                                <button class="btn btn-sm read_mode verify_otp_btn">Verify OTP</button>
                                <input type="text" placeholder="OTP" class="form-control mt-2">
                            </div>
                            <div class="col-md-12 mt-2">
                               <select name="" id="" class="form-control">
                                <option value="">Which state are you searching for schools in?</option>
                               </select>
                            </div>
                            <div class="col-md-12 mt-2">
                                <select name="" id="" class="form-control">
                                 <option value="">Which City are you searching for schools in?</option>
                                </select>
                             </div>

                             <div class="col-md-12 mt-2">
                                <select name="" id="" class="form-control">
                                 <option value="">Which School are you interested in?</option>
                                </select>
                             </div>
                             <div class="col-md-12 mt-2">
                                <select name="" id="" class="form-control">
                                 <option value="">Admission for which class?</option>
                                </select>
                             </div>
                             <div class="col-md-12 mt-2">
                                <div class="row">
                                    <div class="col-1">
                                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                                    </div>
                                    <div class="col-11">
                                        <label for="vehicle1">I authorize MLZS and its representatives to Call, SMS, Email or WhatsApp me about Admission Proccess. This consent overrides any registration for DNC/NDNC.</label>
                                    </div>
                                </div>
                            </div>
                             <div class="col-md-12 mt-3">
                                <button class="btn read_mode w-100">Send <i class="fa fa-long-arrow-right mx-2"></i></button>
                             </div>
                        </div>
                    </div>
                  </div>
            </div>
         </div>
         
            
        </div>
        <div class="menu_content">
            <app-sub-menu></app-sub-menu>
        </div>
        <div class="box_content">
            <!-- <div class="title_content text-center">
            <h2 class="text-center"><b>About Us</b></h2>
            <img src="../../../assets/img/MLZS/prg_text_bg.png" class="text_bg" alt="">
            </div>
            <div class="row">
                <div class="col-md-6">      
                        <div class="">
                            <p>Mount Litera Zee School is an Endeavour by Zee Learn to bring about a quantum improvement in school education. The purpose is to help children realize their unique potential through their state-of-the-art infrastructure and facilities, well trained teachers, and a proprietary pedagogy.</p>
                            <p>Awarded as the K12 School Chain Of the Year 2019, by Indian Educational Congress, Mount Litera Zee School is the fastest growing school network in India with more than 130+ Operational Schools in over 110+ cities across the country.</p>
                            <button class="btn read_mode">Know More <i class="fa fa-long-arrow-right mx-2"></i></button>
                        </div>
                </div>
                <div class="col-md-6">
                    <div class="about_img_content w-10 d-flex justify-content-center">
                    <img src="../../../assets/img/MLZS/about_img.png" alt="">
                </div>
                </div>
            </div>
            <div class="counter_box mt-5">
                <img src="../../../assets/img/MLZS/counter_img.png" width="100%" alt="">
            </div> -->
        <app-about-us></app-about-us>
        
        
        </div>
   <div class="box_content">
    <app-programmes></app-programmes>
   </div>
   <div class="box_content mt-4">
    <app-our-approach></app-our-approach>
   </div>
<div class="box mt-4">
    <app-gallery></app-gallery>
</div>
<div class="box_content">
    <app-testimonial></app-testimonial>
</div>
    </div>
</section>