.start_school_banner{
    background-image: url('../../../assets/img/MLZS/banner/admissionForm-banner.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 8rem;
    /* height: 500px; */
}

.francine_form{
    width:70%;
    float: right;
    margin: 10px 15px 15px 10px;
    padding: 10px 25px;
    background-color: #C4DEFD;
}
.verify_otp_btn{
    font-size: 10px;
    padding: 2px 5px !important;
    float: right;
    margin: 7px 0px;
}

label{
    font-size: 12px;
}
.icon_list{
    position: relative;
    top:23rem;
    left: 1rem;
    display: flex;
    justify-content: center;
}
.title{
  color: #403C39;
  font-family: 'Poppins' !important;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


.menu_content{
    width: 40%;
    height: 50px;
    position: relative;
    left: 5.5rem;
    padding: 10px;
}

.about_content{
    width: 100%;
    padding: 55px 0px;
    background-color: #004878;
}

.title_content h2{
    position: relative;
    z-index: 9;
}
.text_bg{
    width: 10%;
    height: 25px;
    position: relative;
    bottom: 1.9rem;
    z-index: 1;

}

.about_img_content img{
width: 80%;
}