<section>
    <div class="about_content" id="about_content_bg">
        <div class="box">
            <div class="row">
                <div class="col-md-6">
                    <div class="title_content" id="title_content">
                        <h2 class="text-white"><b>Our Pedagogy<br>Litera Nova</b></h2>
                        <img src="../../assets/img/MLZS/text-bg.png" class="text_bg" alt="">
                        <div class="">
                            <p class="text-white">With Litera Nova, we are dedicated to nurturing the holistic
                                development of students, empowering them to become the leaders of tomorrow. The key
                                features of Litera Nova are as follows:</p>

                            <div class="row">
                                <div class="col-1">
                                    <img src="../../assets/img/MLZS/right_icon_white.png"  class="right_icon-white" alt="right_icon">
                                </div>
                                <div class="col-11 p-0">
                                    <p class="text-white">Personalised learning revolution</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1">
                                    <img src="../../assets/img/MLZS/right_icon_white.png" class="right_icon-white" alt="right_icon">
                                </div>
                                <div class="col-11 p-0">
                                    <p class="text-white">Future-ready skills</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1">
                                    <img src="../../assets/img/MLZS/right_icon_white.png" class="right_icon-white" alt="right_icon">
                                </div>
                                <div class="col-11 p-0">
                                    <p class="text-white">Self-directed learning</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1">
                                    <img src="../../assets/img/MLZS/right_icon_white.png" class="right_icon-white" alt="right_icon">
                                </div>
                                <div class="col-11 p-0">
                                    <p class="text-white">10-dimensional excellence</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-1">
                                    <img src="../../assets/img/MLZS/right_icon_white.png" class="right_icon-white" alt="right_icon">
                                </div>
                                <div class="col-11 p-0">
                                    <p class="text-white">Celebrating every learning style</p>
                                </div>
                            </div>
                            <button class="btn btn-custom-white" routerLink="/academics/nova">Know More <span class="material-symbols-outlined">
                arrow_forward
            </span></button>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="about_img_content w-10 d-flex justify-content-center">
                        <img src="../../assets/img/MLZS/Litera-Nova.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>