<section>
    <div class="programmes_main_page">
        <img src="../../../assets/img/MLZS/banner/acadmic_banner.png" class="w-100" alt="acadmic banner">
        <div class="menu_content">
            <app-sub-menu></app-sub-menu>
        </div>
        <div class="programmes_content mt-3">
            <div class="box">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation" routerLink="/academics/students-experience">
                        <button class="nav-link" id="pills-home-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                            aria-selected="true">Litera Experience
                        </button>
                    </li>
                    <li class="nav-item" role="presentation" routerLink="/academics/co-curricular-activities">
                        <button class="nav-link active" id="pills-profile-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                            aria-selected="false">Litera Enrichment Programmes
                        </button>
                    </li>
                    <li class="nav-item" role="presentation" routerLink="/academics/nova">
                        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                            aria-selected="false">Litera Nova App
                        </button>
                    </li>
                    <li class="nav-item" role="presentation" routerLink="/academics/literati">
                        <button class="nav-link" id="pills-secondary-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-secondary" type="button" role="tab" aria-controls="pills-secondary"
                            aria-selected="false">Literati
                        </button>
                    </li>
                </ul>
                <div class="title_content text-center mt-2">
                </div>
                <div class="tab-content my-4" id="pills-tabContent">
                    <div class="tab-pane fade" id="pills-home" role="tabpanel"
                        aria-labelledby="pills-home-tab">
                        <div class="program_tab_content">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="programm_text_content">
                                        <p class="tab_title">Every Child Shines: Unleashing Unique Potential!</p>

                                        <p>At Mount Litera Zee School, we provide a personalised learning experience
                                            celebrating your child’s individuality and potential. With our Unique
                                            Learner Profile (ULP), we design learning paths focusing on what makes each
                                            student unique, ensuring they master essential skills like creativity,
                                            communication, critical thinking, problem-solving, leadership, and digital
                                            literacy. Our approach blends academics with emotional intelligence, social
                                            development, and character-building experiences, preparing students for
                                            success in all aspects of life beyond the classroom.</p>

                                        <p>We nurture self-directed learning, empowering students to take ownership of
                                            their educational journey while fostering curiosity and confidence. We
                                            inspire students to shine in an ever-evolving world by cultivating their
                                            unique strengths and potential and fostering a visionary mindset. We prepare
                                            them to navigate challenges with creativity, resilience, and purpose,
                                            empowering them to become leaders of tomorrow.</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="programm_img_content w-100 d-flex justify-content-center">
                                        <img src="../../../assets/img/MLZS/LiteraExperience.png" alt="LiteraExperience">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-md-6">
                                    <div class="programm_img_content w-100 d-flex justify-content-center">
                                        <img src="../../../../assets/img/MLZS/uniqueLearner.png" alt="uniqueLearner">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h2><b>Unique Learner <br>Profile (ULP)</b></h2>
                                    <img src="../../../assets/img/MLZS/prg_text_bg.png" class="text_bg" alt="">
                                    <div class="programm_text_content">
                                        <p>A Unique Learner Profile (ULP) is a comprehensive and personalised overview
                                            of a student's learning abilities, preferences, and needs, developed through
                                            periodic diagnostic assessments based on neuroscience principles.</p>

                                        <p>The ULP highlights the students' cognitive, emotional, and academic strengths
                                            and challenges, focusing on the following ten dimensions of growth:
                                            Cognitive, Physical, Social, Emotional, Ethical, Creative, Environmental,
                                            Technological, Cultural,
                                            and Spiritual, guiding them from exploration to mastery. This is achieved by
                                            combining four essential components of ULP: Knowledge, Values, and 10
                                            Career-oriented Skills and Competencies: Critical Thinking, Creativity,
                                            Communication, Collaboration, Citizenship, Crisis Management, Cultural
                                            Intelligence (CQ), Computational Skills, Commercial Awareness, and
                                            Confidence.</p>

                                        <p>The ULP constantly guides educators in tailoring diversified learning
                                            strategies, ensuring that each student receives the support they need to
                                            ignite their passion, nurture their growth, and unleash their full potential
                                            to become successful individuals.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-5">
                                <div class="col-md-6">
                                    <h2><b>Litera Nova</b></h2>
                                    <img src="../../../assets/img/MLZS/prg_text_bg.png" class="text_bg" alt="">
                                    <div class="programm_text_content">
                                        <p>Litera Nova, our new pedagogy, is a transformative approach to education that
                                            blends innovation with personalised learning. Aligned with the NCF 2023, it
                                            offers a learner-driven approach, integrating immersive technology and AR.
                                            With 10-fold competency-based learning and continuous assessments, Litera
                                            Nova focuses on nurturing 21st-century career-oriented skills, ensuring
                                            students thrive in an ever-evolving world. The key features and benefits of
                                            Litera Nova are as follows:</p>
                                        <p><strong>Key Features:</strong></p>
                                        <div class="row">
                                            <div class="col-1">
                                                <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                            </div>
                                            <div class="col-11 p-0">
                                                <p class="p-0">A revolutionary Unique Learner Profile driven by
                                                    neuroscience</p>
                                            </div>

                                            <div class="col-1">
                                                <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                            </div>
                                            <div class="col-11 p-0">
                                                <p class="p-0">A 24/7 Al assistant for instant solutions to queries</p>
                                            </div>

                                            <div class="col-1">
                                                <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                            </div>
                                            <div class="col-11 p-0">
                                                <p class="p-0">Custom learning paths that celebrate your child's unique
                                                    genius</p>
                                            </div>

                                            <div class="col-1">
                                                <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                            </div>
                                            <div class="col-11 p-0">
                                                <p class="p-0">Freedom from one-size-fits-all education limits</p>
                                            </div>

                                            <div class="col-1">
                                                <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                            </div>
                                            <div class="col-11 p-0">
                                                <p class="p-0">Real-world skill development that matters</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="programm_img_content w-100 d-flex justify-content-center">
                                        <img src="../../../../assets/img/MLZS/litera-nova-white-bg.png" alt="">
                                    </div>
                                </div>

                            </div>
                            <div class="row mt-4">
                                <div class="col-md-6">
                                    <h6><b>Future-ready Skills</b></h6>
                                    <div class="row">
                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0">Master communication and critical thinking</p>
                                        </div>

                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0">Build leadership through hands-on challenges</p>
                                        </div>

                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0">Gain essential digital and financial literacy</p>
                                        </div>

                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0">Turn obstacles into growth opportunities</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <h6><b>Self-Directed Learning Champions</b></h6>
                                    <div class="row">
                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0">Students take charge of their learning journey</p>
                                        </div>

                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0">Develop lifelong curiosity and independence</p>
                                        </div>

                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0">Build confidence through guided discovery</p>
                                        </div>

                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0">Create tomorrow's decision-makers today</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row my-4">
                                <div class="col-md-6">
                                    <h6><b>10-Dimensional Excellence</b></h6>
                                    <div class="row">
                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0">Beyond academics: emotional intelligence and social skills
                                            </p>
                                        </div>

                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0">Physical wellness meets mental agility</p>
                                        </div>

                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0">Character building through real experiences</p>
                                        </div>

                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0">Transform potential into lasting success</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <h6><b>Every Learning Style Celebrated</b></h6>
                                    <div class="row">
                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0">Adaptive environments that flex to suit your child</p>
                                        </div>

                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0">Brain-science-backed teaching approach</p>
                                        </div>

                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0">Success strategies as unique as your child</p>
                                        </div>

                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0">Where diverse abilities are transformed into superpowers</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <div class="program_tab_content">
                            <div class="row">       
                                <div class="col-md-6">
                                    <div class="programm_text_content">
                                        <h1 class="tab_title">Unleashing Talents Beyond the Classroom!</h1>
                                        <p>We believe that every child has unique talents waiting to be discovered. Our vibrant co-curricular and enrichment programmes offer various activities that help students explore their passion for sports, visual arts, performing arts, holistic well-being, and community connect. Through these experiences, students build confidence and learn the value of teamwork, sportsmanship, and collaboration in competitive and creative settings. Whether it's a sport, a musical performance, or an artistic pursuit, we provide the platform for children to transform their hobbies into lifelong passions.</p>
                                      <p>We also offer global exposure through inter-school competitions, giving students the opportunity to showcase their skills and talent. With Litera Nova, we shape well-rounded individuals who thrive in academic and co-curricular arenas, empowering them to grow into confident, capable leaders of tomorrow. Our goal is to inspire and nurture every child by focusing on the following aspects of growth:</p>
                                    </div>

                                    <div class="row">
                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0">Discover hidden talents through diverse activities.</p>
                                        </div>
        
                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0">Build confidence in sports, arts, and performing arts.</p>
                                        </div>
        
                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0">Learn teamwork through competitive and collaborative events.</p>
                                        </div>
        
                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0">Transform hobbies into lifelong passions.</p>
                                        </div>
        
                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0">Global exposure through inter-school competitions.</p>
                                        </div>
                                    </div>
                                    <p>To achieve these goals, we offer students a diverse range of co-curricular, enrichment, and I-NOVA programmes with opportunities to expand their skills and passions:</p>
        
                                    <div class="row">
                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0"><strong>Litera Avishkaar:</strong> Robotics programme for tech enthusiasts</p>
                                        </div>
        
                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0"><strong>Rohit Sharma Cricket Academy:</strong> Building sportsmanship and teamwork</p>
                                        </div>
        
                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0"><strong>Freadom app:</strong> A programme for building English language fluency and competency</p>
                                        </div>
        
                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0"><strong>Model United Nations (MUN):</strong> Developing global leaders through simulation</p>
                                        </div>
        
                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0"><strong>My Mentor:</strong> Preparing students for lifelong learning and an unpredictable future</p>
                                        </div>
        
                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0"><strong>FLIP:</strong>Financial Literacy Programme teaching financial management from an early age</p>
                                        </div>
        
                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0"><strong>DCP:</strong> Digital Citizenship Programme for mastering digital spaces responsibly</p>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="programm_img_content w-100 d-flex justify-content-center">
                                        <img src="../../../../assets/img/MLZS/co-programm.png" alt="">
                                    </div>
                                    <div class="programm_para">
                                    <div class="row">
                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" width="100%" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0"><strong>BMBI:</strong> Byte-sized modules for positive habits, essential skills and real-life connections</p>
                                        </div>
        
                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" width="100%" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0"><strong>Sanskaar:</strong> Cultural value-based programme fostering ethics and values</p>
                                        </div>
        
                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" width="100%" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0"><strong>Vihang:</strong> Free-spirited offshoot of Sanskaar, celebrating national festivals</p>
                                        </div>
        
                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" width="100%" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0"><strong>Momentum:</strong> JEE Main and JEE Advanced preparations for aspiring engineers</p>
                                        </div>
        
                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" width="100%" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0"><strong>My Mentor:</strong> Preparing students for lifelong learning and an unpredictable future</p>
                                        </div>
        
                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" width="100%" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0"><strong>Motion Maker:</strong> Animation and creative arts programme for artistic expression</p>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                        <div class="program_tab_content">
                            <div class="row">       
                                <div class="col-md-6">
                                    <div class="programm_text_content">
                                        <p class="tab_title">Where Innovation Meets Intelligence!</p>
                                        <p>With Litera Nova, we ignite a passion for innovation through hands-on STEAM projects that 
                                            inspire creativity and critical thinking. Our students embark on exciting robotics and coding 
                                            adventures, delving into technology with AR activities and real-world innovation challenges.
                                             With opportunities to address real-world problems, they develop essential career-oriented skills
                                              for the future.</p>
                                      <p>Guided by our 10-fold development approach, which emphasises cognitive, physical, 
                                        social, emotional, ethical, creative, environmental, technological, cultural, and 
                                        spiritual growth, we nurture well-rounded individuals prepared for the demands of the 21st century.</p>
                                        <p>Our dynamic Litera Nova app encourages students to think beyond limits, 
                                            blending creativity with intelligence. With Litera Nova, we prepare students to
                                             thrive in a rapidly advancing world, shaping them into the thinkers, leaders, 
                                             and innovators of tomorrow.</p>
                                             <p>The Litera Nova app is a platform where innovation meets intelligence. 
                                                Here are some key features:</p>
                                    </div>

                                    <div class="row">
                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0"><strong>ARNova:</strong> Experience Augmented Reality for immersive concept exploration.</p>
                                        </div>
        
                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0"><strong>AskNova:</strong> A 24/7 Al assistant for instant solutions to queries.</p>
                                        </div>
        
                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0"><strong>SimNova:</strong> Hands-on learning through interactive simulations.</p>
                                        </div>
        
                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0"><strong>NovaContent:</strong> Engaging 2D and 3D audio-visual lessons for deeper understanding.</p>
                                        </div>
        
                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0"><strong>Nova Expert:</strong> One-on-one teacher-student support for personalised learning experiences.</p>
                                        </div>
                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0"><strong>NovaAssess:</strong> Competency-based assessments and evaluations with detailed feedback and progress tracking.</p>
                                        </div>
                                    </div>
                                    <p>The Litera Nova app empowers students with these transformative learning benefits:</p>
        
                                    <div class="row">
                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0">Hands-on STEAM projects that spark creativity</p>
                                        </div>
        
                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0">Robotics and coding adventures</p>
                                        </div>
        
                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0">Scientific exploration and discovery labs</p>
                                        </div>
        
                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0">Innovation challenges that solve real-world problems</p>
                                        </div>
        
                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0">Tech-enabled learning experiences</p>
                                        </div>
        
                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" class="right_icon" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0">Future-ready skill-building spaces</p>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="programm_img_content w-100 d-flex justify-content-center">
                                        <img src="../../../../assets/img/MLZS/property-stage.png" alt="">
                                    </div>
                                    <div class="programm_para">
                                    <div class="row">
                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" width="100%" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0"><strong>BMBI:</strong> Byte-sized modules for positive habits, essential skills and real-life connections</p>
                                        </div>
        
                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" width="100%" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0"><strong>Sanskaar:</strong> Cultural value-based programme fostering ethics and values</p>
                                        </div>
        
                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" width="100%" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0"><strong>Vihang:</strong> Free-spirited offshoot of Sanskaar, celebrating national festivals</p>
                                        </div>
        
                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" width="100%" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0"><strong>Momentum:</strong> JEE Main and JEE Advanced preparations for aspiring engineers</p>
                                        </div>
        
                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" width="100%" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0"><strong>My Mentor:</strong> Preparing students for lifelong learning and an unpredictable future</p>
                                        </div>
        
                                        <div class="col-1">
                                            <img src="../../../assets/img/MLZS/right_icon.png" width="100%" alt="">
                                        </div>
                                        <div class="col-11 p-0">
                                            <p class="p-0"><strong>Motion Maker:</strong> Animation and creative arts programme for artistic expression</p>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-secondary" role="tabpanel"
                        aria-labelledby="pills-secondary-tab">
                        <div class="program_tab_content">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="programm_text_content">
                                        <p class="tab_title">Where Every Student Shines Like a Star!</p>
                                        <p>Literati is a vibrant platform that celebrates the potential and talent of our students while offering a space for teachers,
                                             students, and school leaders to share their insights. It highlights the creativity and achievements of 
                                             young minds through art, writing, and innovation and captures the essence of school celebrations and events. 
                                             By fostering a sense of community, Literati not only showcases brilliance but also inspires growth, 
                                             collaboration, and the joy of learning.</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="programm_img_content w-100 d-flex justify-content-center">
                                        <img src="../../../assets/img/MLZS/pg4.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <div class="faq_bg py-5">
    <div class="title_content text-center">
            <h2 class="text-white"><b>FAQs</b></h2>
            <img src="../../../assets/img/MLZS/text-bg.png" class="text_bg" alt="">
            <p class="m-0 text-white">Have a burning question? We're here to answer the most common ones.</p>
            <app-faqs></app-faqs>
        </div>
    </div>
        <app-blogs></app-blogs>
        <app-testimonial></app-testimonial>
    </div>
</section>