<section>
    <div class="programmes_main_page">
        <div class="banner_content">
            <img src="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/banner/gallery_top_banner.png"
                class="img-fluid d-none d-md-block w-100" alt="about banner">
            <img src="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/banner/mobile_banner/Gallery.jpg"
                class="img-fluid d-block d-md-none w-100" alt="Mobile banner">
        </div>
        <div class="subMenu_content mt-2">
            <app-sub-menu></app-sub-menu>
        </div>

        <div class="box mt-4">
            <div class="dropdown_tab">
                <div class="row">
                    <div class="col-md-4">
                        <select #ddlcategory name="" id="" [(ngModel)]="Selectedcategory" class="form-control"
                            (click)="onchangecategory(ddlcategory.value)">
                            <option value="">All Category</option>
                            <option value="{{a.categoryId}}" *ngFor="let a of Assinedcategory">{{a.categoryname}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div style="position: relative; width: 250px;">
                            <input type="text" placeholder="Search" class="form-control"
                                style="padding-left: 35px; width: 100%;" (input)="onSearchChange($event)">
                            <i class="fa fa-search"
                                style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); color: #888;"></i>
                        </div>
                        <!-- <input name="" id="" placeholder="Search" class="form-control" (input)="onSearchChange($event)"> -->
                    </div>
                </div>
            </div>

            <div class="text-center mt-5">
                <h1 class="text-center"><b>Life in Frames</b></h1>
                <img src="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/prg_text_bg.png" alt="" class="text_bg">
            </div>
            <p class="text-center">Browse through the Mount Litera Zee School gallery to experience the heart of our
                community, capturing the essence of learning, growth, and celebration.</p>

            <div class="news_list mt-5">
                <div class="row">
                    <div class="col-md-5 d-none d-sm-block">
                        <div *ngIf="getFirstData && getFirstData.length; else defaultGallery">
                            <a [href]="getFirstData[0]?.value || 'assets/img/MLZS/MLZS.svg'" data-fancybox="gallery1"
                                class="fancybox">
                                <img [src]="getFirstData[0]?.value || 'assets/img/MLZS/MLZS.svg'" class="pinchzoom_img"
                                    id="image" width="100%" alt="Image" />
                            </a>
                            <ng-container *ngFor="let a of getFirstData.slice(1)">
                                <a [href]="a?.value || 'assets/img/MLZS/MLZS.svg'" data-fancybox="gallery1"
                                    style="display: none;" class="fancybox">
                                </a>
                            </ng-container>
                        </div>

                        <!-- Fallback gallery if no images -->
                        <ng-template #defaultGallery>
                            <a href="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/MLZS.svg" data-fancybox="gallery1" class="fancybox">
                                <img src="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/MLZS.svg" class="pinchzoom_img defaultImg"
                                    width="100%" alt="MLZS" />
                            </a>
                        </ng-template>

                    </div>
                    <div class="col-md-7">
                        <div class="cascade-slider_container">
                            <div class="cascade-slider_slides" [style.transform]="translateY">
                                <div class="cascade-slide item_text"
                                    *ngFor="let img of photoGalleryData; let i = index">
                                    <div class="row" (click)="getGelleryItem(img);">
                                        <div class="col-md-4">
                                            <div class="img_box">
                                                <div *ngIf="img?.logofiles?.length; else defaultImg">
                                                    <div *ngFor="let logo of img.logofiles">
                                                        <img [src]="logo?.value || 'assets/img/MLZS/MLZS.svg'"
                                                            width="100%" alt="MLZS" />
                                                    </div>
                                                </div>

                                                <ng-template #defaultImg>
                                                    <img src="assets/img/MLZS/MLZS.svg" width="100%" alt="MLZS"
                                                        class="defaultImg" />
                                                </ng-template>

                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="news_text">
                                                <h3>{{ img.Title }}</h3>
                                                <p class="m-0 p-0 long_para">{{ img.short }}</p>
                                                <p class="m-0 p-0 date_content mt-2">Date: {{img.StartDate}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cascade-dots">
                                <div class="dot" *ngFor="let dot of [].constructor(totalPages); let i = index"
                                    [class.active]="currentIndex === i" (click)="moveToSlide(i)">
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="box mt-5">
            <div class="video_gallery_content my-5">
                <div class="owl-carousel owl-theme news_owl" id="">
                    <div class="item" *ngFor="let a of videoGalleryList">
                        <div class="video_content" *ngIf="a.safeUrl">
                            <iframe width="1082" height="609" [src]="a.safeUrl" loading="lazy"
                                title="Chiv Chiv Chimni in 3D - Marathi 3D Rhymes | Marathi Balgeet Song मराठी गाणी 2019"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>