.multi_img_group,
.programm_img_content,
.fr_img_content {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

.multi_img_group img,
.programm_img_content img,
.fr_img_content img,
.img_box img {
  width: 100%;
  height: clamp(196px, 20vw, 250px);
  object-fit: cover;
  border-radius: 6px;

}

.long_para {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5rem;
  max-height: 3rem;
}


section {
  background: url("../../../../assets/img/MLZS/bg_svg/Discover-more.svg") no-repeat center center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

p small {
  color: #014876;
}

@media (max-width: 600px) {

  li,
  li button {
    width: 100%;
  }
}

.text_bg {
  width: 12%;
  position: relative;
  bottom: 1.9rem;
  left: 4rem;
  z-index: 1;
  height: 21px;
}

.nav-pills .nav-link,
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  font-size: 13px;
  padding: 5px 25px;
  margin: 5px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background: #014876;
}

.nav-link,
.nav-link:focus {
  color: #014876;
  background: #44C8F5;
}

.liter_img {
  width: 50%;
}

.liter_content {
  margin-left: 57px;
}

.title_content ul {
  padding: 0;
  line-height: 30px;
}

.subMenu_content {
  margin: 1rem auto 0;
  width: 85%;
}

p {
  margin-bottom: 0.5rem;
}

h1 {
  position: relative;
  z-index: 2;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #494a4b;
  background-color: var(--bs-body-bg);
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.date_text {
  font-size: 12px;
  color: #3f3d3d;
}

.img_box {
  width: 100%;
  height: clamp(196px, 20vw, 250px);
  overflow: hidden;
  border: 1px solid #eee;
  border-radius: 6px;

}
h6{
  font-weight: 600;
}


