<section>
    <div class="programmes_main_page">
        <div class="banner_content">
        <img src="../../../../assets/img/MLZS/banner/discover_banner.png" class="w-100" alt="">
    </div>
        <div class="subMenu_content">
            <app-sub-menu></app-sub-menu>
        </div>
       
        <div class="box mt-3">
            <div class="text-center mt-5">
                <h2 class="text-center"><b>{{newsDetailsData?.Title}}</b></h2>
                <img src="../../../../assets/img/MLZS/prg_text_bg.png" alt="" class="text_bg">
            </div>

            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div
      class="carousel-item"
      *ngFor="let item of newsDetailsData?.files; let i = index"
      [class.active]="i === 0">
      <img [src]="item.url" class="d-block w-100" [alt]="item.filename" />
    </div>
  </div>

  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
            <p class="text-center mt-4" [innerHTML]="newsDetailsData?.long1"></p>
        </div>
    </div>
</section>