<section>
    <div class="programmes_main_page">
        <div class="banner_content">
        <img src="../../../../assets/img/MLZS/banner/discover_banner.png" class="w-100" alt="">
    </div>
        <div class="subMenu_content">
            <app-sub-menu></app-sub-menu>
        </div>
        <div class="box dropdown_tab mt-4">
            <div class="row">
                <div class="col-md-4">
                    <select name="" id="" class="form-control">
                        <option value="">Select Category</option>
                    </select>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <input name="" id="" placeholder="Search" class="form-control">
                </div>
            </div>
        </div>
        <div class="mt-3">
          
            <div class="news_list mt-5">
              <app-faqs></app-faqs>
            </div>
        </div>
    </div>
</section>