.multi_img_group{
    display: flex;
    justify-content: center;
  }
  
  .multi_img_group img{
  width: 80%;
  }
  
  section{
  background: url("../../../../assets/img/MLZS/bg_svg/Discover-more.svg") no-repeat center center;
  background-size: contain;
  width: 100%;
  min-height: 100vh;
  }
  @media screen and (max-width: 600px) {
  .right_card{
  margin-top:20px;
  }
  }
  
  
  .text_bg{
    width:23%;
    position: relative;
    bottom:1.5rem;
    z-index: 1;
  }
  
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color:#FFF;
    font-size: 13px;
    padding: 5px 25px;
    background-color:#014876;
    margin: 5px;
  }
  
  .nav-link:focus, .nav-link{
    color:#014876;
    font-size: 13px;
    padding: 5px 25px;
    background-color: #44C8F5;
    margin: 5px;
  }
  .programm_img_content img{
    width: 85%;
    }
  
    .liter_img{
        width: 50%;
    }
  
    .liter_content{
        margin-left: 57px;
    }
  
  .fr_img_content img{
    width: 80%;
  }
  
  .title_content ul{
    padding: 0; 
    line-height: 30px;
  }
  
  @media screen and (max-width: 600px) {
  li{
    width: 100%;
  }
  
  li button{
    width: 100%;
  }
  }
  
  .subMenu_content{
    margin-top: 1rem;
    width: 85%;
    margin: auto;
  }
  
  p{
    margin-bottom: 0.5rem;
  }
  .text_bg{
    width: 10%;
    position: relative;
    bottom: 1.5rem;
    z-index: 1;
    height: 21px;
  }
  
  h2{
    position: relative;
    z-index: 2;
  }
  
  .form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #494a4b;
    appearance:auto;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }
  
  .date_text{
    font-size: 12px;
    color: #3f3d3d;
  }
  
  .input{
    height: 30px;
    font-size:14px;
  }

  .faq_content{
    width: 100%;
    padding: 55px 0px;
    background-color: #004878;
}

.text_bg{
    width:10%;
    position: relative;
    bottom:1.3rem;
    z-index: 1;
    height: 30px;
}

.mat-accordion .mat-expansion-panel{
    /* background-color: #fff;
    padding: 11px 5px 7px 0px;
    border: none;
    margin: 7px 0px;
    border-radius:5px; */
      background-color: #fff;
  padding: clamp(11px, 1vw, 12px) clamp(2px, 1vw, 10px);
  margin: clamp(7px, 0.5vw, 10px) 0;
  border: none;
  border-radius: 5px;
}
h6{
  margin-bottom: 0px !important;
}
@media screen and (max-width: 600px) {
.faq_content{
    width: 100%;
    padding: 5px 10px;
    background-color: #004878;
}
}