<section>
    <div class="programmes_main_page">
        <div class="d-none d-md-block">
        <img src="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/banner/terms-conditions.png" class="img-fluid w-100"
            alt="about banner">
            <h1 class="banner-text">Terms Of Use</h1>
        </div>
        <div class="d-block d-md-none">
        <img src="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/banner/terms-conditions.png" class="img-fluid w-100"
            alt="Mobile banner">
             <h1 class="banner-text">Terms Of Use</h1>
            </div>
            <div class="subMenu_content">
                <app-sub-menu></app-sub-menu>
            </div>
    
        <div class="programmes_content">

            <div class="box">
                <h2 class="mt-4"><strong>Security Rules:</strong></h2>
                <p>Visitors are prohibited from violating or attempting to violate the security of the Web site,
                    including, without limitation, (1) accessing data not intended for such user or logging into a
                    server or account which the user is not authorized to access, (2) attempting to probe, scan or test
                    the vulnerability of a system or network or to breach security or authentication measures without
                    proper authorization, (3) attempting to interfere with service to any user, host or network,
                    including, without limitation, via means of submitting a virus or "Trojan horse" to the Web site,
                    overloading, "flooding", "mail bombing" or "crashing", or (4) sending unsolicited electronic mail,
                    including promotions and/or advertising of products or services. Violations of system or network
                    security may result in civil or criminal liability. ZLL and / or its associate entities will have
                    the right to investigate occurrences that they suspect as involving such violations and will have
                    the right to involve, and cooperate with, law enforcement authorities in prosecuting users who are
                    involved in such violations.</p>
                <h2 class="mt-3"><strong>Prohibited User Content:</strong></h2>
                <p>The following is a partial list of the kind of User Content that is illegal or prohibited on
                    “www.mountlitera.com” ZLL reserves the right to investigate and take appropriate legal action in its
                    sole discretion against anyone who violates this provision, including without limitation, removing
                    the offending User Content from the website and terminating the accounts of such violators.
                    Prohibited User Content includes content that you should not host, display, upload, modify, publish,
                    transmit, update or share including information that:</p>

                <ul class="custom-bullet">
                    <li>Relates to personal or sensitive personal information about yourself or any third party;</li>
                    <li>Is obscene, patently offensive, or promotes racism, bigotry, hatred or physical harm of any kind
                        against any group or individual;</li>
                    <li>Harasses or advocates harassment of another person;</li>
                    <li>Contains nudity, violence, or offensive subject matter;</li>
                    <li>Involves the transmission of "junk mail" or "chain letters" or unsolicited mass mailing;</li>
                    <li>Promotes information that you know is false or misleading or promotes illegal ctivities or
                        conduct that is abusive, threatening, obscene, defamatory or libelous;</li>
                    <li>Exploits people in a sexual or violent manner;</li>
                    <li>Provides any telephone numbers, street addresses, last names, URLs or email addresses, including
                        in your Account profile;</li>
                    <li>Violates the copyright, trademark or other intellectual property rights of any other person;
                    </li>
                    <li>Furthers or promotes any criminal activity or enterprise or provides instructional information
                        about illegal activities such as making or buying illegal weapons, violating someone's privacy,
                        or providing or creating computer viruses;</li>
                    <li>Solicits passwords or personal identifying information for commercial or unlawful purposes from
                        other Users; or Involves commercial activities and/or sales without our prior written consent
                        such as contests, sweepstakes, solicitation of donations, barter, advertising, or pyramid
                        schemes;</li>
                    <li>Belongs to another person and to which the user does not have any right to;</li>
                    <li>Is grossly harmful, harassing, blasphemous defamatory, obscene, pornographic, pedophilic,
                        libelous, invasive of another's privacy, hateful, or racially, ethnically objectionable,
                        disparaging, relating or encouraging money laundering or gambling, or otherwise unlawful in any
                        manner whatever;</li>
                    <li>Harm minors in any way;</li>
                    <li>Infringes any patent, trademark, copyright or other proprietary rights;</li>
                    <li>Violates any law for the time being in force;</li>
                    <li>Deceives or misleads the addressee about the origin of such messages or communicates any
                        information which is grossly offensive or menacing in nature;</li>
                    <li>Impersonate another person;</li>
                    <li>Contains software viruses or any other computer code, files or programs designed to interrupt,
                        destroy or limit the functionality of any computer resource;</li>
                    <li>Threatens the unity, integrity, defence, security or sovereignty of India, friendly relations
                        with foreign states, or public order or causes incitement to the commission of any cognizable
                        offence or prevents investigation of any offence or is insulting any other nation</li>
                </ul>
            
          
            
            </div>
        </div>
    </div>
</section>