<section>
    <div class="programmes_main_page">
        <div class="d-none d-md-block">
            <img src="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/banner/terms-conditions.png"
                class="img-fluid w-100" alt="about banner">
            <h1 class="banner-text">Terms Of Use</h1>
        </div>
        <div class="d-block d-md-none">
            <img src="https://cdn.zeelearn.com/zeecms/mlzsWeb-assets/img/MLZS/banner/terms-conditions.png"
                class="img-fluid w-100" alt="Mobile banner">
            <h1 class="banner-text">Terms Of Use</h1>
        </div>
        <div class="subMenu_content">
            <app-sub-menu></app-sub-menu>
        </div>

        <div class="programmes_content">

            <div class="box">
                <!-- <h2 class="mt-4"><strong>Security Rules:</strong></h2>
                <p>Visitors are prohibited from violating or attempting to violate the security of the Web site,
                    including, without limitation, (1) accessing data not intended for such user or logging into a
                    server or account which the user is not authorized to access, (2) attempting to probe, scan or test
                    the vulnerability of a system or network or to breach security or authentication measures without
                    proper authorization, (3) attempting to interfere with service to any user, host or network,
                    including, without limitation, via means of submitting a virus or "Trojan horse" to the Web site,
                    overloading, "flooding", "mail bombing" or "crashing", or (4) sending unsolicited electronic mail,
                    including promotions and/or advertising of products or services. Violations of system or network
                    security may result in civil or criminal liability. ZLL and / or its associate entities will have
                    the right to investigate occurrences that they suspect as involving such violations and will have
                    the right to involve, and cooperate with, law enforcement authorities in prosecuting users who are
                    involved in such violations.</p>
                <h2 class="mt-3"><strong>Prohibited User Content:</strong></h2>
                <p>The following is a partial list of the kind of User Content that is illegal or prohibited on
                    “www.mountlitera.com” ZLL reserves the right to investigate and take appropriate legal action in its
                    sole discretion against anyone who violates this provision, including without limitation, removing
                    the offending User Content from the website and terminating the accounts of such violators.
                    Prohibited User Content includes content that you should not host, display, upload, modify, publish,
                    transmit, update or share including information that:</p>

                <ul class="custom-bullet">
                    <li>Relates to personal or sensitive personal information about yourself or any third party;</li>
                    <li>Is obscene, patently offensive, or promotes racism, bigotry, hatred or physical harm of any kind
                        against any group or individual;</li>
                    <li>Harasses or advocates harassment of another person;</li>
                    <li>Contains nudity, violence, or offensive subject matter;</li>
                    <li>Involves the transmission of "junk mail" or "chain letters" or unsolicited mass mailing;</li>
                    <li>Promotes information that you know is false or misleading or promotes illegal ctivities or
                        conduct that is abusive, threatening, obscene, defamatory or libelous;</li>
                    <li>Exploits people in a sexual or violent manner;</li>
                    <li>Provides any telephone numbers, street addresses, last names, URLs or email addresses, including
                        in your Account profile;</li>
                    <li>Violates the copyright, trademark or other intellectual property rights of any other person;
                    </li>
                    <li>Furthers or promotes any criminal activity or enterprise or provides instructional information
                        about illegal activities such as making or buying illegal weapons, violating someone's privacy,
                        or providing or creating computer viruses;</li>
                    <li>Solicits passwords or personal identifying information for commercial or unlawful purposes from
                        other Users; or Involves commercial activities and/or sales without our prior written consent
                        such as contests, sweepstakes, solicitation of donations, barter, advertising, or pyramid
                        schemes;</li>
                    <li>Belongs to another person and to which the user does not have any right to;</li>
                    <li>Is grossly harmful, harassing, blasphemous defamatory, obscene, pornographic, pedophilic,
                        libelous, invasive of another's privacy, hateful, or racially, ethnically objectionable,
                        disparaging, relating or encouraging money laundering or gambling, or otherwise unlawful in any
                        manner whatever;</li>
                    <li>Harm minors in any way;</li>
                    <li>Infringes any patent, trademark, copyright or other proprietary rights;</li>
                    <li>Violates any law for the time being in force;</li>
                    <li>Deceives or misleads the addressee about the origin of such messages or communicates any
                        information which is grossly offensive or menacing in nature;</li>
                    <li>Impersonate another person;</li>
                    <li>Contains software viruses or any other computer code, files or programs designed to interrupt,
                        destroy or limit the functionality of any computer resource;</li>
                    <li>Threatens the unity, integrity, defence, security or sovereignty of India, friendly relations
                        with foreign states, or public order or causes incitement to the commission of any cognizable
                        offence or prevents investigation of any offence or is insulting any other nation</li>
                </ul> -->

                <div class="mt-5">
                    <h3>About</h3>
                    <p class="mt-2">These Terms of Use and Privacy Policy <strong>(“Indenture”)</strong> lays down the
                        terms of accessing the website of Mount Litera Zee School <strong>(“School”)</strong>, as well
                        as any of its derivative webpages, microsites, and social media pages<strong>
                            (“Website”)</strong>. By accessing the Website You acknowledge to have understood the terms
                        herein and agree to comply with the same at all times.</p>
                    <p>Should You disagree with any terms of this Indenture, you must refrain from accessing the
                        Website.</p>
                    <h3 class="blog_heading">Separate terms for business and human resource engagements</h3>
                    <p>This Indenture shall not be construed as terms of any commercial dealing with the School, or
                        conditions of human resource appointment. Such associations shall be governed by the School’s
                        agreements for specific purposes. Regardless of Your association with the School, You shall
                        remain liable to be bound by the Indenture all times while accessing the Website.</p>
                    <h3>Intellectual Property and Ownership of Website</h3>
                    <p>No rights in the brand names, trademarks, copyrights, other intellectual properties in the domain
                        name, source code, and other elements of the Website are licensed, assigned, transferred or
                        otherwise conferred to You or any other person acting on your behalf.. No part of the Website
                        and its content shall be reproduced by way of unauthorised downloads, system cracks,
                        screenshots, or any other means. Violation of this condition shall make You liable for
                        prosecution under applicable laws and regulations.</p>

                    <h3>Accessibility</h3>
                    <p>No warranty is being provided with regards to uninterrupted availability of the Website. Your
                        access to Website maybe suspended if it is found that you have breached the terms herein, or if
                        any reasonable suspicion arises in these regards. Further, the Website maybe unavailable due to
                        any technical concerns and/or system maintenance purposes. Our technical infrastructure team
                        shall make all efforts to resume regular accessibility of the Website.</p>
                    <h3>Disclaimer</h3>
                    <p>The content hosted on the Website is for information purposes only, and the possibility of
                        inadvertent errors and/or unavailability of information therein, if any, is not precluded. The
                        School shall not be held liable for such errors.</p>

                    <h3>Privacy of personal information</h3>
                    <ul class="main-list">

                        <!-- A -->
                        <li>
                            <div class="letter">a)</div>

                            <div class="flex-grow-1">
                                You understand that in the course of contacting the School for any reason whatsoever,
                                You may happen to share certain personal information belonging to You (or persons
                                related to you eg. spouse, child, etc.), which may include without limitation - name,
                                address, email id, contact number, etc.
                            </div>
                        </li>

                        <!-- B -->
                        <li>
                            <div class="letter">b)</div>

                            <div class="flex-grow-1">
                                By sharing such information, you undertake that you have the right to share such
                                personal information, and thus provide your consent to the School to:

                                <ul class="sub-list">

                                    <li>
                                        <div class="number">(i)</div>
                                        <div class="text">
                                            Contact you for the purpose of reverting to Your communication sent to the
                                            School;
                                        </div>
                                    </li>

                                    <li>
                                        <div class="number">(ii)</div>
                                        <div class="text">
                                            Receive communications and offers regarding student admissions, for which
                                            the School may utilise services of third-party service providers for
                                            ensuring effective communication;
                                        </div>
                                    </li>

                                    <li>
                                        <div class="number">(iii)</div>
                                        <div class="text">
                                            Use personal information in anonymised form for tracking user behaviour on
                                            the Website, data analysis, audits and for improving user experience;
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="letter">c)</div>

                            <div class="flex-grow-1">
                                You further acknowledge that the School may store such personal information in its
                                records through external data storage service providers. The time frame to retain
                                personal information shall be dependent on its use, being compliant with applicable
                                laws, and to exercise or defend the School’s legal rights. The School may, at its
                                discretion and in compliance with applicable laws, delete your personal data once the
                                purpose of such collection remains fulfilled.
                            </div>
                        </li>

                        <li>
                            <div class="letter">d)</div>

                            <div class="flex-grow-1">
                                Personal information of any person below the age of eighteen years (“Minor”), if
                                intended to be shared with the School, must be done so only through the parent or legal
                                guardian of such Minor. The School shall not be held responsible for Your non-compliance
                                in this regards.
                            </div>
                        </li>

                        <li>
                            <div class="letter">e)</div>

                            <div class="flex-grow-1">
                                Should you wish to rectify the personal information shared with the School, or withdraw
                                the consent given pursuant to this clause, you may contact the Grievance Officer as
                                mentioned herein. You shall be required to share supporting documentation for
                                rectification of your personal information. However, deletion of personal information
                                shall be subject to aforesaid condition at 6(c).
                            </div>
                        </li>

                        <li>
                            <div class="letter">f)</div>

                            <div class="flex-grow-1">
                                Though the School uses appropriate standards to secure the personal information shared
                                with it, the possibility of technical defects or breaches cannot be absolutely
                                prevented.
                            </div>
                        </li>

                        <li>
                            <div class="letter">g)</div>

                            <div class="flex-grow-1">
                                Nothing stated herein shall prevent the School from sharing any personal information
                                with any statutory or law enforcement authorities.
                            </div>
                        </li>
                    </ul>


                    <h3>Breach</h3>
                    <p>Breach of any conditions stipulated in these terms of use may result in suspension of Your access
                        to the Website, including initiation of appropriate legal actions and claim for damages against
                        You.</p>
                    <h3>Limitation of liability</h3>
                    <p>You agree that you shall not hold the School liable for any losses or damages arising out of its
                        usage, suspension or unavailability.</p>
                    <h3>Changes to these terms</h3>
                    <p>The terms of this Indenture maybe revised at the sole discretion of the School, without any
                        targeted intimation to its visitors. Thus, You are advised to keep yourself informed about the
                        terms herein while accessing the Website.</p>
                    <h3>Governing Law and Jurisdiction</h3>
                    <p>This Indenture shall be construed in accordance with the laws of India. The Courts at Mumbai
                        shall have exclusive jurisdiction in any proceedings arising out of this Indenture.</p>
                    <h3>Grievance Officer</h3>
                    <p>If you have any grievances with this Indenture, you may contact us at
                        customer.support@zeelearn.com OR if you are an Investor contact us at -
                        investor_relations@zeelearn.com.</p>
                    <p>Kindly be informed that any communications sent to the above email id, which does not pertain to
                        grievances regarding this Indenture, shall not be entertained or reverted to. The School
                        reserves the right to determine whether the communication addressed is within or beyond the
                        ambit of this Indenture.</p>
                </div>

            </div>
        </div>
    </div>
</section>