<section>
    <div class="programmes_main_page">
        <div class="banner_content">
        <img src="../../../../assets/img/MLZS/banner/discover_banner.png" class="w-100" alt="">
    </div>
        <div class="subMenu_content">
            <app-sub-menu></app-sub-menu>
        </div>
        <div class="box dropdown_tab mt-4">
            
            <div class="row">
                <div class="col-md-4">
                    <select name="" id="" class="form-control">
                        <option value="">Select Category</option>
                    </select>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <input name="" id="" placeholder="Search" class="form-control">
                </div>
            </div>
        <div class="mt-3">
          
            <div class="news_list mt-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title_content text-center">
                            <h2><b>Achievements</b></h2>
                            <img src="../../../assets/img/MLZS/text-bg.png" class="text_bg" alt="">
                            <div>
                                <p>Explore the exceptional achievements of Mount Litera Zee School, where every milestone highlights our commitment to nurturing talent, fostering excellence in education, and driving student success through innovation and holistic growth.</p>
                                <h5 class="text-center mt-2"><b>Schools' Achievements</b></h5>
                                <p class="text-center">Celebrating the milestones and accolades that showcase our school's commitment to excellence and growth.</p>
                            
                            </div>
                        </div>
        
                        <div class="home-demo mt-3">
                            <div class="owl-carousel owl-theme news_owl" id="">
                              <div class="item">
                                <div class="item_img_content">
                                  <img src="../../../assets/img/MLZS/news1.png" alt="">
                                </div>
                                <hr>
                                <div class="item_text mt-2">
                                
                                  <h6>Zee Learn as the Most Trusted Education Brand</h6>
                                  <p>8 MARCH 24</p>
                                </div>
                              </div>
                              <div class="item">
                                <div class="item_img_content">
                                  <img src="../../../assets/img/MLZS/news2.png" alt="">
                                </div>
                                <hr>
                                <div class="item_text mt-2">
                                
                                  <h6>Mount Litera Zee School learning journey </h6>
                                  <p>4 MAY 24</p>
                                </div>
                              </div>
                              <div class="item">
                                <div class="item_img_content">
                                  <img src="../../../assets/img/MLZS/news3.png" alt="">
                                </div>
                                <hr>
                                <div class="item_text mt-2">
                                
                                  <h6>Mount Litera Zee School learning journey</h6>
                                  <p>4 MAY 24</p>
                                </div>
                              </div>
                              <div class="item">
                                <div class="item_img_content">
                                  <img src="../../../assets/img/MLZS/news3.png" alt="">
                                </div>
                                <hr>
                                <div class="item_text mt-2">
                                
                                  <h6>Zee Learn as the Most Trusted Education Brand</h6>
                                  <p>8 MARCH 24</p>
                                </div>
                              </div>
                              <div class="item">
                                <div class="item_img_content">
                                  <img src="../../../assets/img/MLZS/news3.png" alt="">
                                </div>
                                <hr>
                                <div class="item_text mt-2">
                                
                                  <h6>Zee Learn as the Most Trusted Education Brand</h6>
                                  <p>8 MARCH 24</p>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="title_content text-center">
                            <!-- <h2><b>Achievements</b></h2>
                            <img src="../../../assets/img/MLZS/text-bg.png" class="text_bg" alt=""> -->
                            <div>
                                <p>Students' Achievements</p>
                                <h5 class="text-center mt-2"><b>Schools' Achievements</b></h5>
                                <p class="text-center">Honouring the remarkable accomplishments of our students in academics, sports, and beyond.</p>
                            
                            </div>
                        </div>
        
                        <div class="home-demo mt-3">
                            <div class="owl-carousel owl-theme news_owl" id="">
                              <div class="item">
                                <div class="item_img_content">
                                  <img src="../../../assets/img/MLZS/news1.png" alt="">
                                </div>
                                <hr>
                                <div class="item_text mt-2">
                                
                                  <h6>Zee Learn as the Most Trusted Education Brand</h6>
                                  <p>8 MARCH 24</p>
                                </div>
                              </div>
                              <div class="item">
                                <div class="item_img_content">
                                  <img src="../../../assets/img/MLZS/news2.png" alt="">
                                </div>
                                <hr>
                                <div class="item_text mt-2">
                                
                                  <h6>Mount Litera Zee School learning journey </h6>
                                  <p>4 MAY 24</p>
                                </div>
                              </div>
                              <div class="item">
                                <div class="item_img_content">
                                  <img src="../../../assets/img/MLZS/news3.png" alt="">
                                </div>
                                <hr>
                                <div class="item_text mt-2">
                                
                                  <h6>Mount Litera Zee School learning journey</h6>
                                  <p>4 MAY 24</p>
                                </div>
                              </div>
                              <div class="item">
                                <div class="item_img_content">
                                  <img src="../../../assets/img/MLZS/news3.png" alt="">
                                </div>
                                <hr>
                                <div class="item_text mt-2">
                                
                                  <h6>Zee Learn as the Most Trusted Education Brand</h6>
                                  <p>8 MARCH 24</p>
                                </div>
                              </div>
                              <div class="item">
                                <div class="item_img_content">
                                  <img src="../../../assets/img/MLZS/news3.png" alt="">
                                </div>
                                <hr>
                                <div class="item_text mt-2">
                                
                                  <h6>Zee Learn as the Most Trusted Education Brand</h6>
                                  <p>8 MARCH 24</p>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="title_content text-center">
                            <div>
                                <p>Students' Achievements</p>
                                <h5 class="text-center mt-2"><b>Teachers' Achievements</b></h5>
                                <p class="text-center">Honouring the remarkable accomplishments of our students in academics, sports, and beyond.

                                </p>
                            
                            </div>
                        </div>
        
                        <div class="home-demo mt-3">
                            <div class="owl-carousel owl-theme news_owl" id="">
                              <div class="item">
                                <div class="item_img_content">
                                  <img src="../../../assets/img/MLZS/news1.png" alt="">
                                </div>
                                <hr>
                                <div class="item_text mt-2">
                                
                                  <h6>Zee Learn as the Most Trusted Education Brand</h6>
                                  <p>8 MARCH 24</p>
                                </div>
                              </div>
                              <div class="item">
                                <div class="item_img_content">
                                  <img src="../../../assets/img/MLZS/news2.png" alt="">
                                </div>
                                <hr>
                                <div class="item_text mt-2">
                                
                                  <h6>Mount Litera Zee School learning journey </h6>
                                  <p>4 MAY 24</p>
                                </div>
                              </div>
                              <div class="item">
                                <div class="item_img_content">
                                  <img src="../../../assets/img/MLZS/news3.png" alt="">
                                </div>
                                <hr>
                                <div class="item_text mt-2">
                                
                                  <h6>Mount Litera Zee School learning journey</h6>
                                  <p>4 MAY 24</p>
                                </div>
                              </div>
                              <div class="item">
                                <div class="item_img_content">
                                  <img src="../../../assets/img/MLZS/news3.png" alt="">
                                </div>
                                <hr>
                                <div class="item_text mt-2">
                                
                                  <h6>Zee Learn as the Most Trusted Education Brand</h6>
                                  <p>8 MARCH 24</p>
                                </div>
                              </div>
                              <div class="item">
                                <div class="item_img_content">
                                  <img src="../../../assets/img/MLZS/news3.png" alt="">
                                </div>
                                <hr>
                                <div class="item_text mt-2">
                                
                                  <h6>Zee Learn as the Most Trusted Education Brand</h6>
                                  <p>8 MARCH 24</p>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>