<section>
  <div class="programmes_main_page">
    <div class="banner_content">
      <img src="../../../../assets/img/MLZS/banner/achievement_top_banner.png" class="img-fluid d-none d-md-block w-100"
            alt="about banner">
        <img src="../../../../assets/img/MLZS/banner/mobile_banner/Achievements_mobile.jpg"
            class="img-fluid d-block d-md-none w-100" alt="Mobile banner">
    </div>
    <div class="subMenu_content">
      <app-sub-menu></app-sub-menu>
    </div>
    <div class="box dropdown_tab mt-4">

      <div class="row">
        <div class="col-md-4">
          <select #ddlcategory name="" id="" class="form-control" [(ngModel)]="selectedcategory"
            (click)="onchangecategory(ddlcategory.value)">
            <option value="">All Category</option>
            <option value="{{data?.categoryId}}" *ngFor="let data of AssignCategory">{{data.categoryname}}</option>
          </select>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div style="position: relative; width: 250px;">
            <input type="text" placeholder="Search" class="form-control" style="padding-left: 35px; width: 100%;"
              (input)="onSearchChange($event)">
            <i class="fa fa-search"
              style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); color: #888;"></i>
          </div>
          <!-- <input name="" id="" placeholder="Search" class="form-control" (input)="onSearchChange($event)"> -->
        </div>
      </div>
      <div class="my-5">

        <div *ngIf="selectedcategory == '104' || selectedcategory == ''" class="news_list mt-5">
          <div class="row">
            <div class="col-md-12">
              <div class="title_content text-center">
                <h2><b>Moments of Glory</b></h2>
                <img src="../../../../assets/img/MLZS/prg_text_bg.png" class="text_bg" alt="">
                <div>
                  <p>Explore the exceptional achievements of Mount Litera Zee School, where every milestone highlights
                    our commitment to nurturing talent, fostering excellence in education, and driving student success
                    through innovation and holistic growth.</p>
                  <h5 class="text-center mt-5"><b>School's Achievements</b></h5>
                  <p class="text-center">Celebrating the milestones and accolades that showcase our school's commitment to excellence and growth.</p>

                </div>
              </div>

              <div class="home-demo mt-4 achievements">
                <div class="owl-carousel owl-theme news_owl" id="">
                  <div class="item" *ngFor="let a of Schoolachievement">
                    <div class="item_img_content">
                      <div *ngFor="let img of a?.logofiles">
                        <img src="{{img.value}}" alt="{{a.Title}}">
                      </div>
                    </div>
                    <div class="item_text mt-2">
                      <h6>{{a.Title}}</h6>
                      <div class="card_subPara">
                      <p [innerHTML]="a.short"></p>
                      </div>
                      <!-- <p class="date">Date:{{a.StartDate}}</p> -->
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="selectedcategory == '106' || selectedcategory == ''" class="news_list mt-5">
          <div class="row">
            <div class="col-md-12">
              <div class="title_content text-center">
                <div>
                  <h5 class="text-center"><b>Student's Achievements</b></h5>
                  <p class="text-center">Honouring the remarkable accomplishments of our students in academics, sports, and beyond.</p>
                </div>
              </div>
              <div class="home-demo achievements mt-4">
                <div class="owl-carousel owl-theme news_owl" id="">
                  <div class="item" *ngFor="let a of Studentachievement">
                    <div class="item_img_content">
                      <div *ngFor="let img of a.logofiles">
                        <img src="{{img.value}}" alt="{{a.Title}}">
                      </div>
                    </div>
                    <div class="item_text mt-2">
                      <h6>{{a.Title}}</h6>
                      <div class="card_subPara">
                      <p [innerHTML]="a.short"></p>
                      </div>
                      <!-- <p class="date">Date:{{a.StartDate}}</p> -->
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="selectedcategory == '105' || selectedcategory == ''" class="news_list mt-5">
          <div class="row">
            <div class="col-md-12">
              <div class="title_content text-center">
                <div>
                  <h5 class="text-center"><b>Teacher's Achievements</b></h5>
                  <p class="text-center">Recognising the outstanding contributions of our teachers in shaping future leaders and innovators.</p>

                </div>
              </div>
              <div class="home-demo achievements mt-4">
                <div class="owl-carousel owl-theme news_owl" id="">
                  <div class="item" *ngFor="let a of Teacherachievement">
                    <div class="item_img_content">
                      <div *ngFor="let img of a.logofiles">
                        <img src="{{img.value}}" alt="{{a.Title}}">
                      </div>
                    </div>
                    <div class="item_text mt-2">
                      <h6>{{a.Title}}</h6>
                       <div class="card_subPara">
                      <p [innerHTML]="a.short"></p>
                     </div>
                      <!-- <p class="date">Date:{{a.StartDate}}</p> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>