<section>
    <div class="programmes_main_page">
        <div class="banner_content">
        <img src="../../../../assets/img/MLZS/banner/discover_banner.png" class="w-100" alt="">
    </div>
        <div class="subMenu_content">
            <app-sub-menu></app-sub-menu>
        </div>
        <div class="box dropdown_tab mt-4">
            
            <div class="row">
                <div class="col-md-4">
                    <select #ddlcategory name="" id="" class="form-control" [(ngModel)]="selectedcategory" (click)="onchangecategory(ddlcategory.value)">
                        <option value="">All Category</option>
                        <option value="{{data?.categoryId}}" *ngFor="let data of AssignCategory">{{data.categoryname}}</option>
                    </select>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <input name="" id="" placeholder="Search" class="form-control" (input)="onSearchChange($event)">
                </div>
            </div>
        <div class="mt-3">
          
            <div *ngIf="selectedcategory == '104' || selectedcategory == ''" class="news_list mt-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title_content text-center">
                            <h2><b>Achievements</b></h2>
                            <img src="../../../assets/img/MLZS/text-bg.png" class="text_bg" alt="">
                            <div>
                                <p>Explore the exceptional achievements of Mount Litera Zee School, where every milestone highlights our commitment to nurturing talent, fostering excellence in education, and driving student success through innovation and holistic growth.</p>
                                <h5 class="text-center mt-2"><b>School's Achievements</b></h5>
                                <p class="text-center">Celebrating the milestones and accolades that showcase our school's commitment to excellence and growth.</p>
                            
                            </div>
                        </div>
        
                        <div class="home-demo mt-3">
                            <div class="owl-carousel owl-theme news_owl" id="">
                              <div class="item" *ngFor="let a of Schoolachievement">
                                <div class="item_img_content">
                                  <div *ngFor="let img of a.OtherFiles">
                                  <img src="{{img.value}}" alt="{{a.Title}}">
                                  </div>
                                </div>
                                <hr>
                                <div class="item_text mt-2">
                                  <h6>{{a.Title}}</h6>
                                  <p class="shortPara" [innerHTML]="a.short"></p>
                                  <p class="date">Date:{{a.StartDate}}</p>
                                </div>
                              </div>
                           
                            </div>
                          </div>
                    </div>
                </div>
            </div>
              <div *ngIf="selectedcategory == '105' || selectedcategory == ''" class="news_list mt-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title_content text-center">
                            <h2><b>Achievements</b></h2>
                            <img src="../../../assets/img/MLZS/text-bg.png" class="text_bg" alt="">
                            <div>
                                <p>Explore the exceptional achievements of Mount Litera Zee School, where every milestone highlights our commitment to nurturing talent, fostering excellence in education, and driving student success through innovation and holistic growth.</p>
                                <h5 class="text-center mt-2"><b>Teacher's Achievements</b></h5>
                                <p class="text-center">Celebrating the milestones and accolades that showcase our school's commitment to excellence and growth.</p>
                            
                            </div>
                        </div>
        
                        <div class="home-demo mt-3">
                            <div class="owl-carousel owl-theme news_owl" id="">
                              <div class="item" *ngFor="let a of Teacherachievement">
                                <div class="item_img_content">
                                  <div *ngFor="let img of a.OtherFiles">
                                  <img src="{{img.value}}" alt="{{a.Title}}">
                                  </div>
                                </div>
                                <hr>
                                <div class="item_text mt-2">
                                  <h6>{{a.Title}}</h6>
                                  <p class="shortPara" [innerHTML]="a.short"></p>
                                  <p class="date">Date:{{a.StartDate}}</p>
                                </div>
                              </div>                             
                            </div>
                          </div>
                    </div>
                </div>
            </div>
              <div *ngIf="selectedcategory == '106' || selectedcategory == ''" class="news_list mt-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title_content text-center">
                            <h2><b>Achievements</b></h2>
                            <img src="../../../assets/img/MLZS/text-bg.png" class="text_bg" alt="">
                            <div>
                                <p>Explore the exceptional achievements of Mount Litera Zee School, where every milestone highlights our commitment to nurturing talent, fostering excellence in education, and driving student success through innovation and holistic growth.</p>
                                <h5 class="text-center mt-2"><b>Student's Achievements</b></h5>
                                <p class="text-center">Celebrating the milestones and accolades that showcase our school's commitment to excellence and growth.</p>
                            
                            </div>
                        </div>
        
                        <div class="home-demo mt-3">
                            <div class="owl-carousel owl-theme news_owl" id="">
                              <div class="item" *ngFor="let a of Studentachievement">
                                <div class="item_img_content">
                                  <div *ngFor="let img of a.OtherFiles">
                                  <img src="{{img.value}}" alt="{{a.Title}}">
                                  </div>
                                </div>
                                <hr>
                                <div class="item_text mt-2">
                                  <h6>{{a.Title}}</h6>
                                  <p class="shortPara" [innerHTML]="a.short"></p>
                                  <p class="date">Date:{{a.StartDate}}</p>
                                </div>
                              </div>
                             
                            </div>
                          </div>
                    </div>
                </div>


                
            </div>
        </div>
    </div>
</div>
</section>