<section>
    <div class="main_content">
        <div class="start_school_banner">
          <img src="../../../assets/img/MLZS/banner/parents-corner.png" width="100%" alt="">
        </div>
        <div class="menu_content">
            <app-sub-menu></app-sub-menu>
        </div>
      
        <div class="box">
            <div class="tab_list">
            <button class="btn tab_btn">Child development - Know child 
                development issues</button>
                <button class="btn tab_btn">Get Mount litera expert help</button>
                    <button class="btn tab_btn">Mount litera - Parents issue and advice</button>
                        <button class="btn tab_btn">Parents tesimonial</button>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="title_content text-center mt-3">
                        <h2 class="text-white"><b>Parents corner </b></h2>
                        <img src="../../../assets/img/MLZS/text-bg.png" class="text_bg" alt="">
                        <div class="text-white text-center">
                            <p>For all parents interested in equipping their children, we are pleased to offer many recently published articles</p>
                            <p>about relevant education subjects, several free resources, lots of inspiration, and much heartfelt encouragement</p>
                           </div>
                    </div>
                    <div class="home-demo mt-4">
                        <div class="owl-carousel owl-theme parent_owl" id="">
                          <div class="item">
                            <div class="item_img_content">
                                <img class="text_bg" src="../../../assets/img/MLZS/pr1.png">
                            </div>
                            <hr>
                            <div class="item_text mt-2">
                            <img src="../../../assets/img/MLZS/Quote.png" alt="">
                              <h6 class="mt-2">Hear from our parent at Mount Litera Zee School.</h6>
                              <!-- <p>8 MARCH 24</p> -->
                            </div>
                          </div>
                          <div class="item">
                            <div class="item_img_content">
                                <img class="text_bg" src="../../../assets/img/MLZS/pr2.png">
                            </div>
                            <hr>
                            <div class="item_text mt-2">
                                <img src="../../../assets/img/MLZS/Quote.png" alt="">
                              <h6 class="mt-2">Hear from our parent at Mount Litera Zee School.</h6>
                              <!-- <p>4 MAY 24</p> -->
                            </div>
                          </div>
                          <div class="item">
                            <div class="item_img_content">
                                <img class="text_bg" src="../../../assets/img/MLZS/pr3.png">
                            </div>
                            <hr>
                            <div class="item_text mt-2">
                                <img src="../../../assets/img/MLZS/Quote.png" alt="">
                              <h6 class="mt-2">Hear from our parent at Mount Litera Zee School.</h6>
                              <!-- <p>4 MAY 24</p> -->
                            </div>
                          </div>
                          <div class="item">
                            <div class="item_img_content">
                                <img class="text_bg" src="../../../assets/img/MLZS/pr3.png">
                            </div>
                            <hr>
                            <div class="item_text mt-2">
                                <img src="../../../assets/img/MLZS/Quote.png" alt="">
                              <h6 class="mt-2">Zee Learn as the Most Trusted Education Brand</h6>
                            </div>
                          </div>
                          <div class="item">
                            <div class="item_img_content">
                                <img class="text_bg" src="../../../assets/img/MLZS/pr3.png">
                            </div>
                            <hr>
                            <div class="item_text mt-2">
                                <img src="../../../assets/img/MLZS/Quote.png" alt="">
                              <h6 class="mt-2">Zee Learn as the Most Trusted Education Brand</h6>
                              <!-- <p>8 MARCH 24</p> -->
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
  <div class="my-5">
    <app-faqs></app-faqs>
  </div>
  <div class="my-5">
    <app-blogs></app-blogs>
    </div>

    <div class="my-5">
        <app-testimonial></app-testimonial>
        </div>
    </div>
    

</section>