* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}


section {
    overflow-x: hidden;
}

@font-face {
    font-family: 'Lato';
    src: url('assets/font/lato/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Fredoka';
    src: url('assets/font/static/Fredoka-Bold.ttf');
}

@font-face {
    font-family: 'Fredoka_light';
    src: url('assets/font/static/Fredoka-Light.ttf');
}

@font-face {
    font-family: 'Montserrat_bold';
    src: url('assets/font/montserrat/Montserrat-Bold.ttf');
}

.chain_text {
    color: #65318E;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-family: 'Fredoka';
    font-weight: 900;
    line-height: normal;
}

.banner_title {
    color: #FFF;
    font-size: 30px;
    font-family: 'Fredoka';
    letter-spacing: 1px
}

.title {
    color: #65318E;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-family: 'Fredoka' !important;
}

.sub_title {
    color: #65318E;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-family: 'Fredoka' !important;
}

.whiteTitle {
    color: #FFF;
    font-style: normal;
    line-height: normal;
    margin-top: 90px;
    font-family: 'Fredoka';
}


.subTitle {
    color: #282828;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: 'Fredoka_light' !important;
}

.img_sub_title {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

.paragraph_content {
    color: #282828;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-align: justify;
}

.faqImg_style {
    width: 300px;
    height: 300px;
    float: right;
}

.img_content {
    width: 300px;
    margin: auto;
}

.doth {
    font-size: 35px;
    font-weight: bold;
}

.liText {
    color: #282828;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    margin-left: 5px;
}

.activeTab {
    background: #65318E !important;
    border: #65318E !important;
    color: #fff !important;
}

::-webkit-scrollbar {
    /* height: 4px; */
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #BCBCBC;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #BCBCBC;
}

.buttonList_content {
    width: 55%;
    margin: auto;
}


.subMenu_content {
    margin-top: 1rem;
    width: 85%;
    margin: auto;
}

.owl-item {
    border-radius: 7px !important;
}

@media screen and (max-width: 600px) {
    p {
        text-align: justify;
    }

    .buttonList_content {
        overflow: auto;
        width: 100%;
        margin: auto;
        display: flex;
        overflow-y: hidden;
        float: left;
        white-space: nowrap;
        display: inline;
    }

    .buttonList_content::-webkit-scrollbar {
        width: 5px;
        height: 10px;
        border-radius: 10px;
    }

    .paragraph_content {
        color: #282828;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        text-align: justify;
    }

    .preSchoolContent {
        width: 100%;
    }

    .text_content {
        width: 100%;
        /* padding: 10px 35px; */
    }

    .whiteTitle {
        margin-top: 50px;
    }

    .title {
        color: #65318E;
        font-style: normal;
        text-align: center;
        margin-top: 20px;
        font-weight: bold;
        line-height: normal;
        font-size: 1.8rem;
    }

    .row {
        --bs-gutter-x: 0 !important;
    }

    .subTitle {
        color: #282828;
        font-size: 1.2rem;
        text-align: center;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
}

html {
    overflow-x: hidden !important;
}

body {
    /* background-color: #EBE1FF; */
    font-family: 'Poppins';
    overflow-x: hidden !important;
}

p, 
button{
  font-family: 'Poppins' !important;
  font-size: 14px !important;
}
li{
font-family: 'Poppins' !important;
}
h2,h6{
    overflow: hidden;
}
.sub_text_black {
    color: #000;
    font-size: 16px !important;
    text-align: left;
}

.sub_text {
    font-style: normal;
    line-height: normal;
    color: #6D2A93;
    font-weight: bold !important;
    font-size: 20px;
    text-align: left;
}

@font-face {
    font-family: 'Sniglet';
    src: url('assets/font/Sniglet/Sniglet-Regular.ttf');
}

.grey_btn {
    border-radius: 15px 5px 15px 5px;
    padding: 5px 20px 5px 20px;
    color: #000;
    font-size: 18px !important;
    margin-left: 10px;
    font-family: 'Sniglet' !important;
}

.grey_btn:active,
.grey_btn:focus {
    background: #6D2A93 !important;
    border: #6D2A93 !important;
    color: #FFF !important;
}

.box {
    width: 85%;
    margin: auto;
}

.title_content h1 {
    position: relative;
    z-index: 9;
}

.read_mode {
    background-color: #44C8F5;
    color: #004877;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
    padding: 4px 6px;
    font-size: 12px;
}

.read_mode:hover {
    background-color: #35a9cf;
    color: #004877;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}


.title_content h1 {
    position: relative;
    z-index: 9;
    font-family: 'Montserrat_bold';
}

.title_content h2 {
    position: relative;
    z-index: 9;
    font-family: 'Montserrat_bold';
}

.shortPara {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Limit to 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.date {
    font-size: 11px;
}

.tab_title {
    color: rgba(137, 40, 144, 1);
    font-size: 1.5rem;
    font-weight: 600;
}

.banner h1 {
  font: bold clamp(1.5rem, 4vw, 3rem) 'Playfair Display', serif;
  color: #8d3dad;
  padding: 10px 20px;
  border-radius: 10px;
  margin-left: 3.8rem;
}

.strong_title strong{
    font-size: 1rem;
}

.faq_bg{
    background-color:rgba(1, 72, 118, 1) !important;
}
.faq_bg .text_bg{
    position: relative;
    z-index: 1;
    width: 7% !important;
    bottom: 1.5rem !important;
}

.long_para{
  display: -webkit-box; 
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; 
  font-size: 14px;

}

.locat_us_content{
background-color:rgba(0, 72, 120, 1)
}

.locat_us_content h2 {
    font-weight: 700;
    color: white;
    position: relative;
    z-index: 9;
}

.locat_us_content .text_bg {
    width: 11%;
    position: relative;
    bottom: 1.7rem;
    z-index: 0;
    left: 4rem;
    height:30px;
}