<section>
    <div class="programmes_main_page">
        <div class="banner_content">
        <img src="../../../../assets/img/MLZS/banner/discover_blog.png" class="w-100" alt="">
    </div>
        <div class="subMenu_content">
            <app-sub-menu></app-sub-menu>
        </div>
       
        <div class="box mt-3">
            <div class="text-center mt-5">
                <h1 class="text-center"><b>{{blog_detailsData.Title}}</b></h1>
                <img src="../../../../assets/img/MLZS/prg_text_bg.png" alt="" class="text_bg">
            </div>
            <p class="author_text">Author Name: {{blog_detailsData.MetaAuthor}}</p>
            <p class="date_text">Date: {{blog_detailsData.dateCreated}}</p>
            <div class="row">
              <div class="col-md-7">
                <p class="text-center m-0 p-0" [innerHTML]="blog_detailsData.long1"></p>
              </div>
           
<div class="col-md-5">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div
      class="carousel-item"
      *ngFor="let item of blog_detailsData.files; let i = index"
      [class.active]="i === 0">
      <img [src]="item.url" class="d-block w-100" [alt]="item.filename" />
    </div>
  </div>

  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
            </div> 
        </div>
    </div>
</section>