<section>
    <div class="programmes_main_page">
        <div class="banner_content">
        <img src="../../../../assets/img/MLZS/banner/discover_blog.png" class="img-fluid d-none d-md-block w-100"
            alt="about banner">
        <img src="../../../../assets/img/MLZS/banner/mobile_banner/Blogs.jpg"
            class="img-fluid d-block d-md-none w-100" alt="Mobile banner">
    </div>
        <div class="subMenu_content">
            <app-sub-menu></app-sub-menu>
        </div>
       
        <div class="box my-3">
          <h2 class="text-center mt-5"><b>{{blog_detailsData?.Title}}</b></h2>
            <div class="row my-4">
              <div class="col-md-7">
                <div class="content-box">
            <div class="text-center">
                <img src="../../../../assets/img/MLZS/prg_text_bg.png" alt="" class="text_bg">
            </div>
            <p class="author_text">Author Name: {{blog_detailsData?.MetaAuthor}}</p>
            <p class="date_text">Date: {{blog_detailsData?.dateCreated}}</p>
            </div>
                <p class="text-center m-0 p-0" [innerHTML]="blog_detailsData?.long1"></p>
              </div>
           
<div class="col-md-5">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <!-- <div
      class="carousel-item"
      *ngFor="let item of blog_detailsData.files; let i = index"
      [class.active]="i === 0">
      <img [src]="item.url" class="d-block w-100" [alt]="item.filename" />
    </div> -->
    <div class="carousel-inner">

  <!-- Check if files exist -->
  <ng-container *ngIf="blog_detailsData?.files?.length; else defaultBlogCarousel">
    <div
      class="carousel-item"
      *ngFor="let item of blog_detailsData.files; let i = index"
      [class.active]="i === 0">

      <img 
        [src]="item?.url || 'assets/img/MLZS/MLZS.svg'" 
        class="d-block w-100" 
        [alt]="item?.filename || 'Default Blog Image'"
      />

    </div>
  </ng-container>

  <!-- Fallback if no files -->
  <ng-template #defaultBlogCarousel>
    <div class="carousel-item active">
      <img 
        src="assets/img/MLZS/MLZS.svg" 
        class="d-block w-100 defaultImg" 
        alt="Default Blog Image"
      />
    </div>
  </ng-template>

</div>

  </div>

  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
            </div> 
        </div>
    </div>
</section>